{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
 <div class="split-section__contact">
    {{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

    <div class="color-{{ section.settings.color_scheme }} gradient">
      <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
<h2 class="text-heading">Contact us</h2>
        {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
          {%- if form.posted_successfully? -%}
            <div class="form-status">
              <div class="form-status__icon">
<svg xmlns="http://www.w3.org/2000/svg" width="78" height="123" viewBox="0 0 78 123" fill="none">
  <path d="M13.3633 96.4316C13.3633 96.4097 13.3633 96.4097 13.3633 96.395C13.4329 96.6221 13.5281 96.9298 13.6856 97.4279L13.3633 96.4316Z" fill="#666460"/>
  <path d="M16.638 103.907L16.4512 103.508C16.4805 103.508 16.5537 103.647 16.638 103.907Z" fill="#666460"/>
  <path d="M20.9368 118.872C20.9368 118.872 20.9206 118.86 20.9084 118.836C20.9084 118.807 20.9206 118.836 20.9368 118.872Z" fill="#666460"/>
  <path d="M18.9129 113.125C18.8836 112.997 18.8469 112.847 18.8103 112.697C18.8616 112.876 18.9312 113.1 18.9129 113.125Z" fill="#666460"/>
  <path d="M18.7691 112.497C18.7838 112.563 18.7984 112.632 18.8131 112.702C18.7801 112.588 18.7545 112.497 18.7691 112.497Z" fill="#666460"/>
  <path d="M50.5251 93.4453C50.1918 93.7457 49.8731 93.9618 49.5435 94.1998L50.5251 93.4453Z" fill="#666460"/>
  <path d="M49.7434 93.4014L49.5164 93.6211C49.5969 93.5369 49.6702 93.4673 49.7434 93.4014Z" fill="#666460"/>
  <path d="M14.3867 95.9775C14.3171 95.527 13.9765 94.6663 14.0351 94.6553C14.1633 95.1131 14.405 95.7468 14.3867 95.9775Z" fill="#666460"/>
  <path d="M49.741 93.4043L50.0083 93.1479C49.9937 93.1773 49.9681 93.2102 49.9461 93.2432C49.8802 93.2908 49.8106 93.3421 49.7446 93.4007L49.741 93.4043Z" fill="#666460"/>
  <path d="M49.5484 94.1997L48.988 94.6319C49.1822 94.4671 49.369 94.3316 49.5484 94.1997Z" fill="#666460"/>
  <path d="M34.469 25.3369C33.2517 21.5864 30.9634 16.8488 28.6969 13.6064C28.3314 12.8131 27.593 11.7969 26.8399 10.7843H26.6242L25.9991 9.94718C25.6884 9.65474 26.4853 10.5869 25.9589 10.0495C25.9005 9.92524 25.8493 9.7973 25.7871 9.68032C25.736 9.66936 25.2827 9.17952 24.9793 8.86149C24.6612 8.55808 24.5077 8.41551 25.0487 9.0991C24.1385 8.11576 23.188 7.17629 22.1645 6.35014C21.4773 5.82009 21.8501 5.92244 21.0532 5.38142C20.9582 5.34852 21.024 5.40336 21.1044 5.4655C21.1812 5.53496 21.2652 5.61172 21.2177 5.61538C20.9216 5.41067 20.6438 5.25714 20.4025 5.09264C20.1649 4.92448 19.9419 4.78923 19.7372 4.66494C19.5325 4.537 19.3497 4.41271 19.1743 4.29208C18.9988 4.17876 18.8233 4.08371 18.6552 3.9777C18.4834 3.87535 18.3189 3.76934 18.1398 3.66698C17.957 3.57925 17.7669 3.49152 17.5585 3.40013C17.3502 3.30508 17.1272 3.21004 16.8676 3.1479C16.6118 3.08575 16.3303 2.99071 16.0086 2.94684C16.078 2.96512 16.1512 2.97974 16.2206 3.00899C16.0122 2.93588 15.6942 2.89567 15.4347 2.84083C15.3031 2.81524 15.1861 2.79697 15.102 2.77869C15.0143 2.77138 14.9631 2.76772 14.9595 2.76041C15.1313 2.67268 15.2482 2.72751 15.4164 2.78234C15.5846 2.84449 15.8039 2.91029 16.206 2.92857C16.1694 2.76772 15.2373 2.70192 15.3031 2.59957C14.996 2.57398 14.7511 2.5886 14.5171 2.55205C14.2832 2.53011 14.0565 2.48259 13.7897 2.51183C12.8795 2.59957 11.5854 2.87373 10.9676 3.20639C10.7446 3.23563 10.5143 3.31605 10.2146 3.39282C9.91848 3.47689 9.55293 3.57925 9.12523 3.83879C8.56594 4.28842 9.32263 3.85341 8.51111 4.36153L8.33929 4.37981C7.69592 4.85137 7.8129 4.79654 7.85677 4.81116C7.16587 5.301 7.20608 5.12554 6.46035 5.85664C6.61023 5.73601 6.78204 5.63731 6.94654 5.5313C6.63216 5.75794 6.44939 5.95534 6.23006 6.17102C6.00341 6.37938 5.7987 6.65355 5.4624 7.06297C5.50626 7.06297 5.78408 6.74859 5.97417 6.50002C5.83891 6.76321 5.66345 6.93137 5.51357 7.0849C5.37101 7.24209 5.2321 7.36272 5.14436 7.49432C5.1663 7.40293 5.57937 6.7888 5.30521 7.03372C5.16264 7.25671 4.95793 7.46142 4.80806 7.68441C4.65818 7.90374 4.51927 8.1121 4.47175 8.30219C4.58872 8.145 4.71667 7.99513 4.8373 7.84159C4.51927 8.29488 4.43519 8.42282 4.34746 8.56904C4.26338 8.71526 4.15737 8.87976 3.93438 9.48658C3.96728 9.42444 3.9746 9.46465 4.00018 9.44271C3.59077 10.1629 3.36778 11.2376 3.14479 12.4622L3.21059 12.2355C3.0863 12.7217 2.96201 12.9849 2.92911 13.2591C2.99491 12.5389 2.94739 12.7327 2.87794 12.6523C2.85235 13.61 2.47948 14.0633 2.37347 15.6461C2.42465 15.6242 2.52701 15.255 2.53066 14.82C2.74268 14.3046 2.86331 14.2497 3.07168 13.3285C2.94008 13.8988 2.84138 14.5934 2.91449 14.4544L2.7573 14.6226C2.71344 14.9808 2.68054 15.266 2.65129 15.5365C2.54894 15.679 2.60377 14.7944 2.45024 15.6206C2.30036 16.56 2.52701 16.136 2.45024 16.2786C2.24919 17.5763 2.24188 16.8086 2.15414 18.0551C2.17973 17.9308 2.22725 17.6932 2.2236 17.5836C2.17242 18.4755 2.00061 19.7696 2.14683 20.0437C2.1907 19.9121 2.23822 19.8939 2.24919 19.5539L2.2236 19.5649C2.41003 18.5962 2.13586 20.3801 2.30402 20.084C2.21629 20.0108 2.16876 21.2647 2.16876 21.8276L2.07738 21.6449C1.74107 23.5238 2.26381 21.5498 2.19435 23.4105C2.11759 24.5912 2.17242 22.9645 2.09565 23.6883C2.11028 24.4889 2.19435 24.785 2.17973 25.9584C2.2236 26.2837 2.30036 26.949 2.41003 27.0002C2.3881 27.713 2.55625 29.157 2.47583 29.5664C2.31499 28.3564 2.51604 28.3491 2.3223 26.9344L2.23091 27.3365C2.27843 28.3199 2.29305 29.5883 2.38079 30.2646C2.35154 30.1293 2.31864 30.0672 2.30402 30.1586C2.35885 31.566 2.28574 31.9827 2.43562 33.3462C2.54894 33.518 2.46121 32.7175 2.42465 32.1326C2.57453 33.0099 2.50507 33.0538 2.66226 34.4209C2.75365 34.4867 2.57453 33.4997 2.64398 33.3352L2.75365 34.8523C2.75365 34.8523 2.76462 34.8523 2.77193 34.8523C2.64764 35.0862 2.90718 36.0038 2.96201 36.9359C3.19231 39.1256 3.03878 39.4838 3.08996 40.7084C3.17038 41.0301 3.2179 41.1215 3.23618 40.979C3.10458 40.4489 3.16672 40.5403 3.17769 40.3465C3.25811 41.0886 3.52497 41.944 3.52862 41.5236C3.63829 42.7007 3.40068 41.1105 3.4482 41.8343L3.66388 43.4391C3.56518 43.26 3.47744 42.697 3.53228 43.5342C3.61635 44.236 3.68215 44.5723 3.82106 45.4862C3.83569 45.3473 3.9746 45.7567 3.86493 45.0731C3.95632 45.5118 4.06598 46.199 4.03308 46.4769C3.81741 45.4862 4.21586 48.1292 3.99287 47.3981C4.06233 47.7271 4.14275 48.0561 4.21952 48.3851C4.1793 48.1584 4.21952 48.1255 4.15372 47.7929C4.3109 48.0597 4.25973 48.6153 4.3109 48.9663C4.39133 49.3136 4.55582 50.2238 4.61066 50.2932C4.63259 50.6149 4.78612 51.3826 4.86654 51.5142C4.92503 51.9857 4.80074 51.5654 4.78978 51.7079C4.88117 52.238 4.99083 52.768 5.09319 53.2981C5.16995 53.3712 5.36004 53.4735 5.33811 53.2286C5.3966 53.8428 5.1992 53.4772 5.37832 54.3838C5.3966 53.8391 5.69269 55.5682 5.68904 54.7859C5.78043 55.0381 5.89375 55.5353 5.99976 56.0726C6.11308 56.61 6.22274 57.1839 6.2922 57.5933C6.30317 58.1161 6.05825 56.7233 5.97417 56.7928C6.41283 59.0884 6.16791 59.2895 6.57368 60.9601L6.45304 60.5287C6.63216 61.5888 6.61754 61.4682 6.67237 62.0969C6.72721 61.7826 7.24264 63.2192 7.60819 64.9409C7.57895 65.1018 7.27554 64.0051 7.24995 64.3085C7.32671 64.6924 7.41445 65.0725 7.49487 65.4527C7.52411 65.5331 7.51315 65.4015 7.49487 65.2517C7.69227 66.2825 8.09072 67.116 8.02492 67.445L8.43799 68.4393L8.26984 68.0481C8.2406 68.2053 8.50014 69.3532 8.54035 69.5944C8.76699 70.7752 8.92052 71.1882 9.15448 71.806C9.05578 71.6159 8.82183 71.1371 9.03019 72.0582C9.20931 72.0034 9.58583 73.9628 9.68087 73.9079C9.77592 74.2772 10.0026 74.9169 9.93676 74.9827L10.0355 74.8913C9.89655 75.0192 10.2511 76.3645 10.4961 77.4026C10.6532 77.1102 10.7848 78.5358 11.1102 78.938C11.0115 79.1719 11.5452 80.7803 11.4684 80.996C11.6804 81.7893 11.8011 81.6723 11.9034 81.8587L11.951 82.2425C12.1337 82.6227 12.5614 84.0996 12.8575 84.9696L12.9599 85.825L13.1061 86.1101C13.1098 86.249 13.2889 86.9362 13.1171 86.5305L13.2523 86.9691C13.1207 87.0459 13.3912 87.6016 13.5886 88.5081C13.6727 88.7055 13.691 88.6434 13.6544 88.4423C13.7824 88.8846 13.8043 88.6726 13.9213 88.8993C13.7897 88.5959 14.1297 90.5662 13.7166 89.3928C13.6325 89.327 13.797 90.0361 13.9505 90.4602L14.1589 90.6868L14.1772 91.2461C14.36 91.9297 14.5281 92.1965 14.7072 92.7412C14.5464 92.1783 14.5829 91.4179 15.0106 92.8692C14.7986 92.1015 14.7621 91.7031 14.6707 91.3009C14.7657 91.6007 14.8205 91.7469 14.7365 91.2607C15.0326 92.4086 14.7694 91.6628 15.0874 92.7887C15.1861 92.6937 15.3104 92.9971 15.6504 93.9622L15.3433 93.2567C15.3396 93.2969 15.3433 93.348 15.3543 93.4065C15.2592 93.1324 15.219 93.0593 15.1569 93.0117C15.2227 93.2347 15.4054 94.357 15.5334 94.5215C15.0106 93.4467 15.994 96.532 15.665 95.8448C15.6686 95.9837 15.9026 96.7696 15.983 96.8318C15.7856 95.8667 16.3303 97.4971 16.3632 97.3216C16.4363 97.6798 16.0525 96.6088 16.1548 97.095C16.3157 97.6579 16.5131 98.0417 16.6483 98.3451L16.5971 98.1039L16.9152 98.9483C16.9005 99.1092 16.5606 98.1441 16.7763 98.9483C16.864 99.1494 17.0797 99.9536 17.1199 99.917C17.0833 99.5149 17.2734 99.7562 17.0833 99.0726C17.2478 99.6355 17.7888 101.427 17.4562 100.74L17.6682 101.408C17.4891 101.003 17.0395 99.8549 17.4379 101.204L17.4562 101.185L17.6572 102.147L17.84 102.538C17.8071 102.538 17.8254 102.692 17.9314 103.039C17.9935 103.119 18.1069 103.441 18.1434 103.401C18.4432 104.41 18.3628 104.348 18.3664 104.486C18.5309 105.053 18.6186 105.254 18.604 104.973C18.8526 105.74 19.251 107.089 19.4704 107.597C19.7336 108.646 19.3826 107.393 19.4887 108.021C19.9602 108.851 20.6036 111.406 21.0934 113.099C20.7791 112.697 21.2141 113.567 21.1483 113.925C21.0934 113.545 21.7697 115.482 21.3713 113.991L21.6271 114.897C21.9123 115.482 21.247 113.388 21.66 114.276C21.9634 115.285 21.9708 116.009 22.3985 117.175C22.3985 116.743 22.6397 118.092 22.6872 117.756C22.6543 117.5 22.541 117.182 22.446 116.838L22.5337 117.04C23.2612 119.211 22.5885 117.716 22.8737 118.897C23.2867 120.26 23.2977 119.953 23.3854 120.015C23.4768 120.223 23.634 120.951 23.6633 121.346C23.5755 120.428 23.1917 119.759 23.2283 120.172C23.3854 120.457 23.5207 120.987 23.5792 121.503C23.645 122.018 23.6267 122.512 23.6048 122.717C23.4659 121.664 23.3562 121.327 23.2941 120.987C23.2136 120.658 23.1442 120.333 22.7823 119.445C22.7494 119.182 22.892 119.178 22.4862 118.118C22.6434 118.812 22.3985 118.096 22.318 117.91C22.4569 118.092 22.1133 117.156 22.0439 116.813C21.894 116.531 22.0731 117.515 21.7076 116.425L21.8172 116.166C21.66 115.745 21.7478 116.389 21.5102 115.46C21.5723 115.983 21.3237 115.354 21.6747 116.601C21.0788 115.172 21.0642 114.309 20.7754 113.143C20.801 113.263 20.7827 113.285 20.8046 113.402C20.7754 113.143 20.6365 112.697 20.5451 112.357C20.2746 111.611 20.6511 112.982 20.5451 112.799L20.1759 111.571C20.1613 111.549 20.1576 111.542 20.154 111.545C20.0772 111.216 20.0004 110.902 19.9237 110.803C19.9785 111.183 19.9675 111.348 19.9968 111.607L19.7226 110.28C19.708 110.438 19.3022 109.25 19.5398 110.178L18.9842 108.263L18.8197 108.138C18.7027 107.674 18.721 107.656 18.9001 108.197C18.6735 107.553 18.2238 105.243 18.0996 105.656C17.7377 104.128 17.5366 103.602 17.0431 101.77C17.3648 103.196 16.4144 100.217 16.8201 101.708C16.5021 100.86 16.5715 100.641 16.3815 99.9536C16.1365 99.3285 16.1073 99.6502 16.2791 100.352L16.0817 99.5259L16.0634 99.5478L15.9099 98.824C15.6175 98.0966 15.7454 98.7034 15.4895 97.9357L15.5407 97.7347L15.3214 97.2302C15.4274 97.413 15.3104 96.9487 15.1495 96.3858L15.1313 96.4041L14.9448 95.7168C15.0874 96.4114 14.7328 95.1027 14.7547 95.4353C14.572 94.8541 14.5683 94.8395 14.2686 93.7831L14.3965 93.9475C14.0456 92.5548 14.2759 93.922 13.9359 92.8107L14.0383 92.8545C13.4278 91.2936 13.2998 90.1129 12.8722 88.9504C13.0513 89.6377 12.905 89.4915 12.927 89.4732C12.6601 88.4423 12.1557 86.7791 11.9473 85.6934C11.717 85.3424 11.6585 85.2584 11.2966 84.1836C11.0809 83.3904 11.059 83.2698 11.0554 82.9883C10.7922 82.2352 10.4595 80.773 10.3681 80.7584C10.3864 80.561 10.1671 80.0712 10.1086 79.6288L10.0501 79.5484L10.1488 79.5923C9.5968 78.2763 9.62239 77.2601 9.10696 75.9185L9.14717 76.1634L9.02653 75.5712C8.96805 75.4871 9.0046 75.7321 8.96805 75.7686L8.25156 73.0708L8.44896 73.5863C8.3064 73.016 8.29543 72.6102 8.08341 71.9705C8.22963 73.0854 7.85677 71.0713 7.71786 70.9214L7.83118 71.5099C7.70445 70.9786 7.67399 70.7276 7.73979 70.7569C7.51315 69.7187 7.40714 70.0879 7.26091 69.1155L7.43272 69.7918C7.53142 69.9819 7.47659 69.4774 7.36327 69.0242C7.32306 68.9181 7.21339 68.6074 7.28285 68.9547C7.122 68.1322 6.79301 66.9186 6.74183 66.553C6.61389 66.118 6.5883 66.2752 6.6212 66.5201C6.28854 64.7582 6.40918 65.7378 6.0948 63.9722L6.05459 64.0124L5.97782 63.3983L5.68904 62.5612L5.81698 62.8573C5.7 62.2797 5.65248 61.9142 5.47702 61.2525L5.46605 61.5376C5.14436 59.9109 4.95793 59.6843 4.73494 58.1197C4.70205 58.0174 4.72763 58.2623 4.74226 58.3866C4.56314 56.9317 4.38767 57.3301 4.2451 55.857C4.23779 55.952 4.17931 55.7985 4.16834 55.857L4.09157 55.188L4.0075 55.2574L4.04771 54.6945L3.8759 54.307V54.0438C3.56518 53.3748 3.49938 52.355 3.21059 51.4155L3.35681 51.5617C3.28005 50.3188 2.99491 48.937 2.71709 47.4858C2.4539 46.0345 2.13586 44.5212 2.00427 43.0334L1.91653 43.0992L1.87267 41.8599C1.71182 41.2129 1.84342 42.2657 1.76666 42.0683C1.64968 40.7523 1.83611 41.5053 1.66796 39.981C1.50346 39.2097 1.6314 40.2588 1.64602 40.6317C1.57291 39.9188 1.49615 39.0306 1.42304 38.1971C1.34627 37.3636 1.26219 36.5814 1.18177 36.0805C1.19274 36.055 1.20371 35.9928 1.21467 36.044C1.14887 35.0862 0.998996 33.8324 0.914919 32.7796C0.874708 32.8088 0.885674 33.072 0.900296 33.3352C0.860086 32.9587 0.790631 32.4433 0.808908 32.1143L0.757731 32.5164C0.669998 31.7085 0.640754 30.1403 0.534744 29.9648C0.57861 30.0599 0.644409 30.016 0.600543 29.3142C0.428733 28.934 0.560332 27.3987 0.450666 26.2728C0.421422 26.408 0.4397 27.2378 0.432389 27.0039C0.3739 26.4373 0.432389 25.9291 0.465289 25.4283L0.410456 25.5819C0.417767 24.7009 0.447011 23.8236 0.483566 22.9426C0.410456 22.7452 0.432389 22.1237 0.461633 21.5718C0.494533 21.0198 0.531088 20.5409 0.476255 20.6286C0.523777 19.6855 0.494533 21.4255 0.582265 20.2302C0.538399 19.9085 0.680965 19.1555 0.582265 19.1957L0.560332 19.3236L0.637098 18.4901L0.498188 19.0092C0.574954 18.2891 0.724831 17.7737 0.801597 17.7444C0.819875 17.0499 0.973407 16.1287 0.92223 15.807L0.871052 16.0519C1.12694 14.1839 0.980718 12.8716 1.47787 11.3801C1.49249 11.2632 1.46325 11.2741 1.41207 11.5117C1.4998 11.1133 1.58754 10.7148 1.70451 10.3164L1.55464 10.5832C1.66796 10.2579 1.76666 9.93256 1.90191 9.61087C2.0262 9.28918 2.1578 8.9675 2.31499 8.65678L2.26015 8.66409C2.49776 8.01706 2.91815 7.2165 3.44089 6.4269C3.96728 5.63365 4.65818 4.90255 5.31252 4.28842L5.10415 4.46023C5.84623 3.82417 6.21543 3.53538 6.52981 3.30143C6.687 3.1808 6.83322 3.07479 7.00868 2.93953C7.1878 2.81524 7.39251 2.6544 7.71054 2.49721C7.65937 2.51183 7.6155 2.53011 7.57163 2.55205L8.6756 1.92695L8.40875 2.02199C8.51842 1.97813 8.63174 1.91598 8.75603 1.8575C8.88397 1.80266 9.01557 1.74417 9.14717 1.68569C9.41036 1.5614 9.66991 1.4298 9.88924 1.31648C10.3316 1.1008 10.6167 0.998446 10.3425 1.12273C10.6094 1.06059 10.9713 0.980169 11.2857 0.907058C11.6037 0.84857 11.8815 0.841259 11.9656 0.84857C12.6601 0.720626 12.7406 0.687727 12.7588 0.669449C12.7771 0.647516 12.7223 0.621927 13.1609 0.57075C13.6764 0.53785 13.9798 0.508606 14.3234 0.548817C14.4952 0.563439 14.6816 0.574405 14.9083 0.585372C15.0216 0.589027 15.1459 0.596338 15.2885 0.599994C15.4274 0.610961 15.5809 0.636549 15.7527 0.654827L15.7308 0.60365C16.0525 0.654827 16.312 0.706004 16.6008 0.760837C16.8823 0.841259 17.1966 0.928991 17.628 1.04962L17.3758 0.961891C18.7393 1.45904 19.156 1.40787 20.0918 2.06952C20.6438 2.30713 21.6125 2.89567 21.6052 2.80062C23.0711 3.79858 24.0983 4.69053 25.3156 5.8932C25.6263 5.96631 25.5861 6.14543 26.3684 6.82901H26.255C27.9329 8.56539 29.7753 10.6344 31.201 12.8643L31.3106 12.8789L31.5153 13.3761C33.1055 15.7339 34.8017 18.9946 35.6936 21.0783C35.9495 21.7801 36.2895 22.8548 36.7098 23.9625L36.6806 23.8418C37.3386 25.8049 37.876 27.8885 38.4316 30.0343C38.4316 29.8917 38.5084 30.1001 38.4755 29.8515C38.5047 30.3852 38.7643 31.12 38.8666 31.5842L38.6838 31.0542C38.7423 31.6866 39.0019 32.553 39.1261 32.8527L39.2285 33.847C39.2504 33.9092 39.2797 34.0079 39.298 34.0188L39.287 34.2016L39.4954 34.6988C39.5209 34.9437 39.7183 36.245 39.6781 36.6654C39.7293 36.7532 39.9084 37.6634 39.8134 36.9542C40.0181 38.1459 40.2045 39.3376 40.3763 40.5366L40.263 39.981C40.1716 39.9225 40.263 41.0082 40.369 41.5602C40.3434 40.8181 40.4824 41.4834 40.581 41.7905C40.5957 42.284 40.4531 41.3737 40.4385 41.6369C40.4604 42.2584 40.5774 43.5634 40.6468 43.8851V43.5122C40.698 44.3493 40.8845 44.7222 40.9503 45.552C40.9503 46.3014 41.0526 46.8461 40.8954 46.7035C40.9466 47.7819 41.0234 47.1093 41.0636 47.4565C41.0343 47.9683 41.1623 49.4707 41.239 49.6608C41.0636 50.2567 41.3999 52.5779 41.2061 52.8046L41.2975 53.7002C41.2464 53.7294 41.1403 53.9012 41.0892 54.6323C41.1074 55.3232 41.1952 55.1661 41.2354 55.3781L41.0234 55.8314C41.0051 56.3322 40.9685 56.8586 40.8954 57.4069C40.8187 57.9589 40.7236 58.5291 40.5153 59.1542C40.4092 59.465 40.2813 59.794 40.0473 60.1559C39.9304 60.335 39.7622 60.536 39.5794 60.7005C39.4332 60.8175 39.3126 60.9272 39.1627 61.0295C38.5888 61.4426 37.8942 61.7716 37.0937 61.8813C36.3041 61.9946 35.35 61.8374 34.6006 61.2525C34.2314 60.9674 33.9316 60.5909 33.7416 60.1961C33.5478 59.8049 33.4308 59.3955 33.3797 59.0117C33.2773 58.2367 33.376 57.5348 33.5222 56.8988C33.6758 56.2627 33.8878 55.6815 34.1254 55.1405C34.363 54.6726 34.6372 54.1937 34.9515 53.7294C35.1087 53.4882 35.2659 53.2652 35.4231 53.0422C35.5803 52.8155 35.7411 52.5889 35.9056 52.3586C36.5673 51.4484 37.2582 50.5089 37.9381 49.617L37.7663 49.7997C38.205 49.1966 38.6582 48.608 39.1188 48.0232C38.8008 48.4618 38.4755 48.8932 38.1684 49.3391C38.4828 48.9663 38.7533 48.6994 39.0457 48.3302C39.7951 47.3615 40.698 46.2539 41.7143 45.1499C42.7305 44.0423 43.8601 42.9456 45.0152 41.9696C46.62 40.8364 45.8669 40.9643 47.4169 39.8933C47.278 39.9773 47.2158 39.992 47.0879 40.0651C47.8958 39.4583 48.5391 39.005 49.1752 38.5736C49.8113 38.1459 50.451 37.7219 51.3027 37.1918C50.9956 37.1553 52.3701 36.4461 52.1654 36.4644L52.3482 36.4388C52.6845 36.1427 53.5545 35.5432 53.3937 35.5797L54.1979 35.1813L54.2162 35.068C54.7133 34.7499 55.5139 34.2747 56.2669 33.8434C57.02 33.4157 57.7145 33.0209 57.9594 32.8088C59.3156 32.202 61.0995 31.438 63.1101 30.9372C64.1153 30.6886 65.1828 30.5168 66.2538 30.473C67.3249 30.4291 68.4033 30.5205 69.3939 30.7544C69.9386 30.9336 71.0608 31.3284 71.8651 31.7963C72.1758 31.9096 72.4646 32.0814 72.768 32.2276C73.5466 32.7979 74.1936 33.5911 74.7822 34.2382C74.7895 34.2272 74.7712 34.1943 74.7383 34.1395C75.3268 34.8962 75.8459 35.6638 76.1201 36.5009C76.5478 37.4294 76.8549 38.3652 76.8622 38.0399C76.7891 38.113 76.9645 38.6211 77.0961 39.1219C77.1692 39.3705 77.2387 39.6191 77.2862 39.8019C77.3374 39.9883 77.3703 40.1089 77.3703 40.1089C77.3703 40.1089 77.4068 40.3063 77.4617 40.6792C77.5165 41.0521 77.5896 41.6004 77.6335 42.2986C77.7431 43.6987 77.7322 45.6982 77.4836 48.0816C77.3593 49.2733 77.1765 50.5564 76.9426 51.9126C76.822 52.5779 76.6977 53.2652 76.5734 53.9707C76.4491 54.6872 76.3321 55.4256 76.1566 56.1823C75.5169 59.2127 74.4532 62.4113 73.0568 65.5404C71.6603 68.6732 69.9276 71.7402 68.0231 74.5879C67.0836 76.0135 66.0674 77.388 65.0841 78.6857C64.0971 79.9761 63.132 81.2373 62.2035 82.4509C61.2604 83.6609 60.3355 84.8307 59.3814 85.9017C58.431 86.9765 57.4477 87.9232 56.5265 88.7384C54.6804 90.3651 53.0976 91.6044 51.9351 92.489C51.5878 92.6864 50.7434 93.3627 50.9847 93.0154C50.3377 93.5454 50.1476 93.911 49.9721 93.9549C50.7873 93.1616 49.5663 94.028 50.3303 93.2128L49.782 93.6697C49.6321 93.7209 50.5533 93.0775 50.3486 93.1141L50.6009 93.0958C51.0176 92.6937 51.2333 92.4634 51.3502 92.2879C51.7962 91.9736 52.1947 91.9041 53.1049 90.9756L52.8307 91.2059C53.624 90.5077 53.2475 90.7014 53.3973 90.5369L53.2219 90.6941L53.836 90.0434C53.3681 90.5296 52.4505 91.173 52.8929 90.7928C53.8067 89.9265 52.6735 91.0377 53.3937 90.4236C53.836 90.0398 53.6605 90.0873 53.6057 90.069L54.3916 89.3708C54.3149 89.3416 53.8762 89.8387 54.1431 89.4988C54.4903 89.2246 54.834 88.9468 55.1776 88.6653C55.2361 88.3656 56.2998 87.7478 56.6069 87.1921C55.9014 87.8319 56.6252 87.0861 56.4753 87.1519C57.0346 86.6109 57.5646 86.0443 58.0837 85.4667C58.2117 85.2876 57.6341 85.8835 57.8754 85.6276C58.1312 85.2693 58.3835 85.1158 58.5333 84.933C58.632 84.7539 59.6373 83.5878 59.4984 83.5585C60.405 82.2608 60.0321 83.1308 60.8692 81.9136C60.9277 81.7162 60.1454 82.8347 60.4817 82.2681L61.4249 81.0618C61.3115 81.1495 61.1507 81.23 60.8181 81.6979C62.0207 80.0163 62.8725 78.6638 63.7205 77.3624C64.5577 76.061 65.3802 74.8218 66.4403 73.2792C66.6596 72.7894 66.1807 73.5643 65.9248 73.8458C66.729 72.7528 67.1896 71.912 67.6064 71.1115C67.8111 70.7094 68.0085 70.3182 68.2205 69.8978C68.4252 69.4774 68.6592 69.0315 68.9406 68.5307H69.0247C70.348 65.6099 72.0551 62.1518 72.9654 58.6644L72.8923 59.0884C73.1006 58.6352 73.3419 57.8711 73.51 57.3045C73.4991 57.2095 73.2542 57.6774 73.5429 56.6794C73.5137 56.8951 73.4296 57.3265 73.4954 57.2095C73.5685 56.8293 73.6672 56.4016 73.744 55.9227C73.8244 55.4439 73.9414 54.9358 74.0182 54.3728C74.1059 53.8099 74.1936 53.225 74.3143 52.5779C74.4166 51.9602 74.5226 51.3131 74.6323 50.6551C75.049 48.0232 75.3195 45.1316 75.1331 42.6678C75.0563 41.0082 74.7822 39.3303 74.168 37.8242C73.5612 36.3182 72.5779 35.0314 71.2582 34.1906C69.9386 33.3279 68.3704 32.9112 66.7766 32.9149C65.1754 32.9149 63.5634 33.2841 62.028 33.8068C62.9675 33.5034 62.5142 33.4522 61.816 33.7447C60.9021 34.2382 60.0833 34.5891 59.2535 34.9693C58.4273 35.3494 57.5975 35.7589 56.7239 36.3949C55.0204 37.3527 53.5033 38.4457 52.0229 39.5423C50.557 40.639 49.1167 41.7137 47.6435 42.814V42.9237C47.2634 43.3112 47.1062 43.3587 46.6748 43.7352L46.7004 43.7425C45.7098 44.6601 44.4852 45.7531 43.977 46.3416L43.8747 46.3087C43.3117 46.8863 43.6334 46.656 43.0339 47.2262L43.0851 47.2409C42.8475 47.4565 42.6026 47.6686 42.3686 47.8879C42.4636 47.9098 42.0871 48.3339 41.6485 48.8274C41.2135 49.3245 40.7163 49.8911 40.5482 50.1689C39.8646 50.9549 38.6071 52.4902 37.7444 53.8208C37.7041 53.9634 37.3861 54.4532 37.0571 55.0016C36.7281 55.5462 36.3955 56.1969 36.2127 56.7087C36.008 57.1912 35.8435 57.7395 35.7996 58.2477C35.7631 58.7594 35.891 59.1652 36.0701 59.3114C36.1615 59.3918 36.2785 59.4576 36.4613 59.4759C36.6404 59.4979 36.8634 59.4759 37.101 59.3992C37.3386 59.3224 37.5799 59.1908 37.8102 59.019L37.9783 58.8837C38.0112 58.8581 37.9966 58.8654 38.0039 58.8581C38.0039 58.8581 38.0112 58.8545 38.0149 58.8435C38.0405 58.8179 38.0953 58.7119 38.1428 58.6059L38.2269 58.6863C38.3037 58.5255 38.3804 58.3208 38.4426 58.1051C38.417 58.1051 38.4316 58.0174 38.3914 58.1124C38.4024 57.8456 38.5047 57.4471 38.5851 57.0194C38.6692 56.5917 38.7387 56.1457 38.7277 55.8314C38.7898 56.2298 38.6911 56.3724 38.6363 56.8001C38.5888 57.4142 38.8045 56.8622 38.8337 55.9959L38.8081 56.0105C38.8483 55.8167 38.8812 55.623 38.9141 55.4256C38.8374 55.3525 38.8301 54.8115 38.746 54.7384C38.8191 53.448 38.8556 52.3403 38.8666 51.2217C38.8739 50.1031 38.8483 48.9663 38.7314 47.6028C38.6619 47.8916 38.6034 45.6361 38.4828 46.199C38.4024 44.5541 38.64 46.4586 38.6911 45.6982C38.6473 45.2413 38.6473 44.7551 38.5778 44.6783C38.5595 44.8977 38.4426 44.3164 38.4645 44.6893L38.3621 43.5927C38.3366 43.4903 38.3439 43.7316 38.3439 43.8558C38.1976 41.615 37.7626 39.9188 37.547 37.9193C37.5835 37.7621 37.6859 38.7052 37.7224 38.5517C37.525 36.5302 37.3386 36.8007 37.09 34.9291L37.0791 35.3275C37.0242 34.717 37.0462 34.4429 36.7866 33.4742C36.6587 33.3206 36.8743 34.3222 36.9182 34.8048C36.7939 34.1285 36.4686 32.4214 36.6587 32.9222C36.5198 32.1106 36.3699 31.8365 36.2493 31.4088C36.2712 31.3868 36.4795 32.1435 36.4211 31.6647C36.1286 30.5826 35.7265 28.9047 35.3427 27.6034C35.3244 27.6217 35.2623 27.5412 35.2842 27.6582C35.1014 26.5762 34.9333 26.7443 34.4983 25.326L34.469 25.3369Z" fill="#666460"/>
  <path d="M13.0642 91.5708C13.0459 91.5232 13.0276 91.4756 13.002 91.417C13.0166 91.4426 13.0386 91.4976 13.0642 91.5708Z" fill="#666460"/>
  <path d="M13.2886 92.2662C13.2227 92.0501 13.1348 91.7535 13.0688 91.5703C13.1751 91.8414 13.241 92.0575 13.2886 92.2662Z" fill="#666460"/>
  <path d="M14.0364 94.6565C14.0071 94.5503 13.9814 94.4551 13.9705 94.3745C13.9998 94.4588 14.0327 94.5613 14.0767 94.6859C14.0547 94.6602 14.0437 94.6529 14.0364 94.6565Z" fill="#666460"/>
  <path d="M39.9652 102.806C39.9652 102.806 39.9274 102.844 39.8972 102.87C39.9236 102.844 39.9463 102.821 39.9652 102.806Z" fill="#666460"/>
  <path d="M39.7698 102.244C39.7698 102.244 39.7816 102.236 39.7895 102.232C39.7895 102.224 39.7855 102.208 39.7776 102.188L39.7698 102.248V102.244Z" fill="#666460"/>
  <path d="M40.2847 102.23C40.2847 102.23 40.2754 102.211 40.2708 102.207C40.2708 102.207 40.2708 102.207 40.2847 102.23Z" fill="#666460"/>
  <path d="M41.2793 100.931L41.1694 101.012C41.217 100.982 41.2683 100.946 41.2793 100.931Z" fill="#666460"/>
  <path d="M39.7515 100.853C39.7515 100.853 39.7593 100.868 39.7632 100.884C39.7632 100.872 39.7554 100.86 39.7515 100.853Z" fill="#666460"/>
  <path d="M40.1311 101.318C40.1311 101.318 40.1429 101.283 40.1547 101.259C40.1468 101.259 40.1311 101.259 40.1311 101.318Z" fill="#666460"/>
  <path d="M40.1591 101.224L40.1433 101.26C40.1433 101.26 40.1551 101.252 40.1591 101.224Z" fill="#666460"/>
  <path d="M41.1777 101.328C41.1777 101.328 41.1375 101.24 41.0935 101.167L41.1777 101.328Z" fill="#666460"/>
  <path d="M40.4622 100.419L40.4932 100.436C40.4932 100.436 40.4666 100.414 40.4622 100.419Z" fill="#666460"/>
  <path d="M41.634 100.841C41.7435 100.765 41.6227 100.871 41.7284 100.792C41.7058 100.799 41.785 100.731 41.634 100.841Z" fill="#666460"/>
  <path d="M36.6587 104.921L36.6182 104.896C36.6182 104.896 36.6466 104.921 36.6587 104.921Z" fill="#666460"/>
  <path d="M40.4692 100.415L40.4377 100.396C40.4535 100.415 40.4692 100.431 40.485 100.447C40.4732 100.431 40.4692 100.419 40.4692 100.415Z" fill="#666460"/>
  <path d="M40.4136 103.152C40.4136 103.152 40.4267 103.161 40.4399 103.165L40.4136 103.152Z" fill="#666460"/>
  <path d="M40.6108 103.236C40.6108 103.236 40.6352 103.252 40.6514 103.264C40.6636 103.268 40.6433 103.256 40.6108 103.236Z" fill="#666460"/>
  <path d="M41.094 101.17L41.0449 101.076C41.0449 101.076 41.0713 101.129 41.094 101.17Z" fill="#666460"/>
  <path d="M40.6382 102.88C40.6382 102.88 40.6431 102.89 40.6529 102.9C40.6529 102.9 40.6529 102.895 40.6382 102.88Z" fill="#666460"/>
  <path d="M40.3345 102.307C40.3345 102.307 40.3406 102.319 40.3467 102.325C40.3467 102.325 40.3467 102.325 40.3345 102.307Z" fill="#666460"/>
  <path d="M40.6822 104.752C40.6602 104.727 40.6639 104.822 40.6712 104.921C40.6859 104.921 40.6932 104.888 40.6822 104.752Z" fill="#666460"/>
  <path d="M41.7951 104.701C41.7951 104.701 41.789 104.689 41.783 104.683C41.783 104.689 41.783 104.695 41.7951 104.701Z" fill="#666460"/>
  <path d="M41.5157 104.875C41.4995 104.851 41.4833 104.835 41.467 104.827C41.4833 104.851 41.4995 104.867 41.5157 104.875Z" fill="#666460"/>
  <path d="M38.0773 106.097C38.1578 106.093 38.2418 106.068 38.3186 106.038C38.399 106.009 38.4538 105.973 38.5416 105.958C38.6403 105.936 38.728 105.936 38.8048 105.976C38.8889 105.717 38.9547 105.717 39.0278 105.666L38.9949 106.02L39.0643 105.914C39.0753 106.024 39.0131 105.976 39.0424 106.115L39.0863 105.896C39.0789 106.024 39.2252 105.991 39.1082 106.24L39.3421 106.258C39.3933 106.272 39.386 105.962 39.4372 106.053C39.4445 106.159 39.4153 106.123 39.4153 106.251C39.5834 106.521 39.6236 105.567 39.7552 105.724L39.7443 105.772C39.7662 105.677 39.8101 105.688 39.8101 105.636C39.7808 105.278 39.7918 105.83 39.7443 105.622C39.7443 105.318 39.7918 105.457 39.7808 105.227C39.8137 105.337 39.8247 105.165 39.8503 105.143C39.9014 105.329 39.9563 105.194 40.0074 105.424C40.0221 105.329 40.0221 105.03 40.0659 105.015C40.1208 105.249 40.0769 105.242 40.1317 105.326L40.1208 105.15C40.161 105.172 40.1573 105.223 40.1646 105.304C40.2048 105.304 40.1719 105.062 40.2304 105.168L40.2231 105.34C40.2524 105.271 40.2706 105.3 40.3255 105.307C40.3364 105.406 40.3145 105.402 40.2962 105.377C40.3584 105.633 40.3291 105.26 40.3474 105.285C40.3328 105.209 40.2926 105.179 40.2853 105.008C40.3145 105.037 40.3035 104.766 40.3474 104.967V105.139C40.3767 104.997 40.3401 104.92 40.4096 104.978C40.4096 104.993 40.4169 105.033 40.4205 105.07C40.4205 104.843 40.5009 105.037 40.5594 105.041V105.088C40.5704 105.026 40.5521 104.869 40.5667 104.88C40.5156 104.788 40.5156 104.733 40.4827 104.569C40.5777 104.847 40.4754 104.229 40.5667 104.386C40.5887 104.485 40.5996 104.606 40.5594 104.507C40.5996 104.803 40.6472 105.048 40.6325 105.194C40.6472 105.121 40.6691 105.073 40.6874 105.198L40.6399 104.927C40.6399 104.927 40.6691 104.931 40.6801 104.927C40.6472 104.755 40.5887 104.653 40.5996 104.536C40.6179 104.441 40.6801 104.807 40.6618 104.686C40.691 104.565 40.6143 104.394 40.6837 104.47C40.6837 104.492 40.6837 104.543 40.6764 104.518C40.7386 104.616 40.7495 104.448 40.8446 104.766C40.8592 104.839 40.8811 104.938 40.8592 104.913L40.8482 104.865C40.8665 105.11 40.8665 104.792 40.9323 105.084C40.8848 104.913 40.9506 104.938 40.9835 104.96L40.9213 104.766C40.8336 104.16 41.0273 105.158 41.0931 105.055C41.1078 104.909 41.0566 105.008 41.0493 104.861C41.0968 104.883 41.1553 105.055 41.1992 104.949C41.2467 105.019 41.3308 105.103 41.4148 105.315C41.4368 105.209 41.6195 105.344 41.561 105.128C41.4002 104.989 41.561 105.388 41.349 105.15L41.3015 104.931C41.3746 104.916 41.4112 104.781 41.4879 104.832C41.4624 104.796 41.4331 104.744 41.4185 104.701C41.4733 104.584 41.3929 104.375 41.5026 104.394C41.6122 104.565 41.5464 104.562 41.5172 104.595C41.6488 104.712 41.5793 104.576 41.7 104.584C41.795 104.733 41.6342 104.609 41.7109 104.766L41.784 104.657C41.784 104.657 41.795 104.675 41.8023 104.686C41.6597 104.426 41.8974 104.657 41.912 104.54C42.0728 104.426 41.8462 104.09 41.7511 103.856C41.8242 103.9 41.8827 103.948 41.9266 104.01C41.8023 103.944 41.8827 104.01 41.9229 104.083C41.9412 104.028 42.2373 104.185 42.2922 104.302C42.3214 104.152 42.1496 104.222 42.135 104.105C42.1788 104.072 42.219 104.039 42.2629 103.995C42.1313 103.915 42.0728 103.933 42.0363 103.798C42.0472 103.717 42.0874 103.717 42.1532 103.64C42.2081 103.695 42.3653 103.739 42.3104 103.801C42.3872 103.79 42.442 103.717 42.3287 103.619C42.1532 103.648 42.3068 103.388 42.0509 103.355C42.1057 103.344 42.1642 103.333 42.2227 103.319C42.2081 103.341 42.3031 103.385 42.2593 103.407C42.4859 103.472 42.241 103.29 42.23 103.249C42.2885 103.227 42.3397 103.129 42.4274 103.14C42.3762 103.085 42.442 103.001 42.5627 102.993C42.5261 102.924 42.4128 102.968 42.3433 102.939C42.3616 102.873 42.3689 102.811 42.3799 102.745C42.5078 102.738 42.8624 102.716 42.9099 102.759C42.793 102.661 42.5371 102.719 42.5407 102.602C42.793 102.664 42.7162 102.412 43.0196 102.496C43.1073 102.449 43.1402 102.343 43.1366 102.262C43.1366 102.182 43.0964 102.098 43.0488 102.05C42.8441 102.039 42.9721 102.2 42.7747 102.24C42.6285 101.974 42.1021 102.189 42.1459 102.036L42.1057 102.087C41.9705 102.065 41.9997 102.065 41.8316 102.105C42.0655 102.017 42.3945 101.721 42.2848 101.645C42.1752 101.703 42.1094 101.82 41.9303 101.908L41.8645 101.875C41.8645 101.875 41.9193 101.846 41.9485 101.835C41.8462 101.838 42.1642 101.568 41.912 101.718L42.1788 101.462L42.0655 101.571C41.9595 101.637 41.8974 101.608 41.8498 101.63C41.7073 101.67 41.7804 101.59 41.8864 101.465C41.8133 101.539 41.6415 101.699 41.5903 101.696C41.9047 101.44 41.6524 101.535 41.8133 101.4C41.7987 101.392 41.8754 101.286 41.7475 101.396L41.9376 101.231C41.6707 101.462 41.6451 101.407 41.572 101.422C41.9266 101.1 41.5135 101.414 41.8169 101.1C41.5757 101.319 41.678 101.14 41.477 101.33C41.4697 101.33 41.477 101.312 41.4989 101.286C41.5574 101.221 41.6853 101.093 41.7402 101.038L41.6488 101.118C41.7548 101.008 41.7548 100.976 41.8242 100.895L41.6049 101.082L41.7 100.99C41.6451 101.038 41.6049 101.06 41.5318 101.136L41.5391 101.118C41.3052 101.327 41.466 101.169 41.3527 101.242C41.3892 101.206 41.4477 101.158 41.4806 101.133C41.4806 101.125 41.6013 101.023 41.678 100.95C41.6232 101.008 41.2284 101.294 41.137 101.403C41.042 101.487 40.9579 101.539 40.9944 101.491L41.2101 101.305L40.9725 101.484C40.9286 101.498 41.0676 101.378 41.0858 101.348C41.1078 101.348 41.5245 101.027 41.5062 101.012C41.5428 100.998 41.6707 100.906 41.7182 100.873C41.7255 100.862 41.7438 100.844 41.8425 100.775C41.7658 100.818 41.7036 100.881 41.6671 100.892C41.8645 100.734 41.9266 100.679 41.9924 100.621L41.8498 100.742C41.8242 100.76 41.806 100.775 41.795 100.782C41.7767 100.8 41.7438 100.826 41.6671 100.888C41.6671 100.888 41.4075 101.063 41.5281 100.968C41.2284 101.224 41.265 101.122 41.0822 101.275C41.02 101.316 41.0018 101.312 41.1005 101.235C41.265 101.136 41.3271 101.052 41.4733 100.954C41.4112 100.99 41.3271 101.074 41.2467 101.122C41.2284 101.122 41.349 101.027 41.4112 100.976L41.4514 100.95L41.5391 100.873C41.4331 100.943 41.371 101.008 41.3088 101.034C41.349 101.001 41.2905 101.027 41.3746 100.968C41.5208 100.877 41.7109 100.742 41.7475 100.727C41.7292 100.731 41.6926 100.727 41.5026 100.866V100.851C41.4185 100.913 41.2686 101.041 41.2284 101.038L41.2723 101.008L41.1041 101.096L41.2101 101.019C41.1553 101.056 41.1041 101.085 41.1078 101.074C41.1699 101.03 41.1918 101.012 41.2796 100.957C41.2613 100.946 41.1516 101.016 41.0895 101.052C41.0602 101.034 41.0895 100.99 41.2284 100.928C41.2247 100.892 41.2174 100.873 41.1882 100.811C41.1553 100.745 41.126 100.676 41.1443 100.599C40.8994 100.526 41.1443 100.665 40.9286 100.705C40.9689 100.595 40.9506 100.493 40.8957 100.413C40.8336 100.329 40.713 100.266 40.5887 100.234C40.468 100.208 40.3584 100.215 40.2487 100.234C40.1464 100.255 40.1025 100.288 40.0367 100.307C40.1354 100.683 39.9709 100.358 40.0001 100.709C40.0148 100.581 39.8174 100.442 39.9197 100.31L39.8503 100.365C39.7406 100.171 39.9599 100.179 39.8101 99.9155C39.6967 99.952 39.7333 100.38 39.6346 100.266C39.5724 99.9996 39.6053 100.372 39.5249 100.084C39.5103 99.9849 39.5432 100.007 39.5578 99.9776L39.5249 99.9338C39.3421 99.9155 39.5871 100.252 39.5834 100.453C39.5395 100.508 39.4555 100.274 39.4006 100.157C39.3714 100.113 39.3531 100.164 39.3677 100.237C39.3421 100.069 39.503 100.365 39.5542 100.53C39.4079 100.255 39.4591 100.544 39.4957 100.661C39.704 100.928 39.5578 100.65 39.7589 100.95C39.7296 100.855 39.6236 100.599 39.7187 100.683C39.7333 100.826 39.7735 100.829 39.7991 100.866C39.7369 100.72 39.8101 100.789 39.8064 100.723C39.8576 100.844 39.8978 101.085 39.9563 101.133L39.8539 100.771C39.8978 100.818 39.9234 101.038 39.949 100.939C39.9782 101.136 40.0294 101.231 40.0038 101.305C40.1427 101.604 40.0111 101.118 40.0988 100.968C40.0915 100.994 40.0988 101.041 40.0915 101.067C40.0952 100.968 40.1317 100.972 40.1537 100.946C40.2048 101.03 40.1171 101.118 40.139 101.221C40.1573 101.217 40.1756 101.21 40.2012 101.213C40.2012 101.224 40.2012 101.231 40.2012 101.239C40.2231 101.191 40.256 101.162 40.2414 101.253C40.1939 101.367 40.1756 101.491 40.1646 101.59C40.1719 101.506 40.2012 101.414 40.2451 101.341C40.2158 101.451 40.161 101.586 40.1756 101.546C40.1756 101.546 40.1756 101.546 40.1756 101.542C40.1683 101.553 40.161 101.568 40.1537 101.575H40.1464L40.1317 101.593C40.1317 101.593 40.1427 101.582 40.15 101.579C40.1464 101.579 40.1464 101.582 40.139 101.586C40.1317 101.593 40.1208 101.604 40.1061 101.619C40.0806 101.641 40.1171 101.612 40.1244 101.604C40.139 101.593 40.1537 101.582 40.1646 101.575C40.2158 101.55 40.2231 101.564 40.0111 101.699C40.1975 101.604 40.1464 101.685 40.278 101.656C40.0586 101.743 40.055 101.864 39.9417 101.882C39.8649 101.97 40.0952 101.824 40.1427 101.816C40.0623 101.897 39.8539 102.032 39.7625 102.061L39.8722 102.021L39.832 102.05L39.9636 101.988C39.8649 102.091 39.7589 102.142 39.7443 102.186L39.9307 102.061L39.8356 102.153C39.9161 102.087 39.9599 102.072 39.9855 102.08L39.9453 102.109L39.9928 102.101C39.8685 102.164 39.9672 102.149 39.832 102.237C39.8356 102.262 39.8393 102.259 39.8941 102.266L40.0111 102.167C40.1464 102.123 39.832 102.31 39.8466 102.35L39.9819 102.237C39.7881 102.471 40.1719 102.208 40.055 102.357C40.0074 102.365 39.8539 102.504 39.8941 102.471C39.9709 102.456 39.9782 102.537 40.1646 102.416C39.9855 102.599 39.9307 102.653 39.8795 102.763C39.9124 102.774 39.9343 102.763 40.0477 102.664C40.0257 102.705 40.044 102.716 40.055 102.723C40.0696 102.734 40.0733 102.741 40.0001 102.811C40.1098 102.708 39.9892 102.844 40.0879 102.763L40.033 102.818L40.1573 102.694C39.8868 102.986 40.3511 102.573 40.1171 102.829L40.0806 102.858L40.139 102.818C40.0806 102.869 40.044 102.902 39.9672 102.968C39.9672 102.986 39.9672 103.001 39.9672 103.015L40.0659 102.924C40.0659 102.924 40.2195 102.814 40.1427 102.891C39.927 103.048 40.1427 102.906 39.9819 103.034L39.9234 103.074C39.9234 103.074 39.938 103.07 40.0806 102.961C40.1354 102.931 39.8174 103.173 39.9709 103.059C39.9709 103.059 39.9745 103.056 39.9745 103.052C40.055 102.99 40.1756 102.906 40.1719 102.913C40.15 102.931 40.0879 102.979 40.0696 102.99C40.1281 102.957 40.0586 103.015 40.1171 102.975C40.0769 103.001 39.9965 103.052 39.9672 103.074C40.1281 102.975 40.0367 103.026 40.1902 102.939L40.2414 102.913L40.3072 102.876L40.2816 102.887C40.3218 102.869 40.3328 102.862 40.4059 102.825L40.3876 102.836C40.5046 102.781 40.5229 102.774 40.6216 102.745C40.6289 102.745 40.6143 102.745 40.6033 102.749C40.6947 102.723 40.6545 102.73 40.7532 102.712H40.7641H40.7751H40.7824C40.7824 102.712 40.8007 102.712 40.7897 102.712C40.7897 102.712 40.7057 102.69 40.607 102.599C40.607 102.599 40.5777 102.573 40.5631 102.562C40.5412 102.54 40.5777 102.577 40.5704 102.569C40.5448 102.544 40.5192 102.515 40.5009 102.493C40.4754 102.463 40.5083 102.504 40.5229 102.518C40.4754 102.467 40.4059 102.372 40.3767 102.328C40.3511 102.284 40.3182 102.233 40.2999 102.197C40.3072 102.211 40.3072 102.211 40.3109 102.215C40.3072 102.207 40.3109 102.211 40.2889 102.175L40.2962 102.189C40.2962 102.189 40.2962 102.182 40.2633 102.123C40.2633 102.123 40.2633 102.123 40.2597 102.112C40.2597 102.112 40.2524 102.098 40.267 102.138C40.267 102.138 40.2597 102.116 40.2597 102.12C40.2633 102.131 40.2597 102.127 40.267 102.138V102.149H40.2706L40.0477 101.48L40.0586 101.52L40.0221 101.403L40.0513 101.571C39.9636 101.279 40.0403 101.623 39.9819 101.403C39.9709 101.396 40.0257 101.531 40.0221 101.568C39.9855 101.443 40.0257 101.63 39.9782 101.436V101.414L39.9709 101.433L39.927 101.242C39.9343 101.286 39.9745 101.476 40.0074 101.623C39.9745 101.517 39.9855 101.608 39.9417 101.433L39.9343 101.385C39.927 101.465 39.7991 100.859 39.8503 101.191C39.843 101.166 39.8356 101.114 39.8393 101.118L39.8283 101.107L39.8064 100.961L39.8283 101.188L39.8137 101.089C39.7954 101.049 39.7881 101.104 39.7772 101.136V101.089C39.7772 101.246 39.7479 100.994 39.7479 101.107C39.7479 101.082 39.7479 101.071 39.7479 101.063H39.7369L39.7296 100.972C39.7406 101.188 39.6894 100.69 39.7077 100.873C39.7077 100.968 39.715 101.089 39.7187 101.21C39.7077 101.221 39.7077 101.082 39.6967 100.994C39.6894 100.983 39.6967 101.158 39.6821 101.067V100.965C39.6821 100.965 39.6748 101.056 39.6675 101.071V101.023C39.6565 101.235 39.6602 100.727 39.6529 101.166C39.6529 101.085 39.6419 101.147 39.6492 100.946C39.6382 101.074 39.6273 101.136 39.609 101.217C39.6309 100.888 39.6053 101.239 39.6127 101.049L39.598 101.224C39.5761 101.246 39.6127 100.807 39.598 100.877L39.6236 100.701L39.5907 100.895C39.5907 100.862 39.5907 100.829 39.5944 100.8C39.598 100.764 39.5578 100.727 39.5542 100.727C39.5249 100.815 39.4701 101.023 39.4774 100.957L39.4847 100.935C39.4774 100.957 39.4701 100.979 39.4628 101.001L39.4555 101.027C39.4445 101.067 39.4335 101.104 39.4226 101.144C39.397 101.228 39.375 101.305 39.3495 101.385C39.3312 101.443 39.3092 101.506 39.2837 101.582C39.2837 101.575 39.2873 101.568 39.291 101.564C39.2252 101.751 39.2325 101.732 39.2215 101.758L39.2398 101.703C39.2179 101.765 39.185 101.853 39.1703 101.882L39.1374 101.966C39.1374 101.966 39.1338 101.974 39.1301 101.981L39.1228 101.995L39.1045 102.039C39.0936 102.058 39.0826 102.091 39.0387 102.178C39.0387 102.186 39.0022 102.244 39.0278 102.2C38.9876 102.281 38.951 102.343 38.9144 102.398L38.9291 102.372C38.9291 102.372 38.9035 102.416 38.8852 102.441C38.9071 102.409 38.8852 102.441 38.8779 102.452C38.8633 102.474 38.8925 102.434 38.8815 102.445C38.8596 102.474 38.834 102.511 38.8194 102.526L38.8304 102.515C38.8304 102.515 38.7902 102.562 38.7828 102.569C38.7719 102.58 38.7828 102.569 38.7573 102.595C38.7536 102.595 38.7463 102.606 38.7463 102.606C38.7317 102.617 38.7317 102.617 38.717 102.632C38.7134 102.632 38.7097 102.635 38.7097 102.635H38.7024V102.639L39.068 102.416L39.0643 102.42L39.0534 102.427C39.0534 102.427 39.0497 102.427 38.9949 102.46L38.962 102.478C38.962 102.478 38.9364 102.489 38.9327 102.493C38.9254 102.493 38.9144 102.5 38.9071 102.504L38.8962 102.511C38.7828 102.562 38.7499 102.529 38.9144 102.547C38.9802 102.555 39.0972 102.58 39.2617 102.635L39.2471 102.628C39.3019 102.646 39.3677 102.668 39.4262 102.694C39.3824 102.675 39.3385 102.661 39.2946 102.646C39.3348 102.661 39.3824 102.679 39.4043 102.686C39.514 102.727 39.6529 102.785 39.8466 102.876C39.9636 102.935 40.0659 102.986 40.1719 103.037C40.2012 103.052 40.2268 103.067 40.2597 103.085L40.5192 103.22V103.216L40.5119 103.209C40.5119 103.209 40.4863 103.187 40.468 103.176C40.0988 102.953 40.808 103.352 40.5375 103.187C40.5704 103.209 40.6252 103.238 40.6618 103.26C40.5412 103.176 40.4827 103.132 40.2816 102.982C40.6435 103.209 40.2816 102.968 40.4717 103.088L40.3255 102.993C40.4169 103.045 40.4534 103.059 40.5594 103.129L40.384 103.004L40.5338 103.103C40.5338 103.103 40.4498 102.997 40.7459 103.198C40.5412 103.023 40.6399 103.023 40.7239 103.034C40.6143 102.935 40.6143 102.917 40.6106 102.898L40.7788 103.026C40.7349 102.975 40.5448 102.792 40.6545 102.873C40.6728 102.891 40.6837 102.902 40.6947 102.909C40.6691 102.873 40.7605 102.939 40.6252 102.8C40.6435 102.8 40.7349 102.862 40.8775 103.001C40.6179 102.763 40.936 103.015 40.936 103.015C40.936 103.015 41.0018 103.023 41.0895 103.004C41.1736 102.99 41.2869 102.95 41.3783 102.851C41.5574 102.661 41.7036 102.208 41.2357 101.356C41.137 101.213 41.0895 101.107 40.9506 100.954C40.9286 100.888 41.1297 101.122 41.0237 100.983C40.925 100.913 40.7495 100.625 40.5887 100.478L40.5777 100.435C40.5046 100.336 40.6435 100.563 40.5083 100.383L40.7093 100.639C40.6654 100.61 40.6179 100.563 40.5412 100.482C40.6106 100.592 40.8775 100.939 40.7276 100.815V100.793C40.7093 100.822 40.5777 100.639 40.5375 100.603H40.5448L40.4242 100.489C40.5083 100.563 40.3657 100.336 40.3657 100.361C40.2816 100.314 40.4242 100.416 40.4278 100.464C40.4278 100.486 40.3218 100.35 40.256 100.27L40.2414 100.299C40.1464 100.182 40.2633 100.292 40.1537 100.179L40.2268 100.329C39.9819 100.036 40.3109 100.497 40.0732 100.226C40.0367 100.138 39.9892 100.128 39.9161 100.029L39.8795 100.087C39.843 100.051 39.8174 99.9849 39.8247 100.007C39.7479 99.9338 39.8685 100.091 39.8612 100.095C39.7918 100.018 39.8247 100.128 39.6675 99.9301C39.5249 99.8277 39.8539 100.193 39.7333 100.106C39.6309 99.9886 39.7333 100.058 39.62 99.9447V100.018C39.5798 99.9557 39.4701 99.8204 39.503 99.8351C39.2837 99.751 38.7134 99.1698 38.7573 99.4037C38.6257 99.2721 38.6878 99.3014 38.6183 99.2027C38.7097 99.4439 38.2674 98.9724 38.2236 99.0418L38.3223 99.1588C37.9348 98.8737 38.0188 99.1734 37.7922 99.1149L37.8763 99.1844C37.9604 99.305 37.9494 99.3343 37.9823 99.3964C37.9275 99.3416 37.7739 99.1478 37.7885 99.2209C37.8324 99.2538 37.8799 99.2867 37.9275 99.3416C37.5765 99.1295 37.4669 99.3672 37.1854 99.3891C37.0794 99.6669 36.6407 99.7181 36.5237 100.036C36.542 99.9922 36.8308 100.23 36.7394 100.208C36.1691 99.9118 36.7284 100.405 36.3154 100.241C36.3848 100.504 35.8182 100.372 36.1509 100.778L35.9937 100.694C35.9096 100.679 36.012 100.745 36.0156 100.778L35.9717 100.753C35.884 100.775 35.9937 100.957 35.895 100.965L36.0741 101.056C36.0668 101.114 35.9206 101.016 36.001 101.118L35.9096 101.074L36.0558 101.213C35.7341 101.067 35.9608 101.359 35.7926 101.359C35.8182 101.469 35.9096 101.681 35.8036 101.824C35.6208 101.809 35.5733 102.025 35.4673 102.178C35.4709 102.493 35.5404 102.982 35.5952 103.403L35.8146 103.337L35.8548 103.432C35.8072 103.443 35.7853 103.465 35.7561 103.458C35.5294 103.619 35.9059 103.659 35.7853 103.787C35.9608 103.662 35.789 103.71 35.7743 103.651C35.8511 103.538 36.0814 103.538 36.012 103.673L35.9644 103.688L36.1033 103.71C35.9425 103.787 35.8913 103.878 35.7341 103.959C35.8219 104.105 35.9608 104.171 36.0814 104.236C36.224 104.335 36.3775 104.459 36.4726 104.627C36.2971 104.733 36.7029 104.803 36.3994 104.982C36.6626 105.055 36.5676 104.755 36.8125 104.653C36.8491 104.697 36.9587 104.668 36.882 104.77C36.8052 104.814 36.7796 104.96 36.7211 104.953L36.8454 105.022C36.8381 105.052 36.7833 105.07 36.7577 105.077C36.9332 105.092 36.9916 105.201 37.0538 105.311C37.1159 105.421 37.1744 105.516 37.3133 105.479C37.3864 105.377 37.2585 105.41 37.3316 105.307C37.4815 105.245 37.4815 105.307 37.4888 105.384C37.4924 105.461 37.4998 105.545 37.6058 105.494L37.5071 105.636C37.6058 105.549 37.6789 105.421 37.7045 105.582C37.6423 105.779 37.5765 105.709 37.4961 105.779C37.5546 105.816 37.7045 105.816 37.7301 105.629C37.8105 105.589 37.7703 105.768 37.7849 105.83C37.8032 105.783 37.7739 105.68 37.8434 105.607C37.8799 105.742 37.9969 105.779 38.0737 105.819C38.0591 105.867 38.0444 105.943 38.0298 105.962C38.1724 105.728 38.0371 106.159 38.1431 106.13L38.0773 106.097Z" fill="#666460"/>
  <path d="M41.8469 104.695H41.792C41.814 104.731 41.8396 104.775 41.8469 104.83V104.695Z" fill="#666460"/>
  <path d="M40.4136 105.063C40.4136 105.063 40.4136 105.099 40.4136 105.123C40.4175 105.111 40.4136 105.087 40.4136 105.063Z" fill="#666460"/>
  <path d="M40.1775 105.455C40.1921 105.408 40.1702 105.356 40.1555 105.305C40.1592 105.345 40.1665 105.393 40.1775 105.455Z" fill="#666460"/>
  <path d="M42.4053 103.126C42.4053 103.126 42.4468 103.16 42.4883 103.168C42.4581 103.142 42.4279 103.13 42.4053 103.126Z" fill="#666460"/>
  <path d="M41.6755 100.887C41.6755 100.887 41.6623 100.9 41.6492 100.914C41.6623 100.9 41.6711 100.892 41.6755 100.887Z" fill="#666460"/>
  <path d="M41.449 101.123C41.449 101.123 41.457 101.123 41.4772 101.106C41.4853 101.094 41.4691 101.106 41.449 101.123Z" fill="#666460"/>
  <path d="M41.9017 104.077C41.9017 104.077 41.8979 104.111 41.9168 104.152C41.9281 104.133 41.9168 104.107 41.9017 104.077Z" fill="#666460"/>
  <path d="M41.5183 101.084L41.5066 101.107C41.5066 101.107 41.5262 101.092 41.5379 101.08H41.5144L41.5183 101.084Z" fill="#666460"/>
  <path d="M41.6836 100.869C41.6836 100.869 41.6836 100.881 41.6675 100.893C41.7118 100.853 41.7118 100.849 41.6836 100.869Z" fill="#666460"/>
  <path d="M41.9255 101.818C41.9255 101.818 41.9255 101.818 41.9331 101.818C42.0242 101.796 41.9824 101.799 41.9255 101.818Z" fill="#666460"/>
  <path d="M41.803 100.876L41.7949 100.884L41.8436 100.843L41.803 100.876Z" fill="#666460"/>
  <path d="M41.7251 100.795C41.7251 100.795 41.7369 100.787 41.7605 100.775C41.7645 100.767 41.7723 100.763 41.7763 100.755C41.7527 100.771 41.7369 100.783 41.7251 100.795Z" fill="#666460"/>
  <path d="M41.9177 101.285C41.8555 101.329 41.8152 101.358 41.7859 101.384C41.7932 101.388 41.8225 101.369 41.9177 101.285Z" fill="#666460"/>
</svg>              </div>
              <h3 class="form-status__message" tabindex="-1" autofocus>
                we received<br>
your details
              </h3>
            </div>
          {%- else -%}
            <div class="contact__fields">
              <div class="field">
                <input
                  class="field__input"
                  autocomplete="name"
                  type="text"
                  id="ContactForm-name"
                  name="contact[{{ 'templates.contact.form.name' | t }}]"
                  value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                  placeholder="{{ 'templates.contact.form.name' | t }}"
                >
                <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
              </div>

              <div class="field">
                <input
                  type="tel"
                  id="ContactForm-phone"
                  class="field__input"
                  autocomplete="tel"
                  name="contact[{{ 'templates.contact.form.phone' | t }}]"
                  pattern="[0-9\-]*"
                  value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                  placeholder="{{ 'templates.contact.form.phone' | t }}"
                >
                <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
              </div>

              <div class="field field--with-error">
                <input
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  class="field__input"
                  name="contact[email]"
                  spellcheck="false"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="ContactForm-email-error"
                  {% endif %}
                  placeholder="{{ 'templates.contact.form.email' | t }}"
                >
                <label class="field__label" for="ContactForm-email">
                  {{- 'templates.contact.form.email' | t }}
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'email' -%}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </span>
                  </small>
                {%- endif -%}
              </div>

              <div class="field">
                <input
                  class="field__input"
                  type="text"
                  id="ContactForm-instagram"
                  name="contact[instagram]"
                  placeholder="Instagram Link"
                >
                <label class="field__label" for="ContactForm-instagram">Message</label>
              </div>

              <div class="contact__button">
                <button type="submit" class="button">
                  {{ 'templates.contact.form.send' | t }}
                </button>
              </div>
            </div>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
</div>

<style>


@media (min-width: 768px){
.contact__button {
        margin-top: 2.9rem;
}
 
}

   .header:not(.drawer-menu).page-width {
        background: #fff !important;

}

@media (max-width: 768px){
.split_text_section{
    padding-left: 25px !important;
    padding-right: 25px !important;
    max-width: 100%;
    order: -1;
    padding-bottom: 25px!important;
}


.contact__button {
    margin-top: 25px!important;
}

.contact h2 {
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 25px !important;
}
.split-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.split-section__text {
    margin-bottom: 15px !important;
}
}


    .split-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.text-heading {
    font-weight: 350!important;
}

    .contact__fields {
        display: grid;
        grid-template-columns: repeat(1, 1fr)!important;
        grid-column-gap: 2rem;
    }


.split-section__contact,
.split-section__content {
  flex: 1;

}

h3.form-status__message {
    color: #666460;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.8215rem;
    font-style: normal;
    font-weight: 350;
    line-height: 2.1858rem;
    letter-spacing: 0.2732rem;
    text-transform: uppercase;
}

    .form-status__icon {
      
    text-align: center;

    }
    .form-status__icon svg{
      width: 3.8646rem;
height: 6.10935rem;

    }

.split-section__content>div{
    max-width: 29rem;
    margin-left: auto;
    margin-right: auto;
}


    .split-section__icons {
    
    display: flex;
    flex-flow: nowrap;
    gap: 3rem;
    align-items: center;
    }

.split-section__text {
margin-bottom: 3rem;
}

.split-section__icons img 
{
    height: 3rem;
}


  </style>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
