{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .footer__content-top {
      display: flex;
      justify-content: space-between;
    }

    .footer__left {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer__right {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
    }

    .footer__column {
      margin-left: 20px;
    }
  }

  .accordion_footer {
    cursor: pointer;
    transition: 0.4s;
  }

  .accordion_footer::after {
    content: '+';
    font-size: 19px;
    float: right;
  }

  .accordion_footer.active::after {
    content: '-';
  }

  .panel {
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        <div class="footer__left">
          <div class="text-align-center-mobile"{% if section.settings.show_ask_ai %} style="display:none;"{% endif %}>
          <svg xmlns="http://www.w3.org/2000/svg" width="46" height="56" viewBox="0 0 46 56" fill="none" class="logo">
            <path d="M14.8182 49.8501C15.9608 46.844 14.45 43.4808 11.4439 42.3383C8.43771 41.1957 5.07454 42.7065 3.93201 45.7126C2.78948 48.7188 4.30025 52.082 7.3064 53.2245C10.3125 54.367 13.6757 52.8563 14.8182 49.8501Z" fill="#CFCDC9"/>
            <path d="M19.9505 5.28403C19.5142 4.49915 18.9595 3.78663 18.3259 3.1596C16.7605 1.67974 14.669 0.38623 12.424 0.38623L0.0917969 0.390615C0.0961817 0.430078 0.098374 0.886095 0.100566 0.925558C0.657433 1.01545 1.20115 1.14699 1.72074 1.34211C3.61497 2.04806 5.12552 3.51915 6.10552 5.28622L25.8282 40.941C25.8282 40.941 27.9329 38.867 30.0903 36.7097C32.8461 33.9539 33.449 29.7072 31.5635 26.2959L19.9505 5.28403Z" fill="#CFCDC9"/>
            <path d="M44.7859 5.68085C43.2249 2.89432 40.4735 0.787438 37.5225 0.456387C37.2507 0.425693 34.291 0.38623 34.291 0.38623H27.5713C27.5757 0.427886 27.5779 0.883903 27.5801 0.923366C28.1369 1.01325 28.6806 1.1448 29.2002 1.33992C31.0945 2.04587 32.605 3.51696 33.585 5.28403C33.585 5.28403 33.6025 5.26868 33.6113 5.2621L41.1246 18.6729C45.7221 16.0969 47.362 10.2805 44.7859 5.68304V5.68085Z" fill="#CFCDC9"/>
          </svg>
      </div>
          {%- if section.settings.show_ask_ai -%}
            {%- render 'ask-ai-buttons' -%}
          {%- endif -%}
          {%- if section.settings.newsletter_enable -%}
            <div class="footer__newsletter">
              <h3>{{ section.settings.newsletter_heading }}</h3>
              <div class="under_newsletter">{{ section.settings.brand_description }}</div>
              {%- form 'customer', id: 'ContactFooter', class: 'newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      Email Address
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      Subscribe
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
              <p class="under_newsletterform">By subscribing, you agree to our <a href="/pages/general-privacy-policy">Privacy Policy</a>.</p>
            </div>
          {%- endif -%}
          {%- if has_social_icons -%}
            <ul class="footer__social-icons list-unstyled hide-pc-1100">
              {%- if settings.social_twitter_link  != blank -%}
                <li>
                     <a href="{{ settings.social_twitter_link }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                      <rect x="0.277344" y="0.940918" width="40" height="40" rx="20" fill="#E8E8E8"/>
                      <path d="M24.8033 9.2749H20.4579V26.0768C20.4579 28.0788 18.7866 29.7232 16.7068 29.7232C14.627 29.7232 12.9557 28.0788 12.9557 26.0768C12.9557 24.1107 14.5898 22.5019 16.5954 22.4305V18.2121C12.1758 18.2836 8.61035 21.7512 8.61035 26.0768C8.61035 30.4382 12.25 33.9416 16.744 33.9416C21.2378 33.9416 24.8775 30.4025 24.8775 26.0768V17.4614C26.5117 18.6053 28.5172 19.2846 30.6342 19.3203V15.102C27.3659 14.9947 24.8033 12.4208 24.8033 9.2749Z" fill="#716F6A"/>
                    </svg>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li>
                  <a href="{{ settings.social_instagram_link }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                      <circle cx="20.1348" cy="21.0034" r="19.9375" fill="#E8E8E8"/>
                      <path d="M15.7395 20.7986C15.7395 18.3702 17.7076 16.401 20.136 16.401C22.5644 16.401 24.5336 18.3702 24.5336 20.7986C24.5336 23.227 22.5644 25.1962 20.136 25.1962C17.7076 25.1962 15.7395 23.227 15.7395 20.7986ZM13.3622 20.7986C13.3622 24.5398 16.3948 27.5724 20.136 27.5724C23.8772 27.5724 26.9098 24.5398 26.9098 20.7986C26.9098 17.0574 23.8772 14.0248 20.136 14.0248C16.3948 14.0248 13.3623 17.0572 13.3623 20.7986M25.595 13.7563C25.5949 14.0693 25.6876 14.3754 25.8615 14.6358C26.0353 14.8962 26.2825 15.0992 26.5717 15.2191C26.8609 15.3391 27.1791 15.3706 27.4862 15.3096C27.7933 15.2486 28.0755 15.098 28.2969 14.8767C28.5184 14.6554 28.6693 14.3734 28.7305 14.0663C28.7917 13.7593 28.7605 13.441 28.6408 13.1517C28.5211 12.8624 28.3183 12.6151 28.058 12.441C27.7978 12.267 27.4918 12.174 27.1787 12.1739H27.178C26.7584 12.1741 26.3559 12.3408 26.0591 12.6375C25.7623 12.9342 25.5954 13.3366 25.595 13.7563ZM14.8066 31.5364C13.5204 31.4778 12.8214 31.2636 12.3568 31.0826C11.7409 30.8428 11.3015 30.5573 10.8395 30.0959C10.3774 29.6345 10.0914 29.1955 9.85273 28.5796C9.67163 28.1152 9.4574 27.416 9.39894 26.1298C9.33498 24.7393 9.32221 24.3216 9.32221 20.7988C9.32221 17.276 9.33604 16.8595 9.39894 15.4678C9.45751 14.1817 9.67332 13.4838 9.85273 13.018C10.0925 12.4022 10.3781 11.9627 10.8395 11.5007C11.3009 11.0387 11.7399 10.7527 12.3568 10.514C12.8212 10.3329 13.5204 10.1186 14.8066 10.0602C16.1971 9.99621 16.6148 9.98344 20.136 9.98344C23.6572 9.98344 24.0753 9.99705 25.467 10.0604C26.7532 10.1189 27.451 10.3348 27.9168 10.5142C28.5327 10.7529 28.9721 11.0395 29.4341 11.5009C29.8961 11.9623 30.1811 12.4024 30.4209 13.0183C30.602 13.4826 30.8162 14.1819 30.8746 15.468C30.9386 16.8597 30.9514 17.2762 30.9514 20.799C30.9514 24.3218 30.9386 24.7384 30.8746 26.13C30.8161 27.4162 30.6008 28.1152 30.4209 28.5798C30.1811 29.1957 29.8955 29.6351 29.4341 30.0961C28.9727 30.5571 28.5327 30.8431 27.9168 31.0828C27.4524 31.2639 26.7532 31.4782 25.467 31.5366C24.0765 31.6006 23.6588 31.6133 20.136 31.6133C16.6132 31.6133 16.1967 31.6006 14.8066 31.5366M14.6973 7.68682C13.293 7.75078 12.3334 7.97345 11.4954 8.29955C10.628 8.63631 9.89273 9.08809 9.15853 9.82113C8.42434 10.5542 7.97371 11.2895 7.63695 12.158C7.31085 12.9965 7.08818 13.9556 7.02422 15.3599C6.95922 16.7665 6.94434 17.2162 6.94434 20.7986C6.94434 24.381 6.95922 24.8307 7.02422 26.2373C7.08818 27.6417 7.31085 28.6007 7.63695 29.4392C7.97371 30.3066 8.42444 31.0434 9.15853 31.7761C9.89262 32.5088 10.6269 32.9599 11.4954 33.2976C12.335 33.6237 13.293 33.8464 14.6973 33.9104C16.1046 33.9743 16.5536 33.9903 20.136 33.9903C23.7184 33.9903 24.1681 33.9754 25.5747 33.9104C26.9791 33.8464 27.9381 33.6237 28.7766 33.2976C29.644 32.9599 30.3793 32.5091 31.1135 31.7761C31.8477 31.043 32.2973 30.3066 32.6351 29.4392C32.9611 28.6007 33.1849 27.6416 33.2478 26.2373C33.3117 24.8297 33.3266 24.381 33.3266 20.7986C33.3266 17.2162 33.3117 16.7665 33.2478 15.3599C33.1838 13.9555 32.9611 12.996 32.6351 12.158C32.2973 11.2906 31.8465 10.5553 31.1135 9.82113C30.3804 9.08693 29.644 8.63631 28.7777 8.29955C27.9381 7.97345 26.979 7.74972 25.5757 7.68682C24.169 7.62255 23.7195 7.60693 20.1376 7.60693C16.5557 7.60693 16.1052 7.62181 14.6979 7.68682" fill="#716F6A"/>
                    </svg>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li>
           
 <a href="{{ settings.social_facebook_link }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                      <g clip-path="url(#clip0_0_1169)">
                        <rect x="0.277344" y="0.940918" width="40" height="40" rx="20" fill="#E8E8E8"/>
                        <path d="M28.0625 26.7222L28.9492 20.9409H23.4023V17.1909C23.4023 15.6089 24.1758 14.0659 26.6602 14.0659H29.1836V9.14404C29.1836 9.14404 26.8945 8.75342 24.707 8.75342C20.1367 8.75342 17.1523 11.5229 17.1523 16.5347V20.9409H12.0742V26.7222H17.1523V40.6987C18.1719 40.8589 19.2148 40.9409 20.2773 40.9409C21.3398 40.9409 22.3828 40.8589 23.4023 40.6987V26.7222H28.0625Z" fill="#716F6A"/>
                      </g>
                      <defs>
                        <clipPath id="clip0_0_1169">
                          <rect x="0.277344" y="0.940918" width="40" height="40" rx="20" fill="white"/>
                        </clipPath>
                      </defs>
                    </svg>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          {%- endif -%}
        </div>
        <div class="footer__right">
  {%- for block in section.blocks -%}
  {%- if block.type == 'link_list' -%}
    <div class="footer__column">
      {%- if block.settings.heading != blank -%}
        <h2 class="footer-block__heading accordion_footer {% if block.settings.show_icons %}  hide-mobile {% endif %}">{{ block.settings.heading }}</h2>
      {%- endif -%}
      
      {%- if block.settings.show_icons -%}
        <div class="footer-icon-Commitments">
<svg xmlns="http://www.w3.org/2000/svg" width="128" height="51" viewBox="0 0 128 51" fill="none">
<path d="M37.6519 21.6423C37.6519 20.9523 37.0863 20.3867 36.3963 20.3867C35.7062 20.3867 35.1406 20.9523 35.1406 21.6423C35.1406 22.3324 35.7062 22.898 36.3963 22.898C37.0863 22.898 37.6519 22.3324 37.6519 21.6423Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M51.216 24.7756C51.216 24.6399 51.216 24.5042 51.2047 24.3684C51.2047 24.2892 51.2047 24.2214 51.1934 24.1422C51.1934 24.0177 51.1821 23.882 51.1708 23.7576C51.1708 23.6784 51.1708 23.6105 51.1595 23.5313C51.1595 23.3956 51.1368 23.2598 51.1255 23.1241C51.1255 23.0562 51.1142 22.9997 51.1029 22.9318C51.0803 22.7395 51.0577 22.5585 51.035 22.3662C51.035 22.3662 51.035 22.3549 51.035 22.3436C51.0124 22.1513 50.9785 21.959 50.9558 21.7667C50.9558 21.6988 50.9332 21.6422 50.9219 21.5744C50.8993 21.4386 50.8767 21.3142 50.854 21.1898C50.8427 21.1219 50.8314 21.0427 50.8088 20.9748C50.7862 20.8504 50.7635 20.7373 50.7409 20.6128C50.7296 20.5337 50.707 20.4658 50.6957 20.3866C50.673 20.2622 50.6391 20.1377 50.6165 20.0133C50.6052 19.9454 50.5826 19.8776 50.5712 19.8097C50.5373 19.64 50.4921 19.4703 50.4468 19.312C50.4468 19.2893 50.4355 19.2554 50.4242 19.2328C50.3789 19.0518 50.3337 18.8821 50.2771 18.7124C50.2545 18.6446 50.2432 18.5767 50.2206 18.5088C50.1866 18.3957 50.1527 18.2713 50.1188 18.1581C50.0961 18.079 50.0735 18.0111 50.0509 17.9319C50.017 17.8188 49.983 17.717 49.9491 17.6039C49.9265 17.5247 49.9038 17.4568 49.8699 17.3776C49.836 17.2645 49.7907 17.1627 49.7568 17.0496C49.7342 16.9817 49.7115 16.9025 49.6776 16.8346C49.6323 16.6989 49.5758 16.5632 49.5192 16.4274C49.4966 16.3595 49.4627 16.2917 49.44 16.2238C49.3835 16.0767 49.3269 15.941 49.2704 15.7939C49.2364 15.7148 49.2025 15.6469 49.1799 15.579C49.1346 15.4772 49.0894 15.3754 49.0441 15.2849C49.0102 15.2057 48.9762 15.1265 48.931 15.0474C48.8858 14.9569 48.8405 14.8664 48.8066 14.7759C48.7726 14.6967 48.7274 14.6175 48.6935 14.5383C48.6482 14.4478 48.603 14.3573 48.5577 14.2668C48.5238 14.1876 48.4785 14.1085 48.4333 14.0293C48.3767 13.9275 48.3315 13.837 48.2749 13.7352C48.207 13.6107 48.1392 13.4863 48.0713 13.3732C48.0147 13.2714 47.9582 13.1809 47.9129 13.0791C47.8677 12.9999 47.8224 12.9094 47.7659 12.8302C47.7206 12.751 47.6754 12.6718 47.6301 12.5927C47.5736 12.5022 47.5283 12.423 47.4718 12.3438C47.4265 12.2759 47.3813 12.1967 47.336 12.1289C47.2795 12.0384 47.2229 11.9592 47.1776 11.8687C47.1324 11.8008 47.0872 11.7329 47.0419 11.6651C46.9853 11.5746 46.9288 11.4954 46.8722 11.4049C46.827 11.3483 46.793 11.2805 46.7478 11.2239C46.6234 11.0429 46.4876 10.8619 46.3632 10.6809C46.3293 10.6357 46.2953 10.5904 46.2614 10.5452C46.1935 10.4547 46.1256 10.3642 46.0578 10.2737C46.0125 10.2171 45.9786 10.1606 45.9333 10.104C45.8655 10.0135 45.7976 9.92303 45.7184 9.83254C45.6732 9.77598 45.6279 9.73073 45.594 9.67417C45.5261 9.58367 45.4469 9.49318 45.379 9.40268C45.3338 9.35744 45.2999 9.31219 45.2546 9.25563C45.1754 9.16513 45.0962 9.06332 45.0171 8.97283C44.9944 8.9502 44.9718 8.92758 44.9605 8.90496C44.6664 8.57691 44.361 8.24886 44.0555 7.93213C44.0216 7.89819 43.9877 7.86425 43.965 7.83032C43.8746 7.73982 43.7841 7.64933 43.6936 7.55883C43.6596 7.5249 43.6257 7.49096 43.5804 7.45702C43.4899 7.36653 43.3881 7.27603 43.2976 7.18554C43.2637 7.1516 43.2411 7.12898 43.2071 7.09504C42.9809 6.88011 42.7434 6.6765 42.5058 6.46157C42.2683 6.25796 42.0307 6.05434 41.7818 5.86204C41.7592 5.85073 41.7479 5.8281 41.7253 5.81679C41.6122 5.72629 41.499 5.6358 41.3859 5.5453C41.3633 5.52268 41.3294 5.50005 41.3067 5.48874C41.1936 5.39825 41.0805 5.31906 40.9561 5.22857C40.9334 5.21726 40.9221 5.20594 40.8995 5.18332C40.6054 4.96839 40.3 4.75346 39.9945 4.54985C39.757 4.39148 39.5194 4.23311 39.2706 4.08606C39.2706 4.08606 39.2706 4.08606 39.2593 4.08606C39.1235 4.00687 38.9878 3.91638 38.852 3.8372C38.8407 3.8372 38.8181 3.81457 38.8068 3.80326C38.671 3.72408 38.5353 3.64489 38.3996 3.56571C38.3996 3.56571 38.3883 3.56571 38.3769 3.5544C37.9245 3.29422 37.4607 3.05667 36.9856 2.83043C36.7028 2.69469 36.42 2.55894 36.1259 2.43451C36.1259 2.43451 36.1032 2.43451 36.0919 2.4232C35.9449 2.35533 35.7865 2.28746 35.6394 2.2309C35.1191 2.01597 34.5761 1.81235 34.0445 1.63136C33.773 1.54087 33.5015 1.45037 33.23 1.37119C33.23 1.37119 33.2187 1.37119 33.2074 1.37119C33.0603 1.32594 32.9019 1.28069 32.7549 1.23544C32.7549 1.23544 32.7323 1.23544 32.721 1.23544C30.5943 0.64722 28.3545 0.341797 26.0356 0.341797C22.3479 0.341797 18.8412 1.13363 15.6851 2.55894C15.6399 2.58157 15.5946 2.60419 15.5494 2.6155C15.4363 2.67206 15.3118 2.72862 15.1987 2.77387C15.1422 2.79649 15.0856 2.83043 15.0177 2.86437C14.8707 2.93224 14.7236 3.01142 14.5766 3.07929C14.5313 3.10192 14.4861 3.12454 14.4295 3.15848C14.3164 3.21504 14.2033 3.2716 14.1015 3.32816C14.0449 3.36209 13.9883 3.38472 13.9318 3.41865C13.796 3.49784 13.649 3.57702 13.5132 3.6562C13.468 3.67883 13.4114 3.71276 13.3662 3.7467C13.2644 3.80326 13.1513 3.87113 13.0494 3.92769C12.9929 3.96163 12.9363 3.99556 12.8798 4.0295C12.744 4.10868 12.6083 4.19918 12.4725 4.27836C12.4273 4.3123 12.3707 4.34623 12.3255 4.38017C12.2237 4.44804 12.1219 4.5046 12.0314 4.57247C11.9748 4.60641 11.9182 4.64034 11.8617 4.68559C11.7259 4.77609 11.6015 4.86658 11.4658 4.95708C11.4092 4.99102 11.364 5.02495 11.3187 5.0702C11.2282 5.13807 11.1264 5.20594 11.0359 5.27381C10.9794 5.30775 10.9341 5.353 10.8775 5.39825C10.7531 5.48874 10.6287 5.59055 10.5043 5.68105C10.4477 5.72629 10.4024 5.76023 10.3459 5.80548C10.2554 5.87335 10.1649 5.94122 10.0857 6.0204C10.0291 6.06565 9.9839 6.09959 9.92734 6.14484C9.80291 6.24664 9.68979 6.34845 9.56536 6.45026C9.5088 6.49551 9.46355 6.54076 9.40699 6.586C9.32781 6.65387 9.23731 6.73306 9.15813 6.80093C9.10157 6.84618 9.05632 6.89143 8.99976 6.93667C8.88664 7.03848 8.77352 7.14029 8.6604 7.25341C8.60384 7.29866 8.55859 7.35522 8.50203 7.40047C8.42285 7.47965 8.34367 7.54752 8.27579 7.6267C8.23055 7.67195 8.17399 7.72851 8.12874 7.77376C8.02693 7.88688 7.91381 7.98869 7.812 8.10181C7.75544 8.15837 7.7102 8.21493 7.65364 8.26017C7.58576 8.33936 7.50658 8.40723 7.43871 8.48641C7.39346 8.54297 7.3369 8.58822 7.29165 8.64478C7.18985 8.7579 7.08804 8.87102 6.99754 8.98414C6.94098 9.0407 6.89573 9.09726 6.83917 9.16513C6.7713 9.24432 6.71474 9.31219 6.64687 9.39137C6.59031 9.45924 6.53375 9.52711 6.4885 9.58367C6.39801 9.68548 6.31882 9.7986 6.22833 9.90041C6.18308 9.96828 6.12652 10.0248 6.08127 10.0927C6.02471 10.1719 5.96815 10.2398 5.91159 10.319C5.84372 10.4094 5.78716 10.4886 5.71929 10.5791C5.65142 10.6696 5.58355 10.7714 5.51567 10.8619C5.47043 10.9298 5.41387 10.9977 5.36862 11.0655C5.31206 11.1447 5.26681 11.2126 5.21025 11.2918C5.14238 11.3936 5.07451 11.4954 5.00664 11.5972C4.95008 11.6764 4.89352 11.7669 4.83696 11.8574C4.79171 11.9366 4.74646 12.0044 4.6899 12.0836C4.64465 12.1628 4.59941 12.2307 4.55416 12.3099C4.48629 12.423 4.41841 12.5361 4.33923 12.6605C4.29398 12.7397 4.24873 12.8189 4.20349 12.8981C4.15824 12.9773 4.11299 13.0564 4.06774 13.1356C4.0225 13.2035 3.98856 13.2827 3.94331 13.3506C3.87544 13.475 3.80757 13.6107 3.72838 13.7352C3.69445 13.803 3.6492 13.8822 3.61526 13.9501C3.57002 14.0406 3.52477 14.1198 3.47952 14.2103C3.44558 14.2781 3.41165 14.346 3.37771 14.4252C3.30984 14.5609 3.24197 14.708 3.1741 14.8437C3.14016 14.9116 3.10623 14.9795 3.0836 15.0474C3.03835 15.1379 3.00442 15.2283 2.95917 15.3188C2.92523 15.3867 2.90261 15.4546 2.86867 15.5225C2.8008 15.6695 2.73293 15.8279 2.67637 15.9749C2.65375 16.0428 2.61981 16.0994 2.59719 16.1672C2.56325 16.2577 2.518 16.3595 2.48407 16.45C2.46144 16.5066 2.43882 16.5745 2.4162 16.631C2.35964 16.7894 2.29176 16.9591 2.2352 17.1288C2.21258 17.1853 2.18996 17.2532 2.16733 17.3097C2.1334 17.4116 2.09946 17.5134 2.06552 17.6152C2.0429 17.6717 2.03159 17.7283 2.00896 17.7849C1.9524 17.9658 1.89585 18.1355 1.83929 18.3165C1.81666 18.3731 1.80535 18.4296 1.78273 18.4862C1.74879 18.588 1.72617 18.7011 1.69223 18.8029C1.68092 18.8482 1.66961 18.8934 1.65829 18.9387C1.60173 19.131 1.55649 19.3233 1.51124 19.5156C1.49993 19.5721 1.48861 19.6287 1.46599 19.6853C1.44337 19.7984 1.40943 19.9002 1.38681 20.0133C1.38681 20.0472 1.37549 20.0812 1.36418 20.1151C1.31893 20.3187 1.27369 20.5337 1.22844 20.7486C1.22844 20.8051 1.20582 20.8504 1.1945 20.907C1.17188 21.0201 1.14926 21.1332 1.13794 21.2463V21.2689C1.0927 21.5065 1.05876 21.744 1.02482 21.9816C1.02482 22.0382 1.01351 22.0834 1.0022 22.14C0.990888 22.2531 0.968264 22.3662 0.956952 22.4906C0.83252 23.4974 0.764648 24.5381 0.764648 25.5788C0.764648 35.013 5.94553 43.2255 13.6037 47.5579C13.649 47.5806 13.6942 47.6032 13.7395 47.6371C13.8865 47.7163 14.0449 47.8068 14.2033 47.886C14.2598 47.9199 14.3277 47.9539 14.3843 47.9765C14.4748 48.0217 14.5652 48.067 14.6671 48.1235C14.7236 48.1575 14.7802 48.1801 14.8367 48.214C15.029 48.3045 15.2213 48.4063 15.425 48.4968C15.4476 48.5082 15.4702 48.5195 15.5041 48.5308C15.6059 48.576 15.7191 48.6213 15.8209 48.6778C15.8661 48.7005 15.9114 48.7231 15.9566 48.7344C16.3073 48.8815 16.658 49.0285 17.0199 49.1642C17.0426 49.1642 17.0765 49.1869 17.0991 49.1982C17.4837 49.3452 17.8797 49.481 18.2756 49.6054C18.8185 49.7751 19.3728 49.9335 19.9271 50.0692C21.8728 50.5443 23.8976 50.8045 25.9903 50.8045C32.868 50.8045 39.1009 48.0557 43.6596 43.5874C43.818 43.4291 43.9764 43.2707 44.1347 43.1123C44.1347 43.1123 44.146 43.101 44.1574 43.0897C44.3157 42.9314 44.4628 42.7617 44.6211 42.6033C44.9266 42.264 45.2207 41.9246 45.5148 41.5739C45.6505 41.4042 45.7863 41.2346 45.922 41.0649C45.9333 41.0423 45.9446 41.0309 45.9673 41.0083C46.0917 40.8386 46.2161 40.6803 46.3406 40.5106C46.3519 40.488 46.3745 40.4653 46.3858 40.4427C46.5102 40.273 46.6347 40.1034 46.7478 39.9337C46.7591 39.9111 46.7704 39.8997 46.7817 39.8771C46.9062 39.6961 47.0193 39.5151 47.1437 39.3342C47.2568 39.1645 47.3586 38.9948 47.4718 38.8138C47.5736 38.6441 47.6754 38.4744 47.7772 38.2934C47.7772 38.2934 47.7772 38.2934 47.7772 38.2821C47.879 38.1125 47.9695 37.9428 48.0713 37.7731C48.0713 37.7731 48.0713 37.7618 48.0826 37.7505C48.1731 37.5808 48.2636 37.4111 48.3541 37.2414C48.3541 37.2301 48.3654 37.2188 48.3767 37.2075C48.4672 37.0378 48.5464 36.8681 48.6369 36.6985C48.6369 36.6871 48.6482 36.6645 48.6595 36.6532C48.7387 36.4835 48.8179 36.3139 48.8971 36.1442C48.8971 36.1216 48.9197 36.1102 48.9197 36.0876C48.9989 35.9179 49.0667 35.7596 49.1459 35.5899C49.1459 35.5673 49.1686 35.5446 49.1799 35.522C49.2477 35.3636 49.3156 35.194 49.3835 35.0243C49.3835 35.0017 49.4061 34.9677 49.4174 34.9451C49.4853 34.7867 49.5418 34.6171 49.6097 34.4587C49.621 34.4248 49.6323 34.3908 49.6437 34.3682C49.7002 34.2098 49.7568 34.0515 49.8133 33.8818C49.8246 33.8478 49.836 33.8139 49.8473 33.7687C49.9038 33.6103 49.9491 33.4519 50.0056 33.2936C50.017 33.2483 50.0283 33.2144 50.0509 33.1691C50.0961 33.0108 50.1414 32.8637 50.1866 32.7053C50.1979 32.6601 50.2093 32.6148 50.2319 32.5696C50.2771 32.4225 50.3111 32.2642 50.3563 32.1171C50.3676 32.0606 50.3789 32.0153 50.4016 31.9587C50.4355 31.8117 50.4807 31.6646 50.5147 31.5063C50.526 31.4497 50.5373 31.3931 50.5599 31.3366C50.5939 31.1895 50.6278 31.0425 50.6617 30.8954C50.673 30.8389 50.6844 30.771 50.6957 30.7144C50.7296 30.5674 50.7522 30.4316 50.7749 30.2846C50.7862 30.2167 50.7975 30.1601 50.8088 30.0923C50.8314 29.9565 50.854 29.8095 50.8767 29.6737C50.8767 29.6059 50.8993 29.538 50.9106 29.4701C50.9332 29.3344 50.9558 29.1873 50.9672 29.0516C50.9672 28.9837 50.9898 28.9045 51.0011 28.8366C51.0237 28.7009 51.035 28.5652 51.0463 28.4294C51.0463 28.3502 51.069 28.2824 51.069 28.2032C51.0803 28.0674 51.0916 27.9317 51.1029 27.7959C51.1029 27.7168 51.1142 27.6376 51.1255 27.5584C51.1255 27.4226 51.1481 27.2756 51.1481 27.1398C51.1481 27.0607 51.1481 26.9928 51.1595 26.9136C51.1595 26.7666 51.1708 26.6082 51.1821 26.4611C51.1821 26.3933 51.1821 26.3254 51.1821 26.2688C51.1821 26.0539 51.1821 25.8277 51.1821 25.6127C51.1821 25.3978 51.1821 25.2055 51.1821 25.0132C51.1821 24.9453 51.1821 24.8888 51.1821 24.8209L51.216 24.7756ZM31.092 45.2051H21.2506V14.7193L17.5855 14.6854V13.2714L17.6195 9.75335L20.538 7.1516L22.3705 5.52268H31.1033V45.2051H31.092ZM33.558 21.6422C33.558 20.0812 34.8363 18.8029 36.3973 18.8029C37.9584 18.8029 39.2366 20.0812 39.2366 21.6422C39.2366 23.2033 37.9584 24.4815 36.3973 24.4815C34.8363 24.4815 33.558 23.2033 33.558 21.6422ZM34.7119 30.8275L43.5352 18.7351H45.594L45.1189 19.3798L38.9991 27.762L36.7593 30.8275H34.7006H34.7119ZM40.9561 27.9882C40.9561 26.4272 42.2343 25.1489 43.7954 25.1489C45.3564 25.1489 46.6347 26.4272 46.6347 27.9882C46.6347 29.5493 45.3564 30.8275 43.7954 30.8275C42.2343 30.8275 43.6257 30.8275 43.5465 30.8162C43.094 30.7823 42.6642 30.6352 42.3022 30.3977C41.499 29.9 40.9561 29.0063 40.9561 27.9882Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M45.0513 27.988C45.0513 27.298 44.4857 26.7324 43.7957 26.7324C43.1056 26.7324 42.54 27.298 42.54 27.988C42.54 28.6781 43.1056 29.2437 43.7957 29.2437C44.4857 29.2437 45.0513 28.6781 45.0513 27.988Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M64.8859 20.5565H69.8066V18.1583H64.8859V16.3937H70.327V13.8711H62.0127V24.2668H64.8859V20.5565Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M76.9328 24.4705C80.1454 24.4705 82.5436 22.0497 82.5436 19.0634V19.0294C82.5436 16.0431 80.1681 13.6562 76.9555 13.6562C73.7429 13.6562 71.3447 16.077 71.3447 19.0634V19.0973C71.3447 22.0837 73.7202 24.4705 76.9328 24.4705ZM74.3085 19.0407C74.3085 17.5363 75.3605 16.2693 76.9328 16.2693C78.5052 16.2693 79.6025 17.5815 79.6025 19.0747V19.1086C79.6025 20.6131 78.5504 21.88 76.9555 21.88C75.3605 21.88 74.2971 20.5679 74.2971 19.0747V19.0407H74.3085Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M87.0012 21.1221H88.2681L90.3608 24.2668H93.6865L91.2092 20.647C92.4988 20.0927 93.3472 19.0407 93.3472 17.457V17.4231C93.3472 16.3937 93.0304 15.6018 92.4309 15.0023C91.7296 14.2896 90.6323 13.8711 89.0486 13.8711H84.1279V24.2668H87.0125V21.1221H87.0012ZM87.0012 16.371H88.8903C89.8518 16.371 90.4513 16.7896 90.4513 17.604V17.638C90.4513 18.3959 89.8857 18.871 88.9129 18.871H87.0125V16.371H87.0012Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M100.189 24.2668H103.063V16.3937H106.185V13.8711H97.0674V16.3937H100.189V24.2668Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M114.102 17.7624H110.403V13.8711H107.519V24.2668H110.403V20.3189H114.102V24.2668H116.975V13.8711H114.102V17.7624Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M121.75 21.8121V20.1719H126.739V17.8982H121.75V16.3258H127.259V13.8711H118.899V24.2668H127.327V21.8121H121.75Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M66.7063 26.3379H61.9326V37.4689H65.0208V34.2902H66.5479C69.3193 34.2902 71.3329 32.9101 71.3329 30.2858V30.2518C71.3329 27.7858 69.5229 26.3379 66.7063 26.3379ZM68.2447 30.4215C68.2447 31.2925 67.5773 31.8694 66.48 31.8694H65.0208V28.9283H66.4687C67.5773 28.9283 68.2447 29.4374 68.2447 30.3876V30.4215Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M81.1182 34.7653H75.7224V26.3379H72.6455V37.4689H81.1182V34.7653Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M86.2856 26.2578L81.5459 37.468H84.7924L85.5843 35.4771H89.8828L90.6973 37.468H94.0004L89.2607 26.2578H86.2856ZM86.4892 33.0789L87.7449 29.9116L88.9892 33.0789H86.4892Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M102.555 32.2201L97.9621 26.3379H95.0889V37.4689H98.1431V31.3604L102.894 37.4689H105.598V26.3379H102.555V32.2201Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M110.631 33.0798H115.971V30.6477H110.631V28.9623H116.536V26.3379H107.577V37.4689H116.615V34.8445H110.631V33.0798Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M117.565 29.0415H120.902V37.4689H123.991V29.0415H127.328V26.3379H117.565V29.0415Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M126.13 36.3144C126.13 36.0881 125.96 35.9863 125.723 35.9863H125.259V36.9478H125.53V36.6537H125.643L125.836 36.9478H126.152L125.926 36.6085C126.051 36.5632 126.13 36.4614 126.13 36.3031V36.3144ZM125.711 36.4501H125.542V36.2239H125.711C125.802 36.2239 125.858 36.2691 125.858 36.337C125.858 36.4049 125.802 36.4501 125.711 36.4501Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
<path d="M125.663 35.5098C125.12 35.5098 124.69 35.9622 124.69 36.4826C124.69 37.0143 125.12 37.4554 125.663 37.4554C126.206 37.4554 126.636 37.0029 126.636 36.4826C126.636 35.9509 126.206 35.5098 125.663 35.5098ZM126.466 36.4939C126.466 36.9351 126.116 37.3084 125.652 37.3084C125.188 37.3084 124.837 36.9351 124.837 36.4939C124.837 36.0414 125.188 35.6681 125.652 35.6681C126.116 35.6681 126.466 36.0414 126.466 36.4826V36.4939Z" fill="#B1B0AE" style="fill:#B1B0AE;fill:color(display-p3 0.6941 0.6902 0.6824);fill-opacity:1;"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="123" height="49" viewBox="0 0 123 49" fill="none">
<path d="M54.4647 20.2607L58.0783 20.1715C56.2046 16.9593 53.7508 13.9703 50.6725 11.4719C43.4452 5.71678 34.4779 3.57534 26.0013 4.95836C33.3625 4.60145 40.9468 6.83212 47.1927 11.8734C50.1818 14.2825 52.6355 17.1378 54.4647 20.3053V20.2607Z" fill="#B1B0AE"/>
<path d="M16.9883 38.9958L13.5977 40.1558C16.3637 42.6988 19.6205 44.751 23.3234 46.2232C31.9337 49.6138 41.1241 48.8554 48.753 45.0186C41.8379 47.6062 33.9413 47.7847 26.4909 44.8402C22.8772 43.5018 19.7097 41.4942 16.9883 39.0405V38.9958Z" fill="#B1B0AE"/>
<path d="M30.8197 14.9066C31.7566 14.8173 32.2473 14.4158 34.7457 14.9066C34.7457 14.9066 38.1363 14.7281 44.4268 20.6617C46.3005 22.4462 47.3266 25.3461 48.3081 25.6138C49.1558 25.8814 53.171 26.1045 53.4387 27.7106C53.6171 29.049 50.8957 31.7258 47.5943 31.5027C48.1743 30.6105 50.1373 30.3874 51.0296 28.0229C50.0034 27.3983 48.3528 27.3091 46.8359 27.7552C43.936 21.0632 35.5041 16.4234 32.5596 16.0665C30.1505 15.7542 29.2582 16.1557 27.6968 16.0665C28.7229 15.7542 30.2844 14.9066 30.8197 14.9066Z" fill="#B1B0AE"/>
<path d="M20.2454 6.78618C21.4053 6.78618 21.8068 6.78618 22.9668 7.5L20.2454 7.72306C20.2454 7.72306 17.0332 8.5261 15.7394 11.1137C16.2748 11.5598 16.2748 11.649 16.8547 11.6937C17.7916 11.6937 20.0669 8.65994 24.0375 8.65994C24.7959 8.65994 25.4205 8.97224 25.4651 8.92762C25.8666 9.1953 25.7328 9.59682 25.7328 10.1322C25.7328 10.1322 23.1898 15.9765 18.8177 15.9765H17.8362C20.6469 15.3073 22.6545 12.6751 24.1267 10.1768L21.1822 11.0245C19.13 11.6044 16.8994 13.4782 16.1409 13.4782C15.2933 13.4782 14.7133 12.7198 12.3488 12.7198C10.5196 12.7198 8.46743 13.7013 7.48593 14.3705C7.93207 15.3519 8.86895 14.9058 9.58276 14.8166C9.58276 14.8166 9.31508 15.7089 7.08441 15.8873C7.08441 15.9765 7.57516 17.8057 8.73511 18.9656C10.1181 20.3486 12.2149 21.1071 12.9288 21.1071C12.9288 21.4194 13.0626 22.5793 13.9103 24.1408C17.3901 30.8774 19.3085 25.3453 23.5021 32.0373V32.7958C21.2268 30.922 17.7024 30.2528 15.784 29.9405C13.0626 29.539 10.252 29.9405 10.1627 29.9405C9.18124 30.1636 6.54905 30.6989 6.54905 30.6989C8.64588 28.156 13.6426 28.0667 14.5795 27.6652C11.2781 24.3638 11.6796 23.2931 11.2781 22.8024C10.9658 22.4009 6.19215 21.8655 6.23676 15.2627C6.23676 12.8982 10.7427 11.1137 12.2596 11.1137C14.8917 11.2029 15.8286 6.69696 20.29 6.65234L20.2454 6.78618Z" fill="#B1B0AE"/>
<path d="M13.1527 13.7935C13.7773 13.7043 13.6881 13.7043 14.5357 14.0166V14.8196C13.7327 14.6412 12.5281 14.8196 11.2789 14.6858C11.9481 14.195 12.1266 13.8827 13.1527 13.7935Z" fill="#B1B0AE"/>
<path d="M4.76477 22.6703C6.63853 22.6703 9.04765 24.2318 9.27072 24.4103C8.02154 24.4995 7.84309 24.2764 4.98784 24.4995C4.98784 24.4995 2.57872 24.6333 0.704956 25.0348C2.04336 23.2057 1.77568 22.6257 4.76477 22.6703Z" fill="#B1B0AE"/>
<path d="M41.2138 35.788L44.3367 37.2603C47.995 39.0448 51.4749 34.3604 52.8133 33.5128C53.3932 36.5019 56.3377 42.48 60.576 43.64C59.996 44.3538 59.2822 44.2646 58.4792 44.2646C56.4269 44.2646 52.5456 40.9186 52.5456 38.3756C52.5456 38.3756 52.4564 36.4572 52.4564 36.0557C51.2964 38.331 48.8873 39.7586 46.8351 39.7586C45.2736 39.7586 44.9613 39.6694 43.5783 39.0002C43.266 38.8664 35.9048 34.3604 35.5033 31.1929C35.8602 31.3267 39.6077 35.1635 41.2138 35.788Z" fill="#B1B0AE"/>
<path d="M54.3307 46.1821L53.1262 46.3605C50.1371 45.8698 49.6017 41.5423 50.4494 40.3377C50.4494 40.3377 50.9847 39.4455 51.4308 39.0439C51.5201 41.1854 51.7431 42.8807 51.9216 43.3268C52.457 44.5314 51.5647 43.996 54.3753 46.1375L54.3307 46.1821Z" fill="#B1B0AE"/>
<path d="M14.0002 39.0434L12.2603 37.1251L9.85118 38.0619C10.2527 37.3035 10.8327 36.6343 11.2342 35.8313C10.6988 35.1621 10.1635 34.4929 9.5835 33.8237C10.3865 34.0021 11.368 34.2252 12.1711 34.4483L13.5541 32.2622C13.6433 33.0652 13.6879 33.9575 13.7772 34.8052L16.3201 35.519L13.8218 36.5005L13.9556 39.0434H14.0002Z" fill="#B1B0AE"/>
<path d="M59.907 27.6671L57.6317 26.3733L55.6241 28.024C55.758 27.1764 56.0703 26.3733 56.2041 25.4811C55.4903 24.9903 54.7765 24.5442 54.0181 24.0534C54.8657 23.9642 55.8472 23.875 56.6949 23.8304L57.3195 21.332C57.6764 22.0905 57.9887 22.9381 58.3456 23.6965L61.0224 23.5627L58.9701 25.3026L59.8624 27.6671H59.907Z" fill="#B1B0AE"/>
<path d="M77.6362 13.9656V4.393H78.6904V13.0096H81.6761V13.9656H77.6362ZM85.3914 6.65847C85.9065 6.65847 86.3343 6.80033 86.6747 7.08406C87.0152 7.36342 87.2706 7.74318 87.4408 8.22334C87.6111 8.7035 87.6962 9.24476 87.6962 9.84714V10.5543H83.964C83.9728 11.4404 84.1256 12.1082 84.4224 12.5578C84.7192 13.0031 85.1579 13.2257 85.7384 13.2257C86.0353 13.2257 86.3168 13.1864 86.5831 13.1078C86.8537 13.0249 87.1331 12.8983 87.4212 12.7281V13.6447C87.1505 13.7975 86.8712 13.911 86.5831 13.9852C86.295 14.0594 85.9807 14.0965 85.6402 14.0965C85.0248 14.0965 84.5162 13.9416 84.1146 13.6316C83.7174 13.3174 83.4228 12.883 83.2307 12.3287C83.0387 11.7743 82.9426 11.137 82.9426 10.4168C82.9426 9.61798 83.0365 8.93921 83.2242 8.38048C83.4119 7.81739 83.689 7.38961 84.0557 7.09715C84.4224 6.8047 84.8676 6.65847 85.3914 6.65847ZM85.3914 7.49656C84.9724 7.49656 84.6428 7.68207 84.4027 8.0531C84.1627 8.42413 84.0208 8.98504 83.9771 9.73583H86.714C86.714 9.32552 86.666 8.9523 86.57 8.6162C86.4783 8.27572 86.3343 8.00509 86.1378 7.80429C85.9458 7.59914 85.697 7.49656 85.3914 7.49656ZM91.68 6.65192C92.3828 6.65192 92.8891 6.85926 93.199 7.27394C93.5089 7.68862 93.6639 8.30191 93.6639 9.11381V13.9656H92.8913L92.7341 12.9376H92.7014C92.5705 13.1864 92.4199 13.3981 92.2496 13.5727C92.0794 13.743 91.8851 13.8739 91.6669 13.9656C91.4486 14.0529 91.1933 14.0965 90.9008 14.0965C90.5167 14.0965 90.1959 14.0027 89.9383 13.815C89.6852 13.6273 89.4931 13.3741 89.3621 13.0555C89.2356 12.7368 89.1723 12.3811 89.1723 11.9882C89.1723 11.2767 89.3927 10.7267 89.8336 10.3382C90.2744 9.94536 90.9139 9.73147 91.752 9.69655L92.649 9.64417V9.15965C92.649 8.57473 92.5595 8.15132 92.3806 7.88941C92.2016 7.62751 91.9244 7.49656 91.549 7.49656C91.3133 7.49656 91.0732 7.53584 90.8288 7.61441C90.5844 7.69299 90.329 7.80648 90.0627 7.95489L89.7419 7.18227C90.0213 7.01204 90.3246 6.88108 90.652 6.78942C90.9838 6.69775 91.3264 6.65192 91.68 6.65192ZM92.6621 10.3906L91.9092 10.4364C91.3242 10.467 90.8965 10.611 90.6258 10.8686C90.3552 11.1217 90.2199 11.4884 90.2199 11.9686C90.2199 12.4138 90.3094 12.7412 90.4883 12.9507C90.6673 13.1602 90.9117 13.265 91.2217 13.265C91.6669 13.265 92.0183 13.0773 92.2758 12.7019C92.5334 12.3221 92.6621 11.7896 92.6621 11.1043V10.3906ZM98.6561 6.64537C99.385 6.64537 99.9437 6.95529 100.332 7.57513C100.725 8.1906 100.922 9.11818 100.922 10.3579C100.922 11.161 100.834 11.842 100.66 12.4007C100.485 12.9551 100.23 13.3763 99.8935 13.6644C99.5618 13.9525 99.1602 14.0965 98.6888 14.0965C98.4182 14.0965 98.1693 14.0485 97.9424 13.9525C97.7197 13.8564 97.5233 13.7233 97.3531 13.5531C97.1828 13.3828 97.041 13.1842 96.9275 12.9572H96.8751C96.8838 13.1318 96.8948 13.3086 96.9078 13.4876C96.9209 13.6622 96.9275 13.8259 96.9275 13.9787V17.1739H95.8995V6.77632H96.7376L96.862 7.83703H96.9209C97.0475 7.57949 97.1938 7.36342 97.3596 7.18882C97.5299 7.00985 97.7219 6.87454 97.9358 6.78287C98.1497 6.6912 98.3898 6.64537 98.6561 6.64537ZM98.4465 7.5293C98.1017 7.5293 97.818 7.62533 97.5953 7.81739C97.3727 8.00945 97.2047 8.29755 97.0912 8.68167C96.9821 9.0658 96.9275 9.55032 96.9275 10.1352V10.4561C96.9275 11.0715 96.9821 11.5844 97.0912 11.9948C97.2003 12.4007 97.3684 12.7041 97.5953 12.9049C97.8223 13.1057 98.1104 13.2061 98.4596 13.2061C98.7695 13.2061 99.0293 13.1035 99.2388 12.8983C99.4527 12.6888 99.612 12.3745 99.7168 11.9555C99.8259 11.5321 99.8805 11.0017 99.8805 10.3644C99.8805 9.43901 99.767 8.73623 99.54 8.25608C99.3174 7.77156 98.9529 7.5293 98.4465 7.5293ZM103.877 6.77632V13.9656H102.862V6.77632H103.877ZM103.386 4.08526C103.587 4.08526 103.738 4.14856 103.838 4.27514C103.938 4.40173 103.989 4.58288 103.989 4.81859C103.989 5.04994 103.934 5.22891 103.825 5.3555C103.72 5.48208 103.574 5.54538 103.386 5.54538C103.199 5.54538 103.048 5.48208 102.935 5.3555C102.825 5.22891 102.771 5.04994 102.771 4.81859C102.771 4.57851 102.823 4.39736 102.928 4.27514C103.037 4.14856 103.19 4.08526 103.386 4.08526ZM108.909 6.64537C109.533 6.64537 110.004 6.84616 110.323 7.24775C110.646 7.64933 110.808 8.27136 110.808 9.11381V13.9656H109.786V9.2906C109.786 8.70568 109.699 8.26917 109.524 7.98108C109.35 7.68862 109.077 7.54239 108.706 7.54239C108.169 7.54239 107.78 7.75628 107.54 8.18405C107.305 8.60747 107.187 9.27532 107.187 10.1876V13.9656H106.159V6.77632H106.977L107.102 7.81739H107.167C107.276 7.57731 107.416 7.36997 107.586 7.19537C107.761 7.02077 107.959 6.88545 108.182 6.78942C108.405 6.69339 108.647 6.64537 108.909 6.64537ZM114.582 17.187C113.844 17.187 113.266 17.0124 112.847 16.6632C112.432 16.314 112.225 15.8251 112.225 15.1965C112.225 14.712 112.347 14.3104 112.591 13.9918C112.84 13.6775 113.163 13.468 113.56 13.3632C113.377 13.2759 113.224 13.1449 113.102 12.9703C112.984 12.7957 112.925 12.5906 112.925 12.3549C112.925 12.1061 112.986 11.8813 113.109 11.6805C113.231 11.4797 113.405 11.2876 113.632 11.1043C113.336 10.9428 113.098 10.6787 112.919 10.312C112.744 9.94536 112.657 9.52413 112.657 9.04834C112.657 8.55072 112.742 8.12513 112.912 7.77156C113.082 7.41362 113.329 7.13644 113.652 6.94001C113.975 6.74358 114.361 6.64537 114.811 6.64537C114.942 6.64537 115.06 6.65192 115.165 6.66501C115.274 6.67811 115.37 6.69557 115.453 6.71739C115.54 6.73922 115.616 6.76323 115.682 6.78942H117.6V7.45072L116.566 7.57513C116.692 7.76719 116.786 7.98763 116.847 8.23644C116.908 8.48524 116.939 8.74278 116.939 9.00905C116.939 9.74238 116.751 10.3208 116.376 10.7442C116.001 11.1632 115.472 11.3727 114.791 11.3727C114.595 11.3727 114.429 11.3531 114.294 11.3138C114.158 11.4229 114.043 11.5495 113.947 11.6936C113.855 11.8332 113.809 12.0035 113.809 12.2043C113.809 12.3352 113.84 12.4465 113.901 12.5382C113.966 12.6299 114.06 12.7019 114.182 12.7543C114.305 12.8023 114.455 12.8263 114.634 12.8263H115.715C116.3 12.8263 116.749 12.9834 117.063 13.2977C117.382 13.612 117.541 14.0834 117.541 14.712C117.541 15.5021 117.286 16.111 116.775 16.5388C116.269 16.9709 115.538 17.187 114.582 17.187ZM114.654 16.3751C115.073 16.3751 115.424 16.3162 115.708 16.1983C115.992 16.0848 116.204 15.9102 116.343 15.6745C116.487 15.4431 116.559 15.1572 116.559 14.8168C116.559 14.533 116.509 14.3148 116.409 14.162C116.313 14.0092 116.173 13.9066 115.99 13.8543C115.806 13.7975 115.586 13.7691 115.328 13.7691H114.392C114.165 13.7691 113.962 13.815 113.783 13.9066C113.604 13.9983 113.462 14.1424 113.357 14.3388C113.257 14.5352 113.207 14.7928 113.207 15.1114C113.207 15.5305 113.336 15.8447 113.593 16.0543C113.851 16.2681 114.204 16.3751 114.654 16.3751ZM114.805 10.6132C115.162 10.6132 115.435 10.4801 115.623 10.2138C115.815 9.94317 115.911 9.54814 115.911 9.02869C115.911 8.48306 115.813 8.07493 115.616 7.80429C115.424 7.53366 115.149 7.39834 114.791 7.39834C114.451 7.39834 114.182 7.54239 113.986 7.83048C113.794 8.11858 113.698 8.52453 113.698 9.04834C113.698 9.55032 113.792 9.93663 113.98 10.2073C114.167 10.4779 114.442 10.6132 114.805 10.6132ZM77.6362 20.393H79.8493C80.7528 20.393 81.436 20.5807 81.8987 20.9561C82.3614 21.3315 82.5927 21.912 82.5927 22.6978C82.5927 23.0993 82.536 23.4529 82.4225 23.7585C82.3134 24.064 82.1497 24.3128 81.9314 24.5049C81.7175 24.6969 81.4491 24.8279 81.1261 24.8977V24.9501C81.4971 25.0287 81.807 25.164 82.0558 25.3561C82.309 25.5481 82.4989 25.7991 82.6255 26.109C82.752 26.419 82.8153 26.7922 82.8153 27.2287C82.8153 27.7874 82.7128 28.2719 82.5076 28.6822C82.3024 29.0926 82.0056 29.409 81.6171 29.6316C81.233 29.8543 80.7638 29.9656 80.2094 29.9656H77.6362V20.393ZM78.6904 24.5114H79.882C80.4669 24.5114 80.886 24.3696 81.1392 24.0858C81.3923 23.7977 81.5189 23.3678 81.5189 22.796C81.5189 22.2983 81.3792 21.9251 81.0999 21.6763C80.8249 21.4232 80.4015 21.2966 79.8296 21.2966H78.6904V24.5114ZM78.6904 25.415V29.0489H80.0784C80.6328 29.0489 81.0431 28.8918 81.3094 28.5775C81.58 28.2588 81.7153 27.7918 81.7153 27.1763C81.7153 26.7878 81.6477 26.4626 81.5124 26.2007C81.3814 25.9388 81.185 25.7424 80.9231 25.6114C80.6655 25.4805 80.3447 25.415 79.9606 25.415H78.6904ZM89.3265 22.7763V29.9656H88.5081L88.3837 28.9442H88.3182C88.2091 29.1842 88.0694 29.3916 87.8991 29.5662C87.7289 29.7364 87.5325 29.8674 87.3099 29.959C87.0916 30.0507 86.8494 30.0965 86.5831 30.0965C86.1378 30.0965 85.7734 29.9939 85.4896 29.7888C85.2103 29.5836 85.0051 29.289 84.8742 28.9049C84.7432 28.5164 84.6777 28.0471 84.6777 27.4971V22.7763H85.6992V27.3269C85.6992 27.9642 85.7865 28.4356 85.9611 28.7412C86.1357 29.0424 86.4041 29.193 86.7664 29.193C87.1418 29.193 87.4408 29.0991 87.6634 28.9114C87.8861 28.7237 88.0476 28.44 88.148 28.0602C88.2527 27.6761 88.3051 27.1959 88.3051 26.6198V22.7763H89.3265ZM94.3449 22.6454C94.9691 22.6454 95.4405 22.8462 95.7591 23.2477C96.0822 23.6493 96.2437 24.2714 96.2437 25.1138V29.9656H95.2222V25.2906C95.2222 24.7057 95.1349 24.2692 94.9603 23.9811C94.7857 23.6886 94.5129 23.5424 94.1419 23.5424C93.605 23.5424 93.2165 23.7563 92.9764 24.1841C92.7407 24.6075 92.6228 25.2753 92.6228 26.1876V29.9656H91.5949V22.7763H92.4133L92.5377 23.8174H92.6032C92.7123 23.5773 92.852 23.37 93.0222 23.1954C93.1968 23.0208 93.3955 22.8854 93.6181 22.7894C93.8407 22.6934 94.083 22.6454 94.3449 22.6454ZM101.229 22.6454C101.853 22.6454 102.325 22.8462 102.644 23.2477C102.967 23.6493 103.128 24.2714 103.128 25.1138V29.9656H102.107V25.2906C102.107 24.7057 102.019 24.2692 101.845 23.9811C101.67 23.6886 101.397 23.5424 101.026 23.5424C100.489 23.5424 100.101 23.7563 99.8608 24.1841C99.6251 24.6075 99.5072 25.2753 99.5072 26.1876V29.9656H98.4793V22.7763H99.2977L99.4221 23.8174H99.4876C99.5967 23.5773 99.7364 23.37 99.9066 23.1954C100.081 23.0208 100.28 22.8854 100.502 22.7894C100.725 22.6934 100.967 22.6454 101.229 22.6454ZM104.499 22.7763H105.567L106.693 26.9733C106.745 27.1698 106.793 27.3618 106.837 27.5495C106.881 27.7328 106.922 27.914 106.961 28.093C107.001 28.2719 107.033 28.4487 107.059 28.6233H107.105C107.149 28.3789 107.201 28.117 107.262 27.8376C107.328 27.5582 107.402 27.268 107.485 26.9668L108.579 22.7763H109.639L107.308 31.0983C107.173 31.5697 107.014 31.9604 106.83 32.2703C106.651 32.5802 106.437 32.8094 106.189 32.9578C105.944 33.1106 105.652 33.187 105.311 33.187C105.189 33.187 105.069 33.1761 104.951 33.1543C104.838 33.1324 104.722 33.1062 104.604 33.0757V32.1852C104.691 32.2114 104.783 32.2332 104.879 32.2507C104.98 32.2681 105.078 32.2769 105.174 32.2769C105.361 32.2769 105.521 32.2332 105.652 32.1459C105.787 32.0586 105.905 31.9168 106.005 31.7203C106.11 31.5239 106.208 31.262 106.3 30.9346L106.582 29.9263L104.499 22.7763ZM80.7856 37.1984C80.3753 37.1984 80.0173 37.3031 79.7118 37.5126C79.4106 37.7178 79.1618 38.0059 78.9654 38.3769C78.7689 38.7436 78.6227 39.167 78.5267 39.6472C78.4306 40.1229 78.3826 40.6337 78.3826 41.1793C78.3826 41.9956 78.4808 42.7005 78.6773 43.2942C78.8737 43.8878 79.1531 44.3461 79.5154 44.6692C79.882 44.9878 80.3207 45.1471 80.8314 45.1471C81.1326 45.1471 81.4163 45.1122 81.6826 45.0424C81.9532 44.9725 82.2042 44.8852 82.4356 44.7805V45.7299C82.1955 45.8564 81.9336 45.9481 81.6499 46.0049C81.3705 46.066 81.0562 46.0965 80.707 46.0965C79.9911 46.0965 79.3779 45.9001 78.8671 45.5072C78.3564 45.11 77.9636 44.5447 77.6886 43.8114C77.4179 43.0737 77.2826 42.192 77.2826 41.1662C77.2826 40.4809 77.3546 39.8414 77.4987 39.2477C77.6427 38.6497 77.8588 38.1259 78.1469 37.6763C78.4394 37.2267 78.8017 36.8753 79.2338 36.6222C79.6703 36.369 80.1788 36.2424 80.7594 36.2424C81.1086 36.2424 81.4447 36.2861 81.7677 36.3734C82.0907 36.4563 82.3941 36.5763 82.6778 36.7335L82.2915 37.6305C82.0689 37.4995 81.831 37.3948 81.5778 37.3162C81.329 37.2376 81.0649 37.1984 80.7856 37.1984ZM86.4914 38.6585C87.0065 38.6585 87.4343 38.8003 87.7747 39.0841C88.1152 39.3634 88.3706 39.7432 88.5408 40.2233C88.711 40.7035 88.7962 41.2448 88.7962 41.8471V42.5543H85.064C85.0728 43.4404 85.2255 44.1082 85.5224 44.5578C85.8192 45.0031 86.2579 45.2257 86.8384 45.2257C87.1353 45.2257 87.4168 45.1864 87.6831 45.1078C87.9537 45.0249 88.2331 44.8983 88.5212 44.7281V45.6447C88.2505 45.7975 87.9712 45.911 87.6831 45.9852C87.395 46.0594 87.0807 46.0965 86.7402 46.0965C86.1248 46.0965 85.6162 45.9416 85.2146 45.6316C84.8174 45.3174 84.5228 44.883 84.3307 44.3287C84.1386 43.7743 84.0426 43.137 84.0426 42.4168C84.0426 41.618 84.1365 40.9392 84.3242 40.3805C84.5119 39.8174 84.789 39.3896 85.1557 39.0972C85.5224 38.8047 85.9676 38.6585 86.4914 38.6585ZM86.4914 39.4966C86.0724 39.4966 85.7428 39.6821 85.5027 40.0531C85.2627 40.4241 85.1208 40.985 85.0771 41.7358H87.814C87.814 41.3255 87.766 40.9523 87.67 40.6162C87.5783 40.2757 87.4343 40.0051 87.2378 39.8043C87.0458 39.5991 86.797 39.4966 86.4914 39.4966ZM93.2776 38.6519C93.3867 38.6519 93.498 38.6606 93.6115 38.6781C93.725 38.6912 93.8363 38.7152 93.9455 38.7501L93.7949 39.7781C93.7076 39.7432 93.6137 39.7192 93.5133 39.7061C93.4173 39.693 93.3169 39.6864 93.2121 39.6864C92.9939 39.6864 92.7931 39.7497 92.6097 39.8763C92.4308 40.0029 92.2736 40.1797 92.1383 40.4067C92.0074 40.6337 91.9048 40.8999 91.8306 41.2055C91.7607 41.511 91.728 41.8428 91.7324 42.2007V45.9656H90.7044V38.7763H91.5163L91.6472 40.0662H91.7127C91.8219 39.7912 91.9506 39.5489 92.099 39.3394C92.2518 39.1255 92.4264 38.9575 92.6228 38.8353C92.8193 38.713 93.0375 38.6519 93.2776 38.6519ZM97.2418 45.2061C97.3684 45.2061 97.4928 45.193 97.615 45.1668C97.7416 45.1406 97.8572 45.1057 97.962 45.062V45.8936C97.8267 45.9547 97.6739 46.0027 97.5037 46.0376C97.3334 46.0769 97.1501 46.0965 96.9537 46.0965C96.6307 46.0965 96.3578 46.0289 96.1352 45.8936C95.9126 45.7539 95.7446 45.5422 95.6311 45.2584C95.5219 44.9703 95.4674 44.6015 95.4674 44.1519V39.6275H94.7275V39.0775L95.5067 38.7763L95.8078 37.1394H96.4953V38.7763H97.89V39.6275H96.4953V44.0537C96.4953 44.4378 96.5499 44.7259 96.659 44.918C96.7725 45.11 96.9668 45.2061 97.2418 45.2061ZM100.538 38.7763V45.9656H99.5232V38.7763H100.538ZM100.047 36.0853C100.248 36.0853 100.398 36.1486 100.499 36.2751C100.599 36.4017 100.649 36.5829 100.649 36.8186C100.649 37.0499 100.595 37.2289 100.486 37.3555C100.381 37.4821 100.235 37.5454 100.047 37.5454C99.8593 37.5454 99.7087 37.4821 99.5952 37.3555C99.4861 37.2289 99.4315 37.0499 99.4315 36.8186C99.4315 36.5785 99.4839 36.3974 99.5887 36.2751C99.6978 36.1486 99.8506 36.0853 100.047 36.0853ZM105.268 39.6275H104.005V45.9656H102.983V39.6275H102.021V39.0906L102.983 38.7436V38.2656C102.983 37.7069 103.038 37.2376 103.147 36.8579C103.26 36.4781 103.444 36.1922 103.697 36.0001C103.954 35.8037 104.295 35.7055 104.718 35.7055C104.928 35.7055 105.12 35.7251 105.295 35.7644C105.473 35.7994 105.65 35.8517 105.825 35.9216L105.563 36.74C105.432 36.6964 105.305 36.6615 105.183 36.6353C105.061 36.6047 104.939 36.5894 104.817 36.5894C104.52 36.5894 104.31 36.7116 104.188 36.9561C104.07 37.2005 104.009 37.6283 104.005 38.2394V38.7763H105.268V39.6275ZM107.403 38.7763V45.9656H106.388V38.7763H107.403ZM106.912 36.0853C107.113 36.0853 107.263 36.1486 107.364 36.2751C107.464 36.4017 107.514 36.5829 107.514 36.8186C107.514 37.0499 107.46 37.2289 107.35 37.3555C107.246 37.4821 107.099 37.5454 106.912 37.5454C106.724 37.5454 106.573 37.4821 106.46 37.3555C106.351 37.2289 106.296 37.0499 106.296 36.8186C106.296 36.5785 106.349 36.3974 106.453 36.2751C106.563 36.1486 106.715 36.0853 106.912 36.0853ZM111.799 38.6585C112.314 38.6585 112.742 38.8003 113.082 39.0841C113.423 39.3634 113.678 39.7432 113.849 40.2233C114.019 40.7035 114.104 41.2448 114.104 41.8471V42.5543H110.372C110.381 43.4404 110.533 44.1082 110.83 44.5578C111.127 45.0031 111.566 45.2257 112.146 45.2257C112.443 45.2257 112.725 45.1864 112.991 45.1078C113.261 45.0249 113.541 44.8983 113.829 44.7281V45.6447C113.558 45.7975 113.279 45.911 112.991 45.9852C112.703 46.0594 112.388 46.0965 112.048 46.0965C111.432 46.0965 110.924 45.9416 110.522 45.6316C110.125 45.3174 109.831 44.883 109.638 44.3287C109.446 43.7743 109.35 43.137 109.35 42.4168C109.35 41.618 109.444 40.9392 109.632 40.3805C109.82 39.8174 110.097 39.3896 110.463 39.0972C110.83 38.8047 111.275 38.6585 111.799 38.6585ZM111.799 39.4966C111.38 39.4966 111.051 39.6821 110.81 40.0531C110.57 40.4241 110.429 40.985 110.385 41.7358H113.122C113.122 41.3255 113.074 40.9523 112.978 40.6162C112.886 40.2757 112.742 40.0051 112.546 39.8043C112.354 39.5991 112.105 39.4966 111.799 39.4966ZM117.957 46.0965C117.223 46.0965 116.66 45.7822 116.267 45.1537C115.879 44.5251 115.685 43.6041 115.685 42.3906C115.685 41.1858 115.881 40.2604 116.274 39.6144C116.671 38.9684 117.223 38.6454 117.931 38.6454C118.192 38.6454 118.433 38.6912 118.651 38.7829C118.873 38.8745 119.07 39.0033 119.24 39.1692C119.415 39.3351 119.561 39.5315 119.679 39.7585H119.731C119.722 39.5708 119.714 39.3896 119.705 39.215C119.696 39.0404 119.692 38.8833 119.692 38.7436V35.7775H120.707V45.9656H119.888L119.744 44.9834H119.692C119.565 45.2104 119.419 45.409 119.253 45.5793C119.087 45.7451 118.897 45.8739 118.684 45.9656C118.474 46.0529 118.232 46.0965 117.957 46.0965ZM118.166 45.2322C118.681 45.2322 119.063 45.0184 119.312 44.5906C119.565 44.1628 119.692 43.5321 119.692 42.6983V42.2662C119.692 41.3539 119.572 40.6729 119.332 40.2233C119.092 39.7737 118.699 39.5489 118.153 39.5489C117.673 39.5489 117.315 39.7956 117.079 40.2888C116.848 40.7777 116.732 41.4805 116.732 42.3971C116.732 43.3225 116.848 44.0275 117.079 44.512C117.315 44.9922 117.677 45.2322 118.166 45.2322Z" fill="#B1B0AE"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="125" height="48" viewBox="0 0 125 48" fill="none">
<path d="M75.3249 19.4072H69.9493V9.83465H75.3249V10.987H71.2916V13.8352H75.0827V14.9745H71.2916V18.2483H75.3249V19.4072ZM88.914 9.83465L86.3867 19.4072H84.9658L83.2176 13.318C83.1696 13.1565 83.1216 12.9819 83.0736 12.7942C83.0256 12.6065 82.9776 12.4209 82.9295 12.2376C82.8859 12.0499 82.8488 11.8819 82.8182 11.7335C82.7877 11.585 82.7659 11.4715 82.7528 11.393C82.744 11.4715 82.7244 11.585 82.6938 11.7335C82.6676 11.8775 82.6349 12.0412 82.5956 12.2245C82.5563 12.4079 82.5127 12.5956 82.4647 12.7876C82.4167 12.9753 82.3686 13.1543 82.3206 13.3245L80.6117 19.4072H79.1974L76.6831 9.83465H78.0516L79.5117 15.6424C79.5597 15.8344 79.6056 16.0309 79.6492 16.2316C79.6972 16.4281 79.7409 16.6267 79.7802 16.8275C79.8194 17.0239 79.8544 17.216 79.8849 17.4037C79.9155 17.587 79.9438 17.7616 79.97 17.9275C79.9919 17.7572 80.0202 17.5761 80.0552 17.384C80.0901 17.1876 80.1272 16.989 80.1665 16.7882C80.2101 16.5874 80.2559 16.3888 80.304 16.1924C80.352 15.9959 80.4022 15.8082 80.4546 15.6293L82.0915 9.83465H83.4337L85.1295 15.662C85.1819 15.8453 85.2321 16.0374 85.2801 16.2382C85.3325 16.439 85.3783 16.6398 85.4176 16.8406C85.4613 17.0414 85.4984 17.2334 85.5289 17.4168C85.5639 17.6001 85.5944 17.7703 85.6206 17.9275C85.6512 17.7092 85.6883 17.4735 85.7319 17.2203C85.7799 16.9672 85.8345 16.7053 85.8956 16.4346C85.9567 16.164 86.0178 15.8977 86.0789 15.6358L87.5391 9.83465H88.914ZM94.7312 14.3001H98.1883V19.0209C97.6863 19.1912 97.1691 19.3199 96.6365 19.4072C96.104 19.4945 95.506 19.5382 94.8425 19.5382C93.856 19.5382 93.0244 19.3418 92.3479 18.9489C91.6713 18.556 91.1562 17.9929 90.8026 17.2596C90.4534 16.5263 90.2788 15.6445 90.2788 14.6144C90.2788 13.6235 90.4731 12.7592 90.8616 12.0215C91.25 11.2839 91.8153 10.712 92.5574 10.3061C93.2994 9.90013 94.1943 9.69715 95.2419 9.69715C95.7657 9.69715 96.2677 9.74735 96.7478 9.84775C97.2324 9.94814 97.6776 10.0878 98.0836 10.2668L97.599 11.3995C97.2586 11.2467 96.881 11.118 96.4663 11.0132C96.056 10.9041 95.6304 10.8495 95.1895 10.8495C94.4562 10.8495 93.8254 11.0045 93.2973 11.3144C92.7735 11.6243 92.3697 12.0608 92.086 12.6239C91.8066 13.187 91.6669 13.8549 91.6669 14.6275C91.6669 15.3826 91.7848 16.0418 92.0205 16.6049C92.2562 17.168 92.625 17.6066 93.127 17.9209C93.629 18.2352 94.275 18.3924 95.0651 18.3924C95.4623 18.3924 95.8006 18.3705 96.08 18.3269C96.3637 18.2832 96.6234 18.2308 96.8592 18.1697V15.4721H94.7312V14.3001ZM76.844 25.8347L73.4523 35.4072H72.0577L68.666 25.8347H70.0541L72.1821 31.9894C72.2606 32.2033 72.3348 32.4303 72.4047 32.6703C72.4745 32.906 72.54 33.1418 72.6011 33.3775C72.6622 33.6132 72.7124 33.8293 72.7517 34.0257C72.791 33.8293 72.839 33.6132 72.8958 33.3775C72.9569 33.1418 73.0245 32.9039 73.0987 32.6638C73.1729 32.4193 73.2471 32.188 73.3214 31.9697L75.4428 25.8347H76.844ZM81.201 28.0608C81.8296 28.0608 82.3686 28.1961 82.8182 28.4668C83.2678 28.7331 83.6127 29.1106 83.8528 29.5995C84.0928 30.0884 84.2129 30.6646 84.2129 31.3281V32.0745H79.3153C79.3284 32.8471 79.527 33.4408 79.9111 33.8554C80.2952 34.2658 80.8343 34.4709 81.5284 34.4709C81.9867 34.4709 82.3948 34.4273 82.7528 34.34C83.1107 34.2527 83.4817 34.1239 83.8659 33.9537V35.0602C83.5036 35.2261 83.1391 35.3461 82.7724 35.4203C82.4101 35.4989 81.9758 35.5382 81.4694 35.5382C80.771 35.5382 80.1577 35.3985 79.6296 35.1191C79.1058 34.8398 78.6976 34.4273 78.4052 33.8816C78.1127 33.3316 77.9665 32.6551 77.9665 31.8519C77.9665 31.0574 78.0996 30.3787 78.3659 29.8156C78.6321 29.2481 79.0075 28.8138 79.4921 28.5126C79.9766 28.2114 80.5462 28.0608 81.201 28.0608ZM81.1944 29.0823C80.6619 29.0823 80.2341 29.2569 79.9111 29.6061C79.5881 29.9509 79.3982 30.4463 79.3415 31.0924H82.8903C82.8859 30.6951 82.8226 30.3459 82.7004 30.0448C82.5782 29.7436 82.3926 29.5078 82.1438 29.3376C81.8994 29.1674 81.5829 29.0823 81.1944 29.0823ZM89.8794 28.0608C90.0104 28.0608 90.1522 28.0696 90.305 28.087C90.4578 28.1001 90.5887 28.1176 90.6979 28.1394L90.5604 29.3638C90.4556 29.3376 90.3334 29.3158 90.1937 29.2983C90.0584 29.2809 89.9318 29.2721 89.8139 29.2721C89.5346 29.2721 89.2683 29.3245 89.0151 29.4293C88.762 29.534 88.5393 29.6868 88.3473 29.8876C88.1552 30.084 88.0046 30.3263 87.8955 30.6144C87.7864 30.8981 87.7318 31.2233 87.7318 31.59V35.4072H86.4092V28.1918H87.4699L87.627 29.4948H87.686C87.8344 29.2328 88.0134 28.9928 88.2229 28.7745C88.4368 28.5563 88.6812 28.3838 88.9562 28.2573C89.2356 28.1263 89.5433 28.0608 89.8794 28.0608ZM93.7585 28.1918V35.4072H92.4424V28.1918H93.7585ZM93.1103 25.4614C93.3198 25.4614 93.4988 25.5225 93.6472 25.6448C93.7999 25.767 93.8763 25.9656 93.8763 26.2406C93.8763 26.5156 93.7999 26.7164 93.6472 26.843C93.4988 26.9652 93.3198 27.0263 93.1103 27.0263C92.8964 27.0263 92.7152 26.9652 92.5668 26.843C92.4228 26.7164 92.3507 26.5156 92.3507 26.2406C92.3507 25.9656 92.4228 25.767 92.5668 25.6448C92.7152 25.5225 92.8964 25.4614 93.1103 25.4614ZM99.8179 29.2067H98.0435V35.4072H96.7274V29.2067H95.503V28.5715L96.7274 28.1721V27.6745C96.7274 27.0678 96.8213 26.5811 97.009 26.2144C97.1967 25.8434 97.4651 25.5727 97.8143 25.4025C98.1679 25.2323 98.5957 25.1472 99.0976 25.1472C99.3988 25.1472 99.6738 25.1733 99.9226 25.2257C100.176 25.2781 100.394 25.337 100.577 25.4025L100.237 26.4108C100.089 26.3628 99.9226 26.3192 99.7393 26.2799C99.556 26.2362 99.3617 26.2144 99.1566 26.2144C98.7768 26.2144 98.4953 26.3366 98.3119 26.5811C98.133 26.8255 98.0435 27.1944 98.0435 27.6876V28.1918H99.8179V29.2067ZM102.404 28.1918V35.4072H101.088V28.1918H102.404ZM101.756 25.4614C101.965 25.4614 102.144 25.5225 102.293 25.6448C102.446 25.767 102.522 25.9656 102.522 26.2406C102.522 26.5156 102.446 26.7164 102.293 26.843C102.144 26.9652 101.965 27.0263 101.756 27.0263C101.542 27.0263 101.361 26.9652 101.213 26.843C101.068 26.7164 100.996 26.5156 100.996 26.2406C100.996 25.9656 101.068 25.767 101.213 25.6448C101.361 25.5225 101.542 25.4614 101.756 25.4614ZM107.887 28.0608C108.516 28.0608 109.055 28.1961 109.505 28.4668C109.954 28.7331 110.299 29.1106 110.539 29.5995C110.779 30.0884 110.899 30.6646 110.899 31.3281V32.0745H106.002C106.015 32.8471 106.213 33.4408 106.598 33.8554C106.982 34.2658 107.521 34.4709 108.215 34.4709C108.673 34.4709 109.081 34.4273 109.439 34.34C109.797 34.2527 110.168 34.1239 110.552 33.9537V35.0602C110.19 35.2261 109.825 35.3461 109.459 35.4203C109.097 35.4989 108.662 35.5382 108.156 35.5382C107.457 35.5382 106.844 35.3985 106.316 35.1191C105.792 34.8398 105.384 34.4273 105.092 33.8816C104.799 33.3316 104.653 32.6551 104.653 31.8519C104.653 31.0574 104.786 30.3787 105.052 29.8156C105.319 29.2481 105.694 28.8138 106.178 28.5126C106.663 28.2114 107.233 28.0608 107.887 28.0608ZM107.881 29.0823C107.348 29.0823 106.921 29.2569 106.598 29.6061C106.274 29.9509 106.085 30.4463 106.028 31.0924H109.577C109.572 30.6951 109.509 30.3459 109.387 30.0448C109.265 29.7436 109.079 29.5078 108.83 29.3376C108.586 29.1674 108.269 29.0823 107.881 29.0823ZM115.59 35.5382C114.708 35.5382 114.004 35.2261 113.475 34.6019C112.952 33.9777 112.69 33.0523 112.69 31.8257C112.69 30.586 112.956 29.6497 113.488 29.0168C114.025 28.3795 114.737 28.0608 115.623 28.0608C115.994 28.0608 116.319 28.111 116.599 28.2114C116.878 28.3118 117.118 28.445 117.319 28.6108C117.524 28.7767 117.694 28.9644 117.83 29.1739H117.908C117.886 29.0386 117.864 28.8487 117.843 28.6043C117.821 28.3598 117.81 28.1459 117.81 27.9626V25.2192H119.126V35.4072H118.085L117.869 34.4054H117.81C117.679 34.615 117.511 34.807 117.306 34.9816C117.105 35.1519 116.863 35.2872 116.579 35.3876C116.3 35.488 115.97 35.5382 115.59 35.5382ZM115.898 34.4644C116.609 34.4644 117.111 34.2592 117.404 33.8489C117.701 33.4386 117.851 32.8297 117.856 32.0221V31.8191C117.856 30.9592 117.714 30.3001 117.43 29.8418C117.151 29.3791 116.636 29.1477 115.885 29.1477C115.274 29.1477 114.813 29.3878 114.503 29.868C114.193 30.3438 114.038 31.0051 114.038 31.8519C114.038 32.69 114.193 33.336 114.503 33.79C114.813 34.2396 115.278 34.4644 115.898 34.4644Z" fill="#B1B0AE"/>
<path d="M27.4884 47.6416C26.9976 47.6416 26.9084 47.3739 26.8638 47.2847C26.7746 47.0617 26.7746 46.8832 26.8638 46.7047C26.953 46.5263 27.1761 46.3925 27.4438 46.3478C30.5221 45.9909 33.3773 45.0541 36.0541 43.4926C40.0247 41.2173 43.0584 37.9605 45.1107 33.8115C46.0475 31.8931 46.7167 29.8409 47.0736 27.7441C47.4752 25.335 47.5198 22.8812 47.1629 20.4721C46.6721 17.2153 45.5122 14.2262 43.7723 11.5494C41.2293 7.66807 37.7941 4.76821 33.5558 2.98367C31.5928 2.18063 29.5852 1.60066 27.533 1.37759C27.2207 1.37759 26.9976 1.19914 26.8638 0.976071C26.73 0.753005 26.8638 0.529938 26.9084 0.396098C27.0869 0.128418 27.2207 0.128418 27.3099 0.128418C28.0237 0.128418 28.6929 0.262258 29.2729 0.396098C30.9236 0.708391 32.5297 1.15452 34.0465 1.82372C37.4372 3.25135 40.337 5.34818 42.7015 8.02498C44.4861 10.0772 45.9583 12.3971 46.9844 14.94C47.6536 16.6354 48.0997 18.2414 48.3674 19.8029L48.7243 21.989V22.7028V23.7735C48.7243 24.3535 48.7243 24.8888 48.7243 25.4688L48.5013 27.0749C48.189 29.6178 47.4305 32.1608 46.1814 34.5699C44.6645 37.6036 42.5677 40.1912 39.9355 42.3773C37.8387 44.0726 35.4742 45.4556 32.8866 46.3925C31.2359 46.9724 29.496 47.3739 27.7114 47.597H27.533L27.4884 47.6416Z" fill="#B1B0AE"/>
<path d="M22.1335 47.5961C21.5089 47.5961 20.8843 47.4623 20.2151 47.373C18.5644 47.0607 17.0029 46.6146 15.5307 45.99C13.5231 45.1424 11.6047 44.027 9.86479 42.6886C7.76797 41.0379 5.98343 39.075 4.51119 36.7997C3.48509 35.1936 2.68205 33.4983 2.05746 31.7584C1.56671 30.3307 1.20981 28.8585 0.942125 27.1632C0.942125 26.4494 0.942125 25.9586 0.852899 25.5125C0.763672 24.9325 0.763672 24.6648 0.763672 24.4418V21.988C0.942125 20.4266 1.16519 19.1328 1.56671 17.7498C2.14669 15.5637 3.03895 13.4669 4.1989 11.5039C6.56341 7.66716 9.73095 4.67807 13.7015 2.62585C15.4415 1.73359 17.226 1.06439 19.0551 0.662866C19.9474 0.439799 20.8843 0.305959 21.7766 0.172119C21.7766 0.172119 21.8212 0.172119 21.8658 0.172119C22.3119 0.172119 22.4458 0.305959 22.5796 0.529026C22.6688 0.707479 22.6688 0.885933 22.5796 1.06439C22.4458 1.28745 22.2227 1.42129 21.955 1.42129C19.5459 1.68897 17.1814 2.35817 14.9953 3.42889C10.2663 5.70417 6.65263 9.27324 4.33274 14.0023C3.35125 15.9652 2.68205 18.1513 2.32514 20.4266C1.96823 22.6126 1.96823 24.7541 2.23591 26.8509C2.8605 31.3568 4.64503 35.3274 7.5449 38.6734C10.0432 41.5287 13.1216 43.7147 16.6906 45.0531C18.3413 45.6777 20.0812 46.0792 21.8212 46.3023C22.4011 46.3469 22.4904 46.5254 22.5796 46.7931C22.6688 46.9715 22.5796 47.1946 22.4904 47.4176C22.3119 47.6407 22.1781 47.6407 22.1335 47.6407V47.5961Z" fill="#B1B0AE"/>
<path d="M24.7205 33.9457C22.6683 33.9457 20.7053 33.3211 18.9654 32.0719C17.2701 30.8674 16.0209 29.2167 15.3071 27.2091C14.6825 25.4691 14.5487 23.6846 14.9056 21.9447C15.5748 18.6879 17.404 16.3234 20.3484 14.8066C21.7315 14.0927 23.2037 13.7358 24.7205 13.7358C25.3005 13.7358 25.8359 13.7805 26.4159 13.8697C29.9849 14.4943 32.4833 16.4573 34.0001 19.9371C34.4909 21.0524 34.7586 22.3462 34.7586 23.7738C34.7586 23.9969 34.6693 24.22 34.5355 24.3984C34.357 24.5769 34.134 24.6661 33.8663 24.6661H23.2037C22.8468 24.6661 22.4453 24.5769 22.2668 24.0861C22.1776 23.8185 22.2668 23.5508 22.4007 23.3277C22.5791 23.1046 22.8022 22.9708 23.0699 22.9708H33.5094L32.7509 21.0078C32.6617 20.7847 32.5725 20.5617 32.4833 20.3386C31.5018 18.2418 29.9403 16.8142 27.8435 16.0111C26.862 15.6096 25.7913 15.4311 24.7652 15.4311C22.0437 15.4311 19.59 16.7249 17.9839 18.9556C16.6455 20.8294 16.1102 23.0154 16.5117 25.2015C17.1363 28.5921 19.1885 30.912 22.4453 31.8935C23.2929 32.1611 24.1406 32.2504 24.9436 32.2504C26.8174 32.2504 28.5573 31.5812 30.1634 30.2874C30.4311 30.0643 30.6541 29.9751 30.8772 29.9751C31.011 29.9751 31.1449 30.0197 31.3233 30.1089C31.5464 30.2428 31.6802 30.4658 31.6802 30.7335C31.6802 31.0012 31.6356 31.2243 31.4572 31.4027C30.1634 32.5627 28.6911 33.3211 27.0404 33.6334C26.2374 33.8118 25.4344 33.9011 24.6759 33.9011L24.7205 33.9457Z" fill="#B1B0AE"/>
<path d="M40.9608 21.9876C40.6485 21.9876 40.4254 21.8092 40.3362 21.5415L40.1131 20.56C40.0239 20.0693 39.8901 19.5339 39.7116 19.0431C38.9978 16.7679 37.7932 14.7157 36.0979 12.9311C34.4472 11.1912 32.4843 9.89741 30.209 9.09437C28.3798 8.38056 26.5061 8.11288 24.0523 8.11288C20.4833 8.20211 16.9588 9.67435 14.1928 12.1281C12.096 13.9572 10.6237 16.2325 9.73145 18.8647C9.46377 19.6231 9.28531 20.4262 9.15147 21.3184C9.15147 21.4969 9.06225 21.7646 8.83918 21.8984L8.25921 21.9876C7.85769 21.5861 7.81307 21.3184 7.85769 21.0954C8.16998 19.4447 8.5715 18.1063 9.15147 16.9017C10.6237 13.6449 12.899 11.102 15.9327 9.27283C17.4496 8.33595 19.1449 7.66675 20.9294 7.26523C22.1786 6.95293 23.4724 6.81909 24.7661 6.81909C25.4353 6.81909 26.1045 6.81909 26.7737 6.95293C28.5583 7.176 30.2536 7.66675 31.8151 8.38056C35.4733 10.0759 38.2394 12.7527 40.0239 16.3663C40.7823 17.8832 41.3177 19.5339 41.5854 21.3184C41.63 21.6307 41.4069 21.9876 41.1392 22.0322H40.9608V21.9876Z" fill="#B1B0AE"/>
<path d="M24.8984 40.9472C21.1063 40.9026 17.8941 39.9211 15.0389 37.9135C12.2282 35.9505 10.1314 33.3629 8.88224 30.1954C8.39149 28.9462 8.0792 27.8755 7.94536 26.8494C7.90075 26.3586 8.25765 26.1802 8.39149 26.1802H8.48072C8.97147 26.1802 9.14992 26.3586 9.19453 26.6709C9.72989 29.3923 10.8452 31.7568 12.4513 33.8091C14.102 35.8613 16.1988 37.4227 18.6079 38.4488C20.5709 39.2965 22.5785 39.698 24.5415 39.698C24.943 39.698 25.3446 39.698 25.7461 39.6534C29.449 39.3857 32.7058 38.0027 35.3826 35.5044C37.5686 33.4968 39.0855 31.043 39.8439 28.2324C39.9777 27.7416 40.1116 27.2509 40.2008 26.7155C40.29 26.3586 40.5131 26.1802 40.87 26.1802L41.3608 26.4032C41.3608 26.4032 41.4946 26.7155 41.4946 26.894C41.1823 28.7677 40.5577 30.5969 39.5762 32.3368C37.6132 35.772 34.7134 38.315 30.9658 39.8319C29.0921 40.5903 26.9953 40.9918 24.8538 41.0364L24.8984 40.9472Z" fill="#B1B0AE"/>
</svg>
        </div>
      {%- else -%}
        {%- if block.settings.menu != blank -%}
          <ul class="footer-block__details-content panel list-unstyled">
            {%- for link in block.settings.menu.links -%}
              <li>
                <a
                  href="{{ link.url }}"
                  class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                >
                  {{ link.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endfor -%}

   <div class="footer__column hide-mobile-1100">
          
            {%- if has_social_icons -%}
              <ul class="footer__social-icons list-unstyled">
                {%- if settings.social_facebook_link != blank -%}
                  <li>
                    <a href="{{ settings.social_twitter_link }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                        <rect x="0.277344" y="0.940918" width="40" height="40" rx="20" fill="#E8E8E8"/>
                        <path d="M24.8033 9.2749H20.4579V26.0768C20.4579 28.0788 18.7866 29.7232 16.7068 29.7232C14.627 29.7232 12.9557 28.0788 12.9557 26.0768C12.9557 24.1107 14.5898 22.5019 16.5954 22.4305V18.2121C12.1758 18.2836 8.61035 21.7512 8.61035 26.0768C8.61035 30.4382 12.25 33.9416 16.744 33.9416C21.2378 33.9416 24.8775 30.4025 24.8775 26.0768V17.4614C26.5117 18.6053 28.5172 19.2846 30.6342 19.3203V15.102C27.3659 14.9947 24.8033 12.4208 24.8033 9.2749Z" fill="#716F6A"/>
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                  <li>
                    <a href="{{ settings.social_instagram_link }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                        <circle cx="20.1348" cy="21.0034" r="19.9375" fill="#E8E8E8"/>
                        <path d="M15.7395 20.7986C15.7395 18.3702 17.7076 16.401 20.136 16.401C22.5644 16.401 24.5336 18.3702 24.5336 20.7986C24.5336 23.227 22.5644 25.1962 20.136 25.1962C17.7076 25.1962 15.7395 23.227 15.7395 20.7986ZM13.3622 20.7986C13.3622 24.5398 16.3948 27.5724 20.136 27.5724C23.8772 27.5724 26.9098 24.5398 26.9098 20.7986C26.9098 17.0574 23.8772 14.0248 20.136 14.0248C16.3948 14.0248 13.3623 17.0572 13.3623 20.7986M25.595 13.7563C25.5949 14.0693 25.6876 14.3754 25.8615 14.6358C26.0353 14.8962 26.2825 15.0992 26.5717 15.2191C26.8609 15.3391 27.1791 15.3706 27.4862 15.3096C27.7933 15.2486 28.0755 15.098 28.2969 14.8767C28.5184 14.6554 28.6693 14.3734 28.7305 14.0663C28.7917 13.7593 28.7605 13.441 28.6408 13.1517C28.5211 12.8624 28.3183 12.6151 28.058 12.441C27.7978 12.267 27.4918 12.174 27.1787 12.1739H27.178C26.7584 12.1741 26.3559 12.3408 26.0591 12.6375C25.7623 12.9342 25.5954 13.3366 25.595 13.7563ZM14.8066 31.5364C13.5204 31.4778 12.8214 31.2636 12.3568 31.0826C11.7409 30.8428 11.3015 30.5573 10.8395 30.0959C10.3774 29.6345 10.0914 29.1955 9.85273 28.5796C9.67163 28.1152 9.4574 27.416 9.39894 26.1298C9.33498 24.7393 9.32221 24.3216 9.32221 20.7988C9.32221 17.276 9.33604 16.8595 9.39894 15.4678C9.45751 14.1817 9.67332 13.4838 9.85273 13.018C10.0925 12.4022 10.3781 11.9627 10.8395 11.5007C11.3009 11.0387 11.7399 10.7527 12.3568 10.514C12.8212 10.3329 13.5204 10.1186 14.8066 10.0602C16.1971 9.99621 16.6148 9.98344 20.136 9.98344C23.6572 9.98344 24.0753 9.99705 25.467 10.0604C26.7532 10.1189 27.451 10.3348 27.9168 10.5142C28.5327 10.7529 28.9721 11.0395 29.4341 11.5009C29.8961 11.9623 30.1811 12.4024 30.4209 13.0183C30.602 13.4826 30.8162 14.1819 30.8746 15.468C30.9386 16.8597 30.9514 17.2762 30.9514 20.799C30.9514 24.3218 30.9386 24.7384 30.8746 26.13C30.8161 27.4162 30.6008 28.1152 30.4209 28.5798C30.1811 29.1957 29.8955 29.6351 29.4341 30.0961C28.9727 30.5571 28.5327 30.8431 27.9168 31.0828C27.4524 31.2639 26.7532 31.4782 25.467 31.5366C24.0765 31.6006 23.6588 31.6133 20.136 31.6133C16.6132 31.6133 16.1967 31.6006 14.8066 31.5366M14.6973 7.68682C13.293 7.75078 12.3334 7.97345 11.4954 8.29955C10.628 8.63631 9.89273 9.08809 9.15853 9.82113C8.42434 10.5542 7.97371 11.2895 7.63695 12.158C7.31085 12.9965 7.08818 13.9556 7.02422 15.3599C6.95922 16.7665 6.94434 17.2162 6.94434 20.7986C6.94434 24.381 6.95922 24.8307 7.02422 26.2373C7.08818 27.6417 7.31085 28.6007 7.63695 29.4392C7.97371 30.3066 8.42444 31.0434 9.15853 31.7761C9.89262 32.5088 10.6269 32.9599 11.4954 33.2976C12.335 33.6237 13.293 33.8464 14.6973 33.9104C16.1046 33.9743 16.5536 33.9903 20.136 33.9903C23.7184 33.9903 24.1681 33.9754 25.5747 33.9104C26.9791 33.8464 27.9381 33.6237 28.7766 33.2976C29.644 32.9599 30.3793 32.5091 31.1135 31.7761C31.8477 31.043 32.2973 30.3066 32.6351 29.4392C32.9611 28.6007 33.1849 27.6416 33.2478 26.2373C33.3117 24.8297 33.3266 24.381 33.3266 20.7986C33.3266 17.2162 33.3117 16.7665 33.2478 15.3599C33.1838 13.9555 32.9611 12.996 32.6351 12.158C32.2973 11.2906 31.8465 10.5553 31.1135 9.82113C30.3804 9.08693 29.644 8.63631 28.7777 8.29955C27.9381 7.97345 26.979 7.74972 25.5757 7.68682C24.169 7.62255 23.7195 7.60693 20.1376 7.60693C16.5557 7.60693 16.1052 7.62181 14.6979 7.68682" fill="#716F6A"/>
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_twitter_link != blank -%}
                  <li>
                    <a href="{{ settings.social_facebook_link }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                        <g clip-path="url(#clip0_0_1169)">
                          <rect x="0.277344" y="0.940918" width="40" height="40" rx="20" fill="#E8E8E8"/>
                          <path d="M28.0625 26.7222L28.9492 20.9409H23.4023V17.1909C23.4023 15.6089 24.1758 14.0659 26.6602 14.0659H29.1836V9.14404C29.1836 9.14404 26.8945 8.75342 24.707 8.75342C20.1367 8.75342 17.1523 11.5229 17.1523 16.5347V20.9409H12.0742V26.7222H17.1523V40.6987C18.1719 40.8589 19.2148 40.9409 20.2773 40.9409C21.3398 40.9409 22.3828 40.8589 23.4023 40.6987V26.7222H28.0625Z" fill="#716F6A"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_0_1169">
                            <rect x="0.277344" y="0.940918" width="40" height="40" rx="20" fill="white"/>
                          </clipPath>
                        </defs>
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            {%- endif -%}
          </div>

        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}
</footer>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var accordions = document.querySelectorAll('.accordion_footer');
  accordions.forEach(function(accordion) {
    accordion.addEventListener('click', function() {
      this.classList.toggle('active');
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  });
});
</script>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Link List",
      "settings": [
     {
  "type": "inline_richtext",
  "id": "heading",
  "default": "Quick links",
  "label": "Heading"
},
{
  "type": "link_list",
  "id": "menu",
  "default": "footer",
  "label": "Menu"
},
{
  "type": "checkbox",
  "id": "show_icons",
  "default": true,
  "label": "Show Icons"
}
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "show_ask_ai",
      "default": true,
      "label": "Show \"Ask AI\" block"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "Enable Newsletter"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "Newsletter Heading"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "Show Social Icons"
    },
    {
      "type": "richtext",
      "id": "brand_description",
      "default": "<p>Brand description goes here.</p>",
      "label": "Brand Description"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
