<section class="founder-message-section">
  <div class="page-width padding-right-left">
    <div class="in_founder">
  <h2 class="text-heading">Founder’s Message</h2>
    <div class="founder-message-wrapper">
       <div>
          {{ section.settings.founder_message }}
         
      </div>

   <div>

                   {{ section.settings.founder_message_02 }}
<br>
    <p class="widthlove"> With love, </p>
     <!-- Founder image -->
      <div class="founder-image">

<div class="sign">
<svg xmlns="http://www.w3.org/2000/svg" width="55" height="86" viewBox="0 0 55 86" fill="none">
<path d="M9.66296 66.832C9.66296 66.8168 9.66296 66.8168 9.66296 66.8066C9.71122 66.9641 9.77725 67.1774 9.88645 67.5228L9.66296 66.832Z" fill="#666460"/>
<path d="M14.9133 82.3939C14.9133 82.3939 14.902 82.3855 14.8936 82.3686C14.8936 82.3489 14.902 82.3686 14.9133 82.3939Z" fill="#666460"/>
<path d="M11.9342 72.0175L11.8047 71.7407C11.825 71.7407 11.8758 71.8372 11.9342 72.0175Z" fill="#666460"/>
<path d="M13.5026 78.4055C13.4823 78.3167 13.4569 78.2125 13.4315 78.1084C13.4671 78.2328 13.5153 78.3878 13.5026 78.4055Z" fill="#666460"/>
<path d="M13.4082 77.9714C13.4184 78.0171 13.4285 78.0654 13.4387 78.1137C13.4158 78.0349 13.398 77.9714 13.4082 77.9714Z" fill="#666460"/>
<path d="M35.4316 64.7617C35.2005 64.97 34.9795 65.1198 34.751 65.2849L35.4316 64.7617Z" fill="#666460"/>
<path d="M34.8879 64.7324L34.7305 64.8848C34.7863 64.8264 34.8371 64.7781 34.8879 64.7324Z" fill="#666460"/>
<path d="M10.3686 66.5196C10.3203 66.2072 10.0842 65.6104 10.1248 65.6028C10.2137 65.9202 10.3813 66.3596 10.3686 66.5196Z" fill="#666460"/>
<path d="M34.8789 64.7349L35.0643 64.5571C35.0541 64.5774 35.0364 64.6003 35.0211 64.6232C34.9754 64.6562 34.9272 64.6917 34.8814 64.7324L34.8789 64.7349Z" fill="#666460"/>
<path d="M34.747 65.2878L34.3584 65.5875C34.493 65.4732 34.6225 65.3793 34.747 65.2878Z" fill="#666460"/>
<path d="M24.292 17.5382C23.448 14.9377 21.8613 11.6528 20.2898 9.40463C20.0364 8.85461 19.5244 8.14999 19.0022 7.4479H18.8527L18.4193 6.86747C18.2038 6.6647 18.7564 7.31103 18.3914 6.93844C18.3508 6.85226 18.3154 6.76355 18.2723 6.68244C18.2368 6.67483 17.9225 6.33519 17.7121 6.11468C17.4916 5.90431 17.3851 5.80546 17.7603 6.27943C17.1291 5.59762 16.4701 4.94622 15.7604 4.37339C15.2839 4.00587 15.5425 4.07684 14.9899 3.70172C14.924 3.6789 14.9696 3.71692 15.0254 3.76001C15.0786 3.80817 15.1369 3.8614 15.104 3.86393C14.8987 3.72199 14.706 3.61554 14.5388 3.50148C14.374 3.38489 14.2194 3.29111 14.0775 3.20493C13.9355 3.11622 13.8088 3.03004 13.6871 2.9464C13.5655 2.86782 13.4438 2.80192 13.3272 2.72842C13.2081 2.65745 13.094 2.58394 12.9698 2.51297C12.8431 2.45214 12.7113 2.39131 12.5668 2.32795C12.4223 2.26205 12.2677 2.19615 12.0878 2.15306C11.9103 2.10997 11.7152 2.04407 11.4921 2.01365C11.5403 2.02633 11.591 2.03646 11.6391 2.05674C11.4947 2.00605 11.2742 1.97817 11.0942 1.94015C11.0029 1.92241 10.9218 1.90973 10.8635 1.89706C10.8027 1.89199 10.7672 1.88946 10.7647 1.88439C10.8838 1.82356 10.9649 1.86158 11.0815 1.89959C11.1981 1.94268 11.3502 1.98831 11.629 2.00098C11.6037 1.88946 10.9573 1.84383 11.0029 1.77286C10.79 1.75512 10.6202 1.76526 10.458 1.73991C10.2958 1.72471 10.1386 1.69176 9.95361 1.71203C9.32249 1.77286 8.42523 1.96296 7.99688 2.19361C7.84227 2.21389 7.68259 2.26965 7.47475 2.32288C7.26944 2.38117 7.01598 2.45214 6.71943 2.6321C6.33163 2.94386 6.8563 2.64224 6.29361 2.99455L6.17448 3.00723C5.72839 3.33419 5.8095 3.29617 5.83991 3.30631C5.36087 3.64595 5.38875 3.52429 4.87168 4.03122C4.9756 3.94757 5.09473 3.87914 5.20879 3.80563C4.99081 3.96278 4.86408 4.09965 4.712 4.2492C4.55486 4.39367 4.41292 4.58377 4.17973 4.86764C4.21015 4.86764 4.40278 4.64967 4.53458 4.47731C4.4408 4.6598 4.31913 4.7764 4.21522 4.88285C4.11636 4.99184 4.02005 5.07548 3.95922 5.16673C3.97443 5.10336 4.26084 4.67755 4.07074 4.84737C3.97189 5.00198 3.82995 5.14392 3.72603 5.29853C3.62211 5.45061 3.5258 5.59508 3.49285 5.72688C3.57395 5.61789 3.66267 5.51397 3.74631 5.40752C3.5258 5.72181 3.4675 5.81053 3.40667 5.91191C3.34837 6.0133 3.27487 6.12735 3.12026 6.5481C3.14307 6.50501 3.14814 6.53289 3.16588 6.51769C2.882 7.01701 2.72739 7.76219 2.57278 8.61129L2.6184 8.45414C2.53222 8.79125 2.44604 8.97374 2.42323 9.16384C2.46886 8.66452 2.43591 8.79885 2.38775 8.74309C2.37001 9.40716 2.11147 9.72146 2.03797 10.819C2.07345 10.8037 2.14442 10.5477 2.14696 10.2461C2.29397 9.88874 2.37761 9.85072 2.52208 9.212C2.43084 9.6074 2.3624 10.089 2.41309 9.99266L2.30411 10.1093C2.27369 10.3576 2.25088 10.5554 2.2306 10.7429C2.15963 10.8418 2.19765 10.2284 2.0912 10.8012C1.98728 11.4526 2.14442 11.1586 2.0912 11.2574C1.95179 12.1572 1.94672 11.625 1.88589 12.4893C1.90363 12.4031 1.93658 12.2383 1.93405 12.1623C1.89857 12.7808 1.77944 13.678 1.88082 13.8681C1.91124 13.7769 1.94419 13.7642 1.95179 13.5285L1.93405 13.5361C2.06332 12.8644 1.87322 14.1013 1.98981 13.896C1.92898 13.8453 1.89603 14.7147 1.89603 15.105L1.83266 14.9783C1.59948 16.2811 1.96193 14.9124 1.91377 16.2025C1.86055 17.0212 1.89857 15.8933 1.84534 16.3951C1.85548 16.9502 1.91377 17.1555 1.90363 17.9691C1.93405 18.1947 1.98728 18.656 2.06332 18.6915C2.04811 19.1858 2.1647 20.1869 2.10894 20.4708C1.99742 19.6319 2.13682 19.6268 2.00249 18.6459L1.93912 18.9247C1.97207 19.6065 1.98221 20.486 2.04304 20.9549C2.02276 20.8611 1.99995 20.8181 1.98981 20.8814C2.02783 21.8573 1.97714 22.1462 2.08106 23.0916C2.15963 23.2107 2.0988 22.6557 2.07345 22.2501C2.17737 22.8584 2.12922 22.8888 2.23821 23.8368C2.30157 23.8824 2.17737 23.1981 2.22553 23.084L2.30157 24.1359C2.30157 24.1359 2.30918 24.1359 2.31424 24.1359C2.22807 24.2981 2.40803 24.9343 2.44604 25.5806C2.60573 27.0989 2.49927 27.3473 2.53476 28.1964C2.59052 28.4194 2.62347 28.4828 2.63614 28.3839C2.5449 28.0164 2.58798 28.0798 2.59559 27.9454C2.65135 28.46 2.83638 29.0531 2.83891 28.7616C2.91495 29.5777 2.7502 28.4752 2.78315 28.977L2.93269 30.0897C2.86426 29.9655 2.80343 29.5752 2.84145 30.1556C2.89974 30.6423 2.94537 30.8755 3.04168 31.5091C3.05182 31.4128 3.14814 31.6967 3.0721 31.2227C3.13546 31.5269 3.2115 32.0034 3.18869 32.196C3.03915 31.5091 3.31542 33.3417 3.16081 32.8347C3.20897 33.0629 3.26473 33.291 3.31796 33.5191C3.29008 33.3619 3.31796 33.3391 3.27233 33.1085C3.38132 33.2935 3.34584 33.6788 3.38132 33.9221C3.43708 34.1629 3.55114 34.794 3.58916 34.8422C3.60437 35.0652 3.71082 35.5975 3.76659 35.6887C3.80714 36.0157 3.72096 35.7242 3.71336 35.8231C3.77672 36.1906 3.85276 36.5581 3.92373 36.9256C3.97696 36.9763 4.10876 37.0473 4.09355 36.8775C4.13411 37.3033 3.99724 37.0498 4.12143 37.6784C4.13411 37.3008 4.33941 38.4996 4.33688 37.9572C4.40024 38.1321 4.47882 38.4768 4.55232 38.8494C4.63089 39.222 4.70693 39.6199 4.75509 39.9038C4.76269 40.2663 4.59288 39.3006 4.53458 39.3487C4.83873 40.9405 4.66891 41.0799 4.95026 42.2382L4.86661 41.9391C4.99081 42.6742 4.98067 42.5905 5.01869 43.0265C5.05671 42.8085 5.41409 43.8046 5.66756 44.9984C5.64728 45.1099 5.43691 44.3495 5.41916 44.5599C5.47239 44.8261 5.53322 45.0897 5.58898 45.3533C5.60926 45.409 5.60166 45.3178 5.58898 45.2139C5.72585 45.9286 6.00213 46.5065 5.9565 46.7346L6.24292 47.4241L6.12633 47.1528C6.10605 47.2618 6.28601 48.0577 6.31389 48.225C6.47103 49.0437 6.57749 49.3301 6.73971 49.7584C6.67127 49.6266 6.50905 49.2946 6.65353 49.9333C6.77772 49.8953 7.03879 51.2539 7.10469 51.2159C7.17059 51.4719 7.32774 51.9154 7.28212 51.961L7.35055 51.8977C7.25423 51.9864 7.50009 52.9191 7.66991 53.639C7.7789 53.4362 7.87015 54.4247 8.09573 54.7035C8.0273 54.8657 8.39735 55.981 8.34412 56.1305C8.49113 56.6805 8.57478 56.5994 8.64575 56.7287L8.6787 56.9948C8.80543 57.2584 9.10198 58.2824 9.30728 58.8856L9.37825 59.4787L9.47964 59.6764C9.48217 59.7728 9.60637 60.2493 9.48724 59.9679L9.58102 60.2721C9.48978 60.3253 9.67734 60.7106 9.81421 61.3392C9.87251 61.476 9.88518 61.4329 9.85983 61.2935C9.94854 61.6002 9.96375 61.4532 10.0449 61.6104C9.95361 61.4 10.1893 62.7662 9.90292 61.9525C9.84462 61.9069 9.95868 62.3986 10.0651 62.6927L10.2096 62.8498L10.2223 63.2376C10.349 63.7116 10.4656 63.8966 10.5898 64.2743C10.4783 63.8839 10.5036 63.3567 10.8002 64.363C10.6532 63.8307 10.6278 63.5544 10.5645 63.2756C10.6304 63.4835 10.6684 63.5848 10.6101 63.2477C10.8154 64.0436 10.6329 63.5265 10.8534 64.3072C10.9218 64.2413 11.008 64.4517 11.2437 65.1208L11.0308 64.6316C11.0283 64.6595 11.0308 64.695 11.0384 64.7356C10.9725 64.5455 10.9447 64.4948 10.9016 64.4618C10.9472 64.6164 11.0739 65.3946 11.1626 65.5086C10.8002 64.7634 11.482 66.9027 11.2539 66.4262C11.2564 66.5225 11.4186 67.0674 11.4744 67.1105C11.3375 66.4414 11.7152 67.5718 11.738 67.4501C11.7887 67.6985 11.5225 66.9559 11.5935 67.293C11.705 67.6833 11.8419 67.9495 11.9357 68.1598L11.9002 67.9926L12.1207 68.5781C12.1106 68.6896 11.8749 68.0204 12.0244 68.5781C12.0852 68.7175 12.2348 69.2751 12.2627 69.2497C12.2373 68.9709 12.3691 69.1382 12.2373 68.6642C12.3514 69.0546 12.7265 70.2965 12.4958 69.82L12.6429 70.2839C12.5187 70.0025 12.2069 69.2066 12.4832 70.1419L12.4958 70.1292L12.6353 70.7959L12.762 71.0671C12.7392 71.0671 12.7518 71.1735 12.8253 71.4143C12.8684 71.4701 12.947 71.6931 12.9724 71.6652C13.1802 72.3648 13.1244 72.3217 13.127 72.418C13.241 72.8109 13.3019 72.9503 13.2917 72.7551C13.4641 73.2874 13.7403 74.2227 13.8924 74.575C14.0749 75.3024 13.8316 74.433 13.9051 74.869C14.2321 75.4444 14.6782 77.2161 15.0178 78.3896C14.7998 78.1108 15.1014 78.714 15.0558 78.9624C15.0178 78.6988 15.4867 80.0422 15.2104 79.008L15.3879 79.6366C15.5856 80.0422 15.1243 78.5898 15.4107 79.2057C15.621 79.9053 15.6261 80.4072 15.9227 81.2157C15.9227 80.9166 16.0899 81.8519 16.1229 81.6187C16.1001 81.4413 16.0215 81.2208 15.9556 80.9825L16.0164 81.1219C16.5208 82.6275 16.0545 81.5908 16.2522 82.4095C16.5386 83.3549 16.5462 83.142 16.607 83.1851C16.6704 83.3296 16.7794 83.834 16.7996 84.1077C16.7388 83.4715 16.4727 83.0077 16.498 83.2941C16.607 83.4918 16.7008 83.8593 16.7413 84.2167C16.787 84.5741 16.7743 84.9163 16.7591 85.0582C16.6628 84.3282 16.5867 84.095 16.5436 83.8593C16.4879 83.6312 16.4397 83.4056 16.1888 82.7897C16.166 82.6072 16.2648 82.6047 15.9835 81.8697C16.0925 82.3512 15.9227 81.8544 15.8669 81.7252C15.9632 81.8519 15.725 81.203 15.6768 80.9648C15.5729 80.7696 15.6971 81.4514 15.4436 80.6961L15.5197 80.5162C15.4107 80.2247 15.4715 80.6708 15.3067 80.027C15.3498 80.3894 15.1775 79.9535 15.4208 80.8178C15.0077 79.8267 14.9975 79.2286 14.7973 78.42C14.815 78.5037 14.8024 78.5189 14.8176 78.6C14.7973 78.42 14.701 78.1108 14.6376 77.8751C14.45 77.358 14.7111 78.3085 14.6376 78.1818L14.3816 77.3301C14.3715 77.3149 14.3689 77.3099 14.3664 77.3124C14.3132 77.0843 14.2599 76.8663 14.2067 76.7979C14.2447 77.0615 14.2371 77.1755 14.2574 77.3555L14.0673 76.4354C14.0572 76.5444 13.7758 75.7206 13.9406 76.3644L13.5553 75.0363L13.4413 74.9501C13.3602 74.6282 13.3728 74.6155 13.497 74.9907C13.3399 74.5446 13.0281 72.9427 12.9419 73.2291C12.691 72.1696 12.5516 71.8046 12.2094 70.5348C12.4325 71.5233 11.7735 69.4576 12.0548 70.4917C11.8343 69.9037 11.8825 69.7516 11.7507 69.2751C11.5808 68.8417 11.5606 69.0647 11.6797 69.5514L11.5428 68.9785L11.5302 68.9937L11.4237 68.4919C11.2209 67.9875 11.3096 68.4082 11.1322 67.876L11.1677 67.7366L11.0156 67.3868C11.0891 67.5135 11.008 67.1916 10.8965 66.8013L10.8838 66.8139L10.7546 66.3374C10.8534 66.819 10.6075 65.9116 10.6228 66.1423C10.496 65.7393 10.4935 65.7291 10.2857 64.9966L10.3744 65.1107C10.131 64.145 10.2907 65.0929 10.055 64.3224L10.126 64.3528C9.70269 63.2705 9.61397 62.4519 9.31742 61.6459C9.44162 62.1224 9.34023 62.021 9.35544 62.0083C9.17041 61.2935 8.82063 60.1403 8.67616 59.3875C8.51648 59.1442 8.47592 59.0859 8.225 58.3407C8.07545 57.7907 8.06025 57.707 8.05771 57.5119C7.87522 56.9897 7.64457 55.9759 7.5812 55.9658C7.59387 55.8289 7.4418 55.4892 7.40124 55.1826L7.36069 55.1268L7.42912 55.1572C7.04639 54.2447 7.06414 53.5401 6.70675 52.6099L6.73464 52.7797L6.65099 52.3691C6.61044 52.3108 6.63579 52.4806 6.61044 52.506L6.11365 50.6354L6.25052 50.9928C6.15167 50.5974 6.14407 50.3161 5.99706 49.8725C6.09844 50.6456 5.83991 49.249 5.7436 49.1451L5.82217 49.5531C5.7343 49.1848 5.71318 49.0107 5.7588 49.031C5.60166 48.3112 5.52815 48.5672 5.42677 47.893L5.5459 48.3619C5.61433 48.4937 5.57631 48.1439 5.49774 47.8296C5.46986 47.7561 5.39382 47.5406 5.44198 47.7814C5.33045 47.2111 5.10233 46.3696 5.06685 46.1162C4.97814 45.8146 4.9604 45.9236 4.98321 46.0934C4.75256 44.8717 4.8362 45.551 4.61822 44.3267L4.59034 44.3546L4.53711 43.9288L4.33688 43.3484L4.42559 43.5537C4.34448 43.1532 4.31153 42.8997 4.18987 42.441L4.18227 42.6387C3.95922 41.5108 3.82995 41.3536 3.67534 40.2688C3.65253 40.1978 3.67027 40.3676 3.68041 40.4538C3.55621 39.445 3.43455 39.7213 3.3357 38.6999C3.33063 38.7658 3.29008 38.6593 3.28247 38.6999L3.22925 38.236L3.17095 38.2842L3.19883 37.8939L3.0797 37.6252V37.4427C2.86426 36.9789 2.81864 36.2717 2.6184 35.6203L2.71978 35.7217C2.66656 34.8599 2.46886 33.9018 2.27622 32.8956C2.09373 31.8893 1.87322 30.84 1.78197 29.8084L1.72114 29.854L1.69073 28.9948C1.5792 28.5461 1.67045 29.2761 1.61722 29.1392C1.53611 28.2268 1.66538 28.7489 1.54879 27.692C1.43473 27.1572 1.52344 27.8846 1.53358 28.1431C1.48289 27.6489 1.42966 27.033 1.37897 26.4551C1.32574 25.8772 1.26744 25.3348 1.21168 24.9875C1.21928 24.9698 1.22689 24.9267 1.23449 24.9622C1.18887 24.2981 1.08495 23.4287 1.02665 22.6988C0.998772 22.719 1.00638 22.9015 1.01651 23.084C0.988634 22.8229 0.940476 22.4656 0.953149 22.2375L0.917664 22.5163C0.856833 21.9561 0.836556 20.8687 0.763052 20.7471C0.793467 20.813 0.839091 20.7826 0.808675 20.2959C0.689548 20.0323 0.780794 18.9678 0.704755 18.1871C0.684478 18.2809 0.697151 18.8563 0.692082 18.694C0.651528 18.3012 0.692082 17.9489 0.714894 17.6016L0.676874 17.7081C0.681944 17.0972 0.702221 16.4889 0.727567 15.8781C0.676874 15.7412 0.692082 15.3103 0.712359 14.9276C0.735171 14.5449 0.760517 14.2128 0.722498 14.2736C0.755448 13.6197 0.735171 14.8262 0.796002 13.9974C0.765586 13.7743 0.864437 13.2522 0.796002 13.2801L0.780794 13.3688L0.834021 12.7909L0.737705 13.1508C0.790933 12.6515 0.894852 12.2941 0.94808 12.2738C0.960753 11.7922 1.06721 11.1535 1.03172 10.9305L0.996238 11.1003C1.17366 9.8051 1.07228 8.89517 1.41699 7.86104C1.42712 7.77993 1.40685 7.78754 1.37136 7.95229C1.43219 7.67601 1.49302 7.39974 1.57413 7.12346L1.47021 7.30849C1.54879 7.08291 1.61722 6.85733 1.711 6.63428C1.79718 6.41123 1.88843 6.18819 1.99742 5.97274L1.9594 5.97781C2.12415 5.52918 2.41563 4.9741 2.77808 4.42662C3.14307 3.8766 3.62211 3.36968 4.07581 2.94386L3.93134 3.06299C4.44587 2.62196 4.70186 2.42173 4.91984 2.25951C5.02883 2.17587 5.13022 2.10236 5.25188 2.00858C5.37607 1.92241 5.51801 1.81088 5.73853 1.70189C5.70304 1.71203 5.67263 1.72471 5.64221 1.73991L6.40767 1.30649L6.22264 1.37239C6.29868 1.34198 6.37725 1.29889 6.46343 1.25833C6.55214 1.22031 6.64339 1.17976 6.73464 1.13921C6.91713 1.05303 7.09709 0.961782 7.24917 0.883209C7.55586 0.733666 7.75356 0.662696 7.56346 0.748873C7.74849 0.705785 7.99942 0.650023 8.21739 0.59933C8.43791 0.558776 8.63054 0.553707 8.68883 0.558776C9.17041 0.470064 9.22618 0.447253 9.23885 0.434579C9.25152 0.419372 9.2135 0.401629 9.51766 0.366144C9.87504 0.343333 10.0854 0.323056 10.3237 0.350937C10.4428 0.361075 10.5721 0.368679 10.7292 0.376283C10.8078 0.378818 10.894 0.383887 10.9928 0.386422C11.0891 0.394025 11.1956 0.411768 11.3147 0.424441L11.2995 0.388956C11.5225 0.424441 11.7025 0.459926 11.9027 0.497945C12.0979 0.553707 12.3159 0.614538 12.615 0.698181L12.4401 0.63735C13.3855 0.982059 13.6744 0.946574 14.3233 1.40534C14.706 1.57009 15.3777 1.97817 15.3726 1.91227C16.389 2.60422 17.1013 3.22267 17.9453 4.05656C18.1607 4.10726 18.1329 4.23145 18.6753 4.70543H18.5967C19.7601 5.90938 21.0375 7.34398 22.026 8.8901L22.1021 8.90024L22.244 9.24495C23.3466 10.8798 24.5227 13.1407 25.1411 14.5854C25.3185 15.0721 25.5543 15.8172 25.8457 16.5852L25.8255 16.5016C26.2817 17.8627 26.6543 19.3074 27.0395 20.7952C27.0395 20.6964 27.0928 20.8409 27.07 20.6685C27.0902 21.0386 27.2702 21.548 27.3412 21.8699L27.2144 21.5024C27.255 21.9409 27.4349 22.5416 27.5211 22.7494L27.5921 23.4389C27.6073 23.482 27.6276 23.5504 27.6402 23.558L27.6326 23.6847L27.7771 24.0294C27.7949 24.1993 27.9317 25.1016 27.9039 25.3931C27.9393 25.4539 28.0635 26.085 27.9976 25.5933C28.1396 26.4196 28.2688 27.2459 28.388 28.0772L28.3094 27.692C28.246 27.6514 28.3094 28.4042 28.3829 28.7869C28.3652 28.2724 28.4615 28.7337 28.5299 28.9466C28.54 29.2888 28.4412 28.6577 28.4311 28.8402C28.4463 29.271 28.5274 30.1759 28.5755 30.399V30.1404C28.611 30.7209 28.7403 30.9794 28.7859 31.5547C28.7859 32.0743 28.8569 32.452 28.7479 32.3531C28.7834 33.1009 28.8366 32.6345 28.8645 32.8753C28.8442 33.2301 28.9329 34.2719 28.9861 34.4037C28.8645 34.8168 29.0977 36.4263 28.9633 36.5834L29.0267 37.2044C28.9912 37.2247 28.9177 37.3438 28.8822 37.8508C28.8949 38.3298 28.9557 38.2208 28.9836 38.3678L28.8366 38.6821C28.8239 39.0294 28.7986 39.3943 28.7479 39.7745C28.6947 40.1573 28.6288 40.5527 28.4843 40.9861C28.4108 41.2015 28.3221 41.4297 28.1598 41.6806C28.0787 41.8048 27.9621 41.9442 27.8354 42.0582C27.734 42.1394 27.6504 42.2154 27.5465 42.2864C27.1485 42.5728 26.667 42.8009 26.1119 42.8769C25.5644 42.9555 24.9028 42.8465 24.3833 42.441C24.1273 42.2433 23.9194 41.9822 23.7876 41.7085C23.6533 41.4373 23.5722 41.1534 23.5367 40.8872C23.4657 40.3499 23.5342 39.8633 23.6355 39.4222C23.742 38.9812 23.889 38.5782 24.0537 38.2031C24.2185 37.8786 24.4086 37.5466 24.6266 37.2247C24.7356 37.0574 24.8446 36.9028 24.9535 36.7482C25.0625 36.591 25.1741 36.4339 25.2881 36.2742C25.7469 35.6431 26.2259 34.9917 26.6974 34.3733L26.5782 34.5C26.8824 34.0818 27.1967 33.6737 27.5161 33.2682C27.2955 33.5723 27.07 33.8714 26.857 34.1806C27.075 33.9221 27.2626 33.7371 27.4654 33.4811C27.985 32.8094 28.611 32.0414 29.3156 31.2759C30.0203 30.5079 30.8035 29.7476 31.6044 29.0708C32.7171 28.2851 32.195 28.3738 33.2697 27.6311C33.1733 27.6894 33.1303 27.6996 33.0415 27.7503C33.6017 27.3295 34.0478 27.0152 34.4888 26.7161C34.9298 26.4196 35.3734 26.1256 35.964 25.758C35.7511 25.7327 36.7041 25.241 36.5621 25.2537L36.6889 25.2359C36.9221 25.0306 37.5253 24.6149 37.4138 24.6403L37.9714 24.364L37.9841 24.2854C38.3288 24.0649 38.8839 23.7354 39.406 23.4363C39.9281 23.1398 40.4097 22.866 40.5795 22.719C41.5199 22.2983 42.7568 21.7685 44.1508 21.4213C44.8478 21.2489 45.588 21.1298 46.3306 21.0994C47.0732 21.069 47.821 21.1324 48.5078 21.2946C48.8855 21.4188 49.6636 21.6925 50.2213 22.0169C50.4367 22.0955 50.6369 22.2146 50.8473 22.316C51.3872 22.7114 51.8358 23.2614 52.2439 23.7101C52.249 23.7025 52.2363 23.6797 52.2135 23.6416C52.6215 24.1663 52.9815 24.6986 53.1716 25.279C53.4681 25.9228 53.681 26.5717 53.6861 26.3461C53.6354 26.3968 53.7571 26.7491 53.8483 27.0963C53.899 27.2687 53.9472 27.441 53.9801 27.5678C54.0156 27.697 54.0384 27.7807 54.0384 27.7807C54.0384 27.7807 54.0637 27.9176 54.1018 28.1761C54.1398 28.4346 54.1905 28.8148 54.2209 29.2989C54.2969 30.2697 54.2893 31.6561 54.117 33.3087C54.0308 34.135 53.9041 35.0247 53.7419 35.965C53.6582 36.4263 53.572 36.9028 53.4859 37.392C53.3997 37.8888 53.3186 38.4008 53.1969 38.9254C52.7533 41.0267 52.0158 43.2444 51.0475 45.4141C50.0793 47.5863 48.8779 49.7128 47.5574 51.6873C46.906 52.6758 46.2013 53.6288 45.5195 54.5286C44.8352 55.4233 44.166 56.2978 43.5222 57.1393C42.8683 57.9782 42.227 58.7893 41.5655 59.532C40.9065 60.2771 40.2247 60.9336 39.5859 61.4988C38.306 62.6268 37.2085 63.486 36.4025 64.0994C36.1617 64.2362 35.5762 64.7051 35.7435 64.4644C35.2948 64.8319 35.163 65.0853 35.0414 65.1158C35.6066 64.5657 34.76 65.1665 35.2898 64.6012L34.9096 64.9181C34.8056 64.9535 35.4444 64.5074 35.3024 64.5328L35.4773 64.5201C35.7663 64.2413 35.9158 64.0816 35.9969 63.96C36.3061 63.742 36.5824 63.6938 37.2135 63.05L37.0234 63.2097C37.5735 62.7256 37.3124 62.8599 37.4163 62.7459L37.2946 62.8549L37.7205 62.4037C37.396 62.7408 36.7598 63.1869 37.0665 62.9233C37.7002 62.3226 36.9145 63.0931 37.4138 62.6673C37.7205 62.4012 37.5988 62.4341 37.5608 62.4214L38.1057 61.9373C38.0525 61.9171 37.7483 62.2618 37.9334 62.026C38.1742 61.8359 38.4124 61.6433 38.6507 61.4482C38.6912 61.2403 39.4288 60.812 39.6417 60.4267C39.1525 60.8703 39.6544 60.3532 39.5505 60.3988C39.9383 60.0237 40.3058 59.6308 40.6657 59.2304C40.7544 59.1062 40.3539 59.5193 40.5212 59.3419C40.6987 59.0935 40.8735 58.987 40.9775 58.8603C41.0459 58.7361 41.7429 57.9276 41.6466 57.9073C42.2752 57.0075 42.0167 57.6107 42.5971 56.7667C42.6376 56.6298 42.0952 57.4054 42.3284 57.0126L42.9824 56.1761C42.9038 56.237 42.7923 56.2927 42.5616 56.6171C43.3955 55.4512 43.9861 54.5134 44.5741 53.6111C45.1545 52.7088 45.7248 51.8495 46.4599 50.7799C46.6119 50.4403 46.2799 50.9776 46.1025 51.1728C46.6601 50.4149 46.9795 49.832 47.2684 49.2769C47.4103 48.9981 47.5472 48.7269 47.6942 48.4354C47.8362 48.1439 47.9984 47.8347 48.1936 47.4874H48.2518C49.1694 45.4623 50.3531 43.0645 50.9842 40.6465L50.9335 40.9405C51.078 40.6262 51.2452 40.0964 51.3618 39.7036C51.3542 39.6377 51.1844 39.9621 51.3846 39.2702C51.3644 39.4197 51.3061 39.7188 51.3517 39.6377C51.4024 39.3741 51.4708 39.0775 51.5241 38.7455C51.5798 38.4134 51.6609 38.0611 51.7141 37.6708C51.775 37.2805 51.8358 36.8749 51.9195 36.4263C51.9904 35.998 52.0639 35.5493 52.14 35.0931C52.4289 33.2682 52.6165 31.2633 52.4872 29.5549C52.434 28.4042 52.2439 27.2408 51.8181 26.1965C51.3973 25.1523 50.7155 24.2601 49.8005 23.6771C48.8855 23.0789 47.7981 22.79 46.6931 22.7925C45.5829 22.7925 44.4651 23.0485 43.4006 23.411C44.052 23.2006 43.7377 23.1651 43.2536 23.3679C42.6199 23.7101 42.0521 23.9534 41.4768 24.217C40.904 24.4806 40.3286 24.7645 39.7228 25.2055C38.5417 25.8696 37.4898 26.6274 36.4633 27.3878C35.4469 28.1482 34.4483 28.8934 33.4268 29.6563V29.7323C33.1632 30.001 33.0542 30.034 32.7551 30.295L32.7729 30.3001C32.086 30.9363 31.2369 31.6941 30.8846 32.1022L30.8136 32.0794C30.4233 32.4799 30.6463 32.3202 30.2306 32.7156L30.2661 32.7257C30.1014 32.8753 29.9316 33.0223 29.7693 33.1744C29.8352 33.1896 29.5742 33.4836 29.27 33.8258C28.9684 34.1705 28.6237 34.5633 28.5071 34.756C28.0331 35.3009 27.1612 36.3655 26.563 37.2881C26.5352 37.3869 26.3146 37.7266 26.0865 38.1068C25.8584 38.4844 25.6278 38.9356 25.501 39.2904C25.3591 39.625 25.245 40.0052 25.2146 40.3575C25.1893 40.7124 25.278 40.9937 25.4022 41.0951C25.4655 41.1508 25.5466 41.1965 25.6734 41.2091C25.7976 41.2244 25.9522 41.2091 26.1169 41.1559C26.2817 41.1027 26.449 41.0114 26.6087 40.8923L26.7252 40.7985C26.7481 40.7808 26.7379 40.7859 26.743 40.7808C26.743 40.7808 26.7481 40.7783 26.7506 40.7707C26.7683 40.7529 26.8064 40.6794 26.8393 40.6059L26.8976 40.6617C26.9508 40.5501 27.0041 40.4082 27.0471 40.2587C27.0294 40.2587 27.0395 40.1978 27.0117 40.2637C27.0193 40.0787 27.0902 39.8024 27.146 39.5059C27.2043 39.2093 27.2525 38.9001 27.2448 38.6821C27.2879 38.9584 27.2195 39.0572 27.1815 39.3538C27.1485 39.7796 27.2981 39.3969 27.3184 38.7962L27.3006 38.8063C27.3285 38.672 27.3513 38.5376 27.3741 38.4008C27.3209 38.3501 27.3158 37.975 27.2575 37.9243C27.3082 37.0295 27.3336 36.2616 27.3412 35.486C27.3462 34.7104 27.3285 33.9221 27.2474 32.9767C27.1992 33.1769 27.1587 31.613 27.075 32.0034C27.0193 30.8628 27.184 32.1833 27.2195 31.6561C27.1891 31.3393 27.1891 31.0022 27.1409 30.949C27.1283 31.101 27.0471 30.698 27.0624 30.9566L26.9914 30.1962C26.9736 30.1252 26.9787 30.2925 26.9787 30.3787C26.8773 28.8249 26.5757 27.6489 26.4262 26.2624C26.4515 26.1535 26.5225 26.8074 26.5478 26.7009C26.411 25.2993 26.2817 25.4868 26.1093 24.1891L26.1017 24.4654C26.0637 24.0421 26.0789 23.852 25.899 23.1803C25.8102 23.0739 25.9598 23.7684 25.9902 24.1029C25.904 23.634 25.6784 22.4504 25.8102 22.7976C25.7139 22.2349 25.61 22.0448 25.5264 21.7483C25.5416 21.7331 25.6861 22.2577 25.6455 21.9257C25.4427 21.1754 25.1639 20.012 24.8978 19.1097C24.8851 19.1224 24.842 19.0666 24.8572 19.1477C24.7305 18.3975 24.6139 18.5141 24.3123 17.5306L24.292 17.5382Z" fill="#666460" stroke="#666666" stroke-opacity="0.266667" stroke-width="0.547543"/>
<path d="M9.44621 63.4635C9.43338 63.4301 9.42055 63.3968 9.40259 63.3557C9.41285 63.3737 9.42825 63.4122 9.44621 63.4635Z" fill="#666460"/>
<path d="M9.61344 63.9432C9.56773 63.7934 9.50677 63.5877 9.46106 63.4607C9.53471 63.6486 9.58042 63.7985 9.61344 63.9432Z" fill="#666460"/>
<path d="M10.1336 65.603C10.1133 65.5294 10.0955 65.4633 10.0879 65.4075C10.1082 65.4659 10.1311 65.537 10.1615 65.6233C10.1463 65.6056 10.1387 65.6005 10.1336 65.603Z" fill="#666460"/>
<path d="M28.0994 71.2544C28.0994 71.2544 28.074 71.2798 28.0537 71.2976C28.0715 71.2798 28.0867 71.2646 28.0994 71.2544Z" fill="#666460"/>
<path d="M27.9636 70.8619C27.9636 70.8619 27.9718 70.8565 27.9773 70.8537C27.9773 70.8483 27.9745 70.8374 27.9691 70.8237L27.9636 70.8647V70.8619Z" fill="#666460"/>
<path d="M28.3281 70.8529C28.3281 70.8529 28.3222 70.8413 28.3193 70.8384C28.3193 70.8384 28.3193 70.8384 28.3281 70.8529Z" fill="#666460"/>
<path d="M29.0242 69.9507L28.9473 70.0071C28.9806 69.9866 29.0165 69.9609 29.0242 69.9507Z" fill="#666460"/>
<path d="M27.9636 69.9001C27.9636 69.9001 27.9687 69.9102 27.9712 69.9203C27.9712 69.9128 27.9661 69.9052 27.9636 69.9001Z" fill="#666460"/>
<path d="M28.2236 70.2243C28.2236 70.2243 28.2318 70.1997 28.24 70.1833C28.2345 70.1833 28.2236 70.1833 28.2236 70.2243Z" fill="#666460"/>
<path d="M28.2349 70.1541L28.2236 70.1794C28.2236 70.1794 28.2321 70.1738 28.2349 70.1541Z" fill="#666460"/>
<path d="M28.9476 70.2298C28.9476 70.2298 28.9193 70.1683 28.8885 70.1169L28.9476 70.2298Z" fill="#666460"/>
<path d="M28.4474 69.5948L28.4667 69.6059C28.4667 69.6059 28.4502 69.5921 28.4474 69.5948Z" fill="#666460"/>
<path d="M29.2606 69.8886C29.335 69.8373 29.2529 69.9091 29.3248 69.8552C29.3094 69.8603 29.3633 69.8142 29.2606 69.8886Z" fill="#666460"/>
<path d="M25.8074 72.7168L25.7793 72.7C25.7793 72.7 25.799 72.7168 25.8074 72.7168Z" fill="#666460"/>
<path d="M28.4483 69.5954L28.4258 69.5813C28.437 69.5954 28.4483 69.6066 28.4596 69.6179C28.4511 69.6066 28.4483 69.5982 28.4483 69.5954Z" fill="#666460"/>
<path d="M28.415 71.4961C28.415 71.4961 28.423 71.5014 28.4309 71.504L28.415 71.4961Z" fill="#666460"/>
<path d="M28.5536 71.5505C28.5536 71.5505 28.5705 71.5618 28.5817 71.5702C28.5902 71.5731 28.5761 71.5646 28.5536 71.5505Z" fill="#666460"/>
<path d="M28.8849 70.1159L28.8516 70.0518C28.8516 70.0518 28.8695 70.0877 28.8849 70.1159Z" fill="#666460"/>
<path d="M28.5752 71.3062C28.5752 71.3062 28.5785 71.3128 28.5851 71.3194C28.5851 71.3194 28.5851 71.3161 28.5752 71.3062Z" fill="#666460"/>
<path d="M28.3623 70.9075C28.3623 70.9075 28.3664 70.9157 28.3705 70.9198C28.3705 70.9198 28.3705 70.9198 28.3623 70.9075Z" fill="#666460"/>
<path d="M28.6024 72.6021C28.5871 72.5843 28.5897 72.6503 28.5948 72.7189C28.6049 72.7189 28.61 72.696 28.6024 72.6021Z" fill="#666460"/>
<path d="M29.3804 72.5648C29.3804 72.5648 29.3763 72.5566 29.3722 72.5525C29.3722 72.5566 29.3722 72.5607 29.3804 72.5648Z" fill="#666460"/>
<path d="M29.1832 72.6873C29.1719 72.6704 29.1607 72.6592 29.1494 72.6536C29.1607 72.6704 29.1719 72.6817 29.1832 72.6873Z" fill="#666460"/>
<path d="M26.7968 73.5354C26.8525 73.5329 26.9108 73.5151 26.9641 73.4949C27.0198 73.4746 27.0579 73.4492 27.1187 73.4391C27.1871 73.4239 27.2479 73.4239 27.3012 73.4518C27.3595 73.2718 27.4051 73.2718 27.4558 73.2363L27.433 73.4822L27.4811 73.4087C27.4887 73.4847 27.4456 73.4518 27.4659 73.5481L27.4963 73.396C27.4913 73.4847 27.5927 73.4619 27.5115 73.6343L27.6738 73.6469C27.7093 73.6571 27.7042 73.4416 27.7397 73.505C27.7447 73.5785 27.7245 73.5531 27.7245 73.6419C27.8411 73.8294 27.8689 73.1679 27.9602 73.2769L27.9526 73.3098C27.9678 73.2439 27.9982 73.2515 27.9982 73.216C27.9779 72.9676 27.9855 73.3504 27.9526 73.2059C27.9526 72.9955 27.9855 73.0918 27.9779 72.9322C28.0007 73.0082 28.0083 72.8891 28.0261 72.8739C28.0616 73.0031 28.0996 72.9093 28.1351 73.069C28.1452 73.0031 28.1452 72.7953 28.1756 72.7852C28.2136 72.9474 28.1832 72.9423 28.2212 73.0006L28.2136 72.8789C28.2415 72.8941 28.239 72.9296 28.2441 72.9854C28.2719 72.9854 28.2491 72.8181 28.2897 72.8916L28.2846 73.0107C28.3049 72.9626 28.3176 72.9829 28.3556 72.9879C28.3632 73.0564 28.348 73.0538 28.3353 73.0361C28.3784 73.2135 28.3581 72.955 28.3708 72.9727C28.3606 72.9195 28.3328 72.8992 28.3277 72.7801C28.348 72.8004 28.3404 72.6128 28.3708 72.7522V72.8713C28.3911 72.7725 28.3657 72.7192 28.4139 72.7598C28.4139 72.7699 28.4189 72.7978 28.4215 72.8232C28.4215 72.666 28.4772 72.8004 28.5178 72.8029V72.8358C28.5254 72.7928 28.5127 72.6838 28.5229 72.6914C28.4874 72.628 28.4874 72.59 28.4646 72.4759C28.5305 72.6686 28.4595 72.2402 28.5229 72.3492C28.5381 72.4176 28.5457 72.5013 28.5178 72.4328C28.5457 72.6381 28.5786 72.808 28.5685 72.9094C28.5786 72.8587 28.5938 72.8257 28.6065 72.9119L28.5736 72.7243C28.5736 72.7243 28.5938 72.7269 28.6014 72.7243C28.5786 72.6052 28.5381 72.5342 28.5457 72.4531C28.5584 72.3872 28.6014 72.6407 28.5888 72.557C28.609 72.4734 28.5558 72.3543 28.604 72.4075C28.604 72.4227 28.604 72.4582 28.5989 72.4404C28.642 72.5089 28.6496 72.3923 28.7155 72.6128C28.7256 72.6635 28.7408 72.7319 28.7256 72.7142L28.718 72.6812C28.7307 72.8511 28.7307 72.6305 28.7763 72.8333C28.7434 72.7142 28.789 72.7319 28.8118 72.7471L28.7687 72.6128C28.7079 72.1921 28.8422 72.884 28.8879 72.813C28.898 72.7117 28.8625 72.7801 28.8574 72.6787C28.8904 72.6939 28.9309 72.813 28.9614 72.7395C28.9943 72.7877 29.0526 72.846 29.1109 72.993C29.1261 72.9195 29.2528 73.0133 29.2123 72.8637C29.1008 72.7674 29.2123 73.0437 29.0653 72.8789L29.0323 72.7269C29.083 72.7167 29.1084 72.6229 29.1616 72.6584C29.1439 72.6331 29.1236 72.5976 29.1134 72.5672C29.1515 72.4861 29.0957 72.3416 29.1717 72.3543C29.2478 72.4734 29.2021 72.4709 29.1819 72.4937C29.2731 72.5748 29.225 72.481 29.3086 72.4861C29.3745 72.59 29.263 72.5038 29.3162 72.6128L29.3669 72.5368C29.3669 72.5368 29.3745 72.5494 29.3796 72.557C29.2807 72.3771 29.4455 72.5368 29.4556 72.4557C29.5671 72.3771 29.41 72.1439 29.3441 71.9817C29.3948 72.0121 29.4353 72.045 29.4657 72.0881C29.3796 72.0425 29.4353 72.0881 29.4632 72.1388C29.4759 72.1008 29.6812 72.2098 29.7192 72.2909C29.7395 72.187 29.6204 72.2351 29.6102 72.154C29.6406 72.1312 29.6685 72.1084 29.6989 72.078C29.6077 72.0222 29.5671 72.0349 29.5418 71.9411C29.5494 71.8854 29.5773 71.8854 29.6229 71.8321C29.6609 71.8702 29.7699 71.9006 29.7319 71.9437C29.7851 71.9361 29.8231 71.8854 29.7446 71.8169C29.6229 71.8372 29.7293 71.6572 29.5519 71.6344C29.5899 71.6268 29.6305 71.6192 29.6711 71.6091C29.6609 71.6243 29.7268 71.6547 29.6964 71.6699C29.8535 71.7155 29.6837 71.5888 29.6761 71.5609C29.7167 71.5457 29.7522 71.4773 29.813 71.4849C29.7775 71.4469 29.8231 71.3886 29.9068 71.3835C29.8814 71.3353 29.8029 71.3658 29.7547 71.3455C29.7674 71.2999 29.7724 71.2568 29.78 71.2111C29.8688 71.2061 30.1146 71.1909 30.1476 71.2213C30.0665 71.1529 29.889 71.1934 29.8916 71.1123C30.0665 71.1554 30.0132 70.9805 30.2236 71.0388C30.2844 71.0058 30.3072 70.9323 30.3047 70.8766C30.3047 70.8208 30.2768 70.7625 30.2439 70.7296C30.1019 70.722 30.1907 70.8335 30.0538 70.8614C29.9524 70.6763 29.5874 70.8259 29.6178 70.7194L29.5899 70.7549C29.4962 70.7397 29.5164 70.7397 29.3998 70.7676C29.5621 70.7068 29.7902 70.5015 29.7141 70.4482C29.6381 70.4888 29.5925 70.5699 29.4683 70.6307L29.4227 70.6079C29.4227 70.6079 29.4607 70.5876 29.481 70.58C29.41 70.5826 29.6305 70.395 29.4556 70.4989L29.6406 70.3215L29.5621 70.3975C29.4886 70.4432 29.4455 70.4229 29.4125 70.4381C29.3137 70.466 29.3644 70.4102 29.4379 70.324C29.3872 70.3747 29.268 70.4862 29.2326 70.4837C29.4505 70.3063 29.2757 70.3722 29.3872 70.2784C29.377 70.2733 29.4303 70.1998 29.3416 70.2759L29.4734 70.1618C29.2883 70.3215 29.2706 70.2835 29.2199 70.2936C29.4657 70.0706 29.1793 70.2885 29.3897 70.0706C29.2224 70.2226 29.2934 70.0984 29.154 70.2302C29.1489 70.2302 29.154 70.2176 29.1692 70.1998C29.2098 70.1542 29.2985 70.0655 29.3365 70.0275L29.2731 70.0832C29.3466 70.0072 29.3466 69.9844 29.3948 69.9286L29.2427 70.0579L29.3086 69.9945C29.2706 70.0275 29.2427 70.0427 29.192 70.0959L29.1971 70.0832C29.0349 70.2277 29.1464 70.1187 29.0678 70.1694C29.0932 70.1441 29.1337 70.1111 29.1565 70.0934C29.1565 70.0883 29.2402 70.0173 29.2934 69.9666C29.2554 70.0072 28.9816 70.2049 28.9183 70.2809C28.8524 70.3392 28.7941 70.3747 28.8194 70.3418L28.969 70.2125L28.8042 70.3367C28.7738 70.3468 28.8701 70.2632 28.8828 70.2429C28.898 70.2429 29.1869 70.0199 29.1743 70.0097C29.1996 69.9996 29.2883 69.9362 29.3213 69.9134C29.3263 69.9058 29.339 69.8931 29.4075 69.845C29.3542 69.8754 29.3111 69.9185 29.2858 69.9261C29.4227 69.8171 29.4657 69.7791 29.5114 69.7385L29.4125 69.8222C29.3948 69.8348 29.3821 69.845 29.3745 69.8501C29.3618 69.8627 29.339 69.8805 29.2858 69.9236C29.2858 69.9236 29.1058 70.0452 29.1895 69.9793C28.9816 70.1567 29.007 70.0858 28.8802 70.1922C28.8372 70.2201 28.8245 70.2176 28.8929 70.1643C29.007 70.0959 29.0501 70.0376 29.1515 69.9692C29.1084 69.9945 29.0501 70.0528 28.9943 70.0858C28.9816 70.0858 29.0653 70.0199 29.1084 69.9844L29.1362 69.9666L29.1971 69.9134C29.1236 69.9616 29.0805 70.0072 29.0374 70.0249C29.0653 70.0021 29.0247 70.0199 29.083 69.9793C29.1844 69.916 29.3162 69.8222 29.3416 69.812C29.3289 69.8146 29.3035 69.812 29.1717 69.9083V69.8982C29.1134 69.9413 29.0095 70.03 28.9816 70.0275L29.012 70.0072L28.8955 70.068L28.969 70.0148C28.9309 70.0402 28.8955 70.0604 28.898 70.0528C28.9411 70.0224 28.9563 70.0097 29.0171 69.9717C29.0044 69.9641 28.9284 70.0123 28.8853 70.0376C28.865 70.0249 28.8853 69.9945 28.9816 69.9514C28.9791 69.9261 28.974 69.9134 28.9538 69.8703C28.9309 69.8247 28.9107 69.7766 28.9233 69.7233C28.7535 69.6726 28.9233 69.7689 28.7738 69.7968C28.8017 69.7208 28.789 69.6498 28.751 69.5941C28.7079 69.5358 28.6243 69.4927 28.5381 69.4699C28.4544 69.4521 28.3784 69.4572 28.3024 69.4699C28.2314 69.4851 28.201 69.5079 28.1553 69.5205C28.2238 69.7816 28.1097 69.556 28.13 69.7994C28.1401 69.7106 28.0033 69.6143 28.0742 69.5231L28.0261 69.5611C27.95 69.4268 28.1021 69.4318 27.9982 69.2493C27.9196 69.2747 27.945 69.5712 27.8765 69.4927C27.8334 69.3076 27.8563 69.5662 27.8005 69.3659C27.7904 69.2975 27.8132 69.3127 27.8233 69.2924L27.8005 69.262C27.6738 69.2493 27.8436 69.4825 27.8411 69.6219C27.8106 69.66 27.7523 69.4977 27.7143 69.4166C27.694 69.3862 27.6814 69.4217 27.6915 69.4724C27.6738 69.3558 27.7853 69.5611 27.8208 69.6752C27.7194 69.4851 27.7549 69.6853 27.7802 69.7664C27.9247 69.9514 27.8233 69.7588 27.9627 69.9666C27.9424 69.9007 27.8689 69.7233 27.9348 69.7816C27.945 69.8805 27.9729 69.883 27.9906 69.9083C27.9475 69.807 27.9982 69.8551 27.9957 69.8095C28.0311 69.8931 28.059 70.0604 28.0996 70.0934L28.0286 69.8425C28.059 69.8754 28.0768 70.0275 28.0945 69.959C28.1148 70.0959 28.1503 70.1618 28.1325 70.2125C28.2288 70.4203 28.1376 70.0832 28.1984 69.9793C28.1934 69.9971 28.1984 70.03 28.1934 70.0478C28.1959 69.9793 28.2212 69.9819 28.2365 69.9641C28.2719 70.0224 28.2111 70.0832 28.2263 70.1542C28.239 70.1517 28.2517 70.1466 28.2694 70.1491C28.2694 70.1567 28.2694 70.1618 28.2694 70.1669C28.2846 70.1339 28.3074 70.1137 28.2973 70.177C28.2643 70.2556 28.2517 70.3418 28.2441 70.4102C28.2491 70.3519 28.2694 70.2885 28.2998 70.2379C28.2795 70.3139 28.2415 70.4077 28.2517 70.3798C28.2517 70.3798 28.2517 70.3798 28.2517 70.3773C28.2466 70.3849 28.2415 70.395 28.2365 70.4001H28.2314L28.2212 70.4127C28.2212 70.4127 28.2288 70.4051 28.2339 70.4026C28.2314 70.4026 28.2314 70.4051 28.2263 70.4077C28.2212 70.4127 28.2136 70.4203 28.2035 70.4305C28.1858 70.4457 28.2111 70.4254 28.2162 70.4203C28.2263 70.4127 28.2365 70.4051 28.2441 70.4001C28.2795 70.3823 28.2846 70.3925 28.1376 70.4862C28.2669 70.4203 28.2314 70.4761 28.3226 70.4558C28.1706 70.5167 28.168 70.6003 28.0894 70.613C28.0362 70.6738 28.1959 70.5724 28.2288 70.5674C28.1731 70.6231 28.0286 70.7169 27.9652 70.7372L28.0413 70.7093L28.0134 70.7296L28.1047 70.6865C28.0362 70.7574 27.9627 70.7929 27.9526 70.8234L28.0818 70.7372L28.0159 70.8005C28.0717 70.7549 28.1021 70.7448 28.1199 70.7498L28.092 70.7701L28.1249 70.7651C28.0388 70.8081 28.1072 70.798 28.0134 70.8588C28.0159 70.8766 28.0185 70.874 28.0565 70.8791L28.1376 70.8107C28.2314 70.7803 28.0134 70.9095 28.0235 70.9374L28.1173 70.8588C27.983 71.021 28.2491 70.8386 28.168 70.9425C28.1351 70.9475 28.0286 71.0439 28.0565 71.0211C28.1097 71.0109 28.1148 71.0667 28.2441 70.983C28.1199 71.1098 28.0818 71.1478 28.0464 71.2238C28.0692 71.2314 28.0844 71.2238 28.1629 71.1554C28.1477 71.1833 28.1604 71.1909 28.168 71.1959C28.1782 71.2035 28.1807 71.2086 28.13 71.2568C28.206 71.1858 28.1224 71.2796 28.1908 71.2238L28.1528 71.2618L28.239 71.1757C28.0514 71.3784 28.3733 71.092 28.2111 71.2694L28.1858 71.2897L28.2263 71.2618C28.1858 71.2973 28.1604 71.3201 28.1072 71.3658C28.1072 71.3784 28.1072 71.3886 28.1072 71.3987L28.1756 71.3353C28.1756 71.3353 28.2821 71.2593 28.2288 71.3125C28.0793 71.4215 28.2288 71.3227 28.1173 71.4114L28.0768 71.4393C28.0768 71.4393 28.0869 71.4367 28.1858 71.3607C28.2238 71.3404 28.0033 71.5077 28.1097 71.4291C28.1097 71.4291 28.1123 71.4266 28.1123 71.4241C28.168 71.381 28.2517 71.3227 28.2491 71.3277C28.2339 71.3404 28.1908 71.3734 28.1782 71.381C28.2187 71.3582 28.1706 71.3987 28.2111 71.3708C28.1832 71.3886 28.1275 71.4241 28.1072 71.4393C28.2187 71.3708 28.1553 71.4063 28.2618 71.3455L28.2973 71.3277L28.3429 71.3024L28.3252 71.31C28.353 71.2973 28.3606 71.2923 28.4113 71.2669L28.3987 71.2745C28.4798 71.2365 28.4925 71.2314 28.5609 71.2111C28.566 71.2111 28.5558 71.2112 28.5482 71.2137C28.6116 71.1959 28.5837 71.201 28.6521 71.1883H28.6597H28.6673H28.6724C28.6724 71.1883 28.6851 71.1883 28.6775 71.1883C28.6775 71.1883 28.6192 71.1731 28.5507 71.1098C28.5507 71.1098 28.5305 71.092 28.5203 71.0844C28.5051 71.0692 28.5305 71.0946 28.5254 71.0895C28.5077 71.0717 28.4899 71.0515 28.4772 71.0363C28.4595 71.016 28.4823 71.0439 28.4924 71.054C28.4595 71.0185 28.4113 70.9526 28.3911 70.9222C28.3733 70.8918 28.3505 70.8563 28.3378 70.831C28.3429 70.8411 28.3429 70.8411 28.3454 70.8436C28.3429 70.8386 28.3454 70.8411 28.3302 70.8157L28.3353 70.8259C28.3353 70.8259 28.3353 70.8208 28.3125 70.7803C28.3125 70.7803 28.3125 70.7803 28.31 70.7727C28.31 70.7727 28.3049 70.7625 28.315 70.7904C28.315 70.7904 28.31 70.7752 28.31 70.7777C28.3125 70.7853 28.31 70.7828 28.315 70.7904V70.798H28.3176L28.1629 70.3342L28.1706 70.362L28.1452 70.2809L28.1655 70.3975C28.1047 70.1948 28.1579 70.433 28.1173 70.2809C28.1097 70.2759 28.1477 70.3697 28.1452 70.395C28.1199 70.3088 28.1477 70.4381 28.1148 70.3038V70.2885L28.1097 70.3012L28.0793 70.1694C28.0844 70.1998 28.1123 70.3316 28.1351 70.433C28.1123 70.3595 28.1199 70.4229 28.0894 70.3012L28.0844 70.2683C28.0793 70.324 27.9906 69.9033 28.0261 70.1339C28.021 70.1162 28.0159 70.0807 28.0185 70.0832L28.0109 70.0756L27.9957 69.9742L28.0109 70.1314L28.0007 70.063C27.9881 70.0351 27.983 70.0731 27.9754 70.0959V70.063C27.9754 70.172 27.9551 69.9971 27.9551 70.0756C27.9551 70.0579 27.9551 70.0503 27.9551 70.0452H27.9475L27.9424 69.9819C27.95 70.1314 27.9146 69.7867 27.9272 69.9134C27.9272 69.9793 27.9323 70.063 27.9348 70.1466C27.9272 70.1542 27.9272 70.0579 27.9196 69.9971C27.9146 69.9895 27.9196 70.1111 27.9095 70.0478V69.9768C27.9095 69.9768 27.9044 70.0402 27.8993 70.0503V70.0173C27.8917 70.1644 27.8943 69.812 27.8892 70.1162C27.8892 70.0604 27.8816 70.1035 27.8867 69.9641C27.8791 70.0528 27.8715 70.0959 27.8588 70.1517C27.874 69.9236 27.8563 70.1669 27.8613 70.0351L27.8512 70.1567C27.836 70.172 27.8613 69.8678 27.8512 69.916L27.8689 69.7943L27.8461 69.9286C27.8461 69.9058 27.8461 69.883 27.8487 69.8627C27.8512 69.8374 27.8233 69.812 27.8208 69.812C27.8005 69.8729 27.7625 70.0173 27.7675 69.9717L27.7726 69.9565C27.7675 69.9717 27.7625 69.9869 27.7574 70.0021L27.7523 70.0199C27.7447 70.0478 27.7371 70.0731 27.7295 70.101C27.7118 70.1593 27.6966 70.2125 27.6788 70.2683C27.6662 70.3088 27.651 70.3519 27.6332 70.4051C27.6332 70.4001 27.6357 70.395 27.6383 70.3925C27.5927 70.5217 27.5977 70.5091 27.5901 70.5268L27.6028 70.4888C27.5876 70.5319 27.5648 70.5927 27.5546 70.613L27.5318 70.6713C27.5318 70.6713 27.5293 70.6763 27.5268 70.6814L27.5217 70.6916L27.509 70.722C27.5014 70.7346 27.4938 70.7575 27.4634 70.8183C27.4634 70.8234 27.438 70.8639 27.4558 70.8335C27.4279 70.8893 27.4026 70.9323 27.3772 70.9704L27.3874 70.9526C27.3874 70.9526 27.3696 70.983 27.3569 71.0008C27.3721 70.978 27.3569 71.0008 27.3519 71.0084C27.3417 71.0236 27.362 70.9957 27.3544 71.0033C27.3392 71.0236 27.3215 71.0489 27.3113 71.0591L27.3189 71.0515C27.3189 71.0515 27.291 71.0844 27.286 71.0895C27.2784 71.0971 27.286 71.0895 27.2682 71.1072C27.2657 71.1072 27.2606 71.1148 27.2606 71.1148C27.2505 71.1224 27.2505 71.1224 27.2403 71.1326C27.2378 71.1326 27.2353 71.1351 27.2353 71.1351H27.2302V71.1376L27.4837 70.983L27.4811 70.9856L27.4735 70.9906C27.4735 70.9906 27.471 70.9906 27.433 71.0134L27.4102 71.0261C27.4102 71.0261 27.3924 71.0337 27.3899 71.0363C27.3848 71.0363 27.3772 71.0413 27.3721 71.0439L27.3645 71.0489C27.286 71.0844 27.2632 71.0616 27.3772 71.0743C27.4228 71.0793 27.5039 71.0971 27.618 71.1351L27.6079 71.13C27.6459 71.1427 27.6915 71.1579 27.7321 71.1757C27.7016 71.163 27.6712 71.1529 27.6408 71.1427C27.6687 71.1529 27.7016 71.1655 27.7169 71.1706C27.7929 71.1985 27.8892 71.239 28.0235 71.3024C28.1047 71.3429 28.1756 71.3784 28.2491 71.4139C28.2694 71.4241 28.2871 71.4342 28.31 71.4469L28.4899 71.5406V71.5381L28.4848 71.533C28.4848 71.533 28.4671 71.5178 28.4544 71.5102C28.1984 71.3556 28.6902 71.6319 28.5026 71.5178C28.5254 71.533 28.5634 71.5533 28.5888 71.5685C28.5051 71.5102 28.4646 71.4798 28.3252 71.3759C28.5761 71.533 28.3252 71.3658 28.457 71.4494L28.3556 71.3835C28.4189 71.419 28.4443 71.4291 28.5178 71.4773L28.3961 71.3911L28.5001 71.4595C28.5001 71.4595 28.4418 71.386 28.6471 71.5254C28.5051 71.4038 28.5736 71.4038 28.6319 71.4114C28.5558 71.343 28.5558 71.3303 28.5533 71.3176L28.6699 71.4063C28.6395 71.3708 28.5077 71.2441 28.5837 71.2999C28.5964 71.3125 28.604 71.3201 28.6116 71.3252C28.5938 71.2999 28.6572 71.3455 28.5634 71.2492C28.5761 71.2492 28.6395 71.2923 28.7383 71.3886C28.5584 71.2238 28.7789 71.3987 28.7789 71.3987C28.7789 71.3987 28.8245 71.4038 28.8853 71.3911C28.9436 71.381 29.0222 71.3531 29.0856 71.2847C29.2098 71.1529 29.3111 70.8386 28.9867 70.248C28.9183 70.1491 28.8853 70.0756 28.789 69.9692C28.7738 69.9236 28.9132 70.0858 28.8397 69.9895C28.7713 69.9413 28.6496 69.7411 28.5381 69.6397L28.5305 69.6093C28.4798 69.5408 28.5761 69.698 28.4823 69.5738L28.6217 69.7512C28.5913 69.7309 28.5584 69.698 28.5051 69.6422C28.5533 69.7183 28.7383 69.959 28.6344 69.8729V69.8577C28.6217 69.8779 28.5305 69.7512 28.5026 69.7259H28.5077L28.424 69.6473C28.4823 69.698 28.3835 69.5408 28.3835 69.5586C28.3252 69.5256 28.424 69.5966 28.4266 69.6295C28.4266 69.6448 28.353 69.551 28.3074 69.4952L28.2973 69.5155C28.2314 69.4344 28.3125 69.5104 28.2365 69.4318L28.2871 69.5358C28.1173 69.333 28.3454 69.6523 28.1807 69.4648C28.1553 69.404 28.1224 69.3964 28.0717 69.3279L28.0464 69.3685C28.021 69.3431 28.0033 69.2975 28.0083 69.3127C27.9551 69.262 28.0388 69.371 28.0337 69.3735C27.9855 69.3203 28.0083 69.3964 27.8993 69.2595C27.8005 69.1885 28.0286 69.442 27.945 69.3811C27.874 69.3 27.945 69.3482 27.8664 69.2696V69.3203C27.8385 69.2772 27.7625 69.1834 27.7853 69.1936C27.6332 69.1353 27.2378 68.7323 27.2682 68.8945C27.177 68.8032 27.2201 68.8235 27.1719 68.7551C27.2353 68.9224 26.9286 68.5954 26.8982 68.6436L26.9666 68.7247C26.6979 68.527 26.7562 68.7348 26.5991 68.6943L26.6574 68.7424C26.7157 68.8261 26.7081 68.8463 26.7309 68.8894C26.6929 68.8514 26.5864 68.7171 26.5965 68.7678C26.627 68.7906 26.6599 68.8134 26.6929 68.8514C26.4495 68.7044 26.3735 68.8692 26.1783 68.8844C26.1048 69.077 25.8007 69.1125 25.7196 69.333C25.7322 69.3026 25.9325 69.4673 25.8691 69.4521C25.4737 69.2468 25.8615 69.589 25.5751 69.4749C25.6233 69.6574 25.2304 69.5662 25.461 69.8475L25.352 69.7892C25.2937 69.7791 25.3647 69.8247 25.3673 69.8475L25.3368 69.8298C25.276 69.845 25.352 69.9717 25.2836 69.9768L25.4078 70.0402C25.4027 70.0807 25.3014 70.0123 25.3571 70.0832L25.2938 70.0528L25.3951 70.1491C25.1721 70.0478 25.3292 70.2505 25.2126 70.2505C25.2304 70.3266 25.2938 70.4736 25.2202 70.5724C25.0935 70.5623 25.0606 70.7118 24.9871 70.8183C24.9896 71.0363 25.0378 71.3759 25.0758 71.6674L25.2278 71.6218L25.2557 71.6877C25.2228 71.6953 25.2076 71.7105 25.1873 71.7054C25.0301 71.8169 25.2912 71.8448 25.2076 71.9335C25.3292 71.8473 25.2101 71.8803 25.2 71.8397C25.2532 71.7612 25.4129 71.7612 25.3647 71.8549L25.3318 71.8651L25.4281 71.8803C25.3166 71.9335 25.2811 71.9969 25.1721 72.0526C25.2329 72.154 25.3292 72.1997 25.4129 72.2453C25.5117 72.3137 25.6182 72.3999 25.6841 72.5165C25.5624 72.59 25.8438 72.6381 25.6334 72.7623C25.8159 72.813 25.75 72.6052 25.9198 72.5342C25.9451 72.5646 26.0212 72.5444 25.968 72.6153C25.9147 72.6458 25.897 72.7471 25.8564 72.7421L25.9426 72.7902C25.9375 72.8105 25.8995 72.8232 25.8818 72.8282C26.0034 72.8384 26.044 72.9144 26.0871 72.9905C26.1302 73.0665 26.1707 73.1324 26.267 73.1071C26.3177 73.0361 26.229 73.0589 26.2797 72.9879C26.3836 72.9448 26.3836 72.9879 26.3887 73.0412C26.3912 73.0944 26.3963 73.1527 26.4698 73.1172L26.4014 73.216C26.4698 73.1552 26.5205 73.0665 26.5383 73.178C26.4952 73.3149 26.4495 73.2667 26.3938 73.3149C26.4343 73.3402 26.5383 73.3402 26.556 73.211C26.6118 73.1831 26.5839 73.3073 26.594 73.3504C26.6067 73.3174 26.5864 73.2465 26.6346 73.1958C26.6599 73.2895 26.741 73.3149 26.7942 73.3428C26.7841 73.3757 26.774 73.4289 26.7638 73.4416C26.8627 73.2794 26.7689 73.5785 26.8424 73.5582L26.7968 73.5354Z" fill="#666460"/>
<path d="M29.4107 72.5645H29.3722C29.3876 72.5901 29.4055 72.6209 29.4107 72.6594V72.5645Z" fill="#666460"/>
<path d="M28.415 72.8169C28.415 72.8169 28.415 72.8415 28.415 72.8578C28.4178 72.8496 28.415 72.8333 28.415 72.8169Z" fill="#666460"/>
<path d="M28.2554 73.0884C28.2657 73.055 28.2503 73.0191 28.24 72.9832C28.2426 73.0114 28.2477 73.0447 28.2554 73.0884Z" fill="#666460"/>
<path d="M29.7979 71.4749C29.7979 71.4749 29.8258 71.4977 29.8537 71.5028C29.8334 71.485 29.8131 71.4774 29.7979 71.4749Z" fill="#666460"/>
<path d="M29.2924 69.9241C29.2924 69.9241 29.2844 69.932 29.2765 69.94C29.2844 69.932 29.2897 69.9267 29.2924 69.9241Z" fill="#666460"/>
<path d="M29.1277 70.0861C29.1277 70.0861 29.1327 70.0861 29.1453 70.0761C29.1503 70.0685 29.1403 70.0761 29.1277 70.0861Z" fill="#666460"/>
<path d="M29.4415 72.1326C29.4415 72.1326 29.439 72.1554 29.4517 72.1834C29.4593 72.1707 29.4517 72.1529 29.4415 72.1326Z" fill="#666460"/>
<path d="M29.1775 70.0609L29.1699 70.076C29.1699 70.076 29.1825 70.0659 29.1901 70.0583H29.175L29.1775 70.0609Z" fill="#666460"/>
<path d="M29.287 69.9079C29.287 69.9079 29.287 69.9158 29.2765 69.9237C29.3055 69.8973 29.3055 69.8947 29.287 69.9079Z" fill="#666460"/>
<path d="M29.4629 70.5663C29.4629 70.5663 29.4629 70.5663 29.4682 70.5663C29.5313 70.5505 29.5024 70.5531 29.4629 70.5663Z" fill="#666460"/>
<path d="M29.3778 69.9149L29.3722 69.9205L29.406 69.8923L29.3778 69.9149Z" fill="#666460"/>
<path d="M29.3243 69.8592C29.3243 69.8592 29.3328 69.8536 29.3497 69.8451C29.3525 69.8395 29.3581 69.8367 29.3609 69.8311C29.344 69.8423 29.3328 69.8508 29.3243 69.8592Z" fill="#666460"/>
<path d="M29.4646 70.2004C29.4209 70.2312 29.3927 70.2518 29.3722 70.2697C29.3773 70.2723 29.3979 70.2595 29.4646 70.2004Z" fill="#666460"/>
</svg>
  <span class="founder_name">{{ section.settings.founder_name }}</span>
  <span class="signature">{{ section.settings.signature }}</span>
</div>
        <img src="{{ section.settings.founder_image |  img_url: '' }}" alt="Founder Image" class="Founder_Image">
      </div>
      </div>
    </div>
  </div>
  </div>
</section>

<style>
.founder-message-section .in_founder {
    padding: 4.3rem;
    background: #fff;
}

  .title_in_div {
    display: block!important;
  }

  .title_in_div p{


font-style: normal !important;
font-weight: 460 !important;
text-transform: uppercase !important;
font-variation-settings: 'wdth' 85 !important;
line-height: 1.6rem !important; /* 160% */
letter-spacing: 0.0285rem !important; /* 0.57px */


  }
.sign span {
    display: block;
    color: #666460;
        font-variation-settings: "wdth" 87;
    text-align: center;
    font-family: "Open Sans";
    font-size: 0.85rem; /* 17px */
    font-style: normal;
    font-weight: 460;
    line-height: 1.105rem; /* 22.1px */
    letter-spacing: 0.0255rem; /* 0.51px */
}

.sign svg {
    width: 2.6796rem; /* 53.592px */
    height: 4.23605rem; /* 84.721px */
    padding-bottom: 0.6rem; /* 12px */
}

.sign {
    text-align: center;
    padding-right: 3.7rem; /* 74px */
}

.Founder_Image {
    width: 10.2005rem; /* 204.01px */
    height: 13.01935rem; /* 260.387px */
}

.founder-message-wrapper {
    display: flex;
    gap: 6rem; /* 120px */
}

.founder-message-wrapper > div {
    width: 50%;
}

  .founder-message-section {
    margin-top: 4rem;
margin-bottom: 4rem;
  }

.founder-message-section h2 {
margin-bottom: 3.9rem;
    color: #666460;
    text-align: center;
    font-family: "Open Sans";
    font-size: 2.75rem; /* 55px */
    font-variation-settings: 'wdth' 80;
    font-style: normal;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    line-height: 3.3rem; /* 66px */
    letter-spacing: 0.275rem; /* 5.5px */
    text-transform: uppercase;
}

.founder-image {
    display: flex;
    align-items: center;
    justify-content: end;
}

.founder-message-section p {
    color: #666460;
        font-variation-settings: "wdth" 87;
    font-family: "Open Sans";
    font-size: 0.9rem; /* 18px */
    font-style: normal;
    font-weight: 400;
    line-height: 1.485rem; /* 29.7px */
    letter-spacing: 0.027rem; /* 0.54px */
}
@media (min-width: 768px){
  .title_in_div p{

 color: #666460 !important;
font-family: "Open Sans" !important;
font-size: 0.95rem !important; /* 19px */
  }
  }
@media (max-width: 768px){
.founder-message-wrapper {
    display: block !important;
}


.sign {
padding-top: 0px!important;
padding-bottom: 30px!important;
    text-align: center;
    padding-right: 0px !important;
}

    .sign svg {
        margin-left: auto;
        margin-right: auto;
    }

.sign span {
    font-size: 14px!important;
}

  .title_in_div p{
    margin-bottom: 0px!important;
    text-align: left !important;
 color: #666460 !important;
font-family: "Open Sans" !important;
font-size: 14px!important; /* 19px */
  }

  .widthlove {
    text-align: center!important;
  }
.founder-image {
    display: block !important;
    padding-top: 40px !important;
}

.founder-message-section {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.Founder_Image {
    width: 100% !important;
    height: auto !important;
}

.sign svg {
    width: 49.328px !important;
    height: 77.98px !important;
    display: block !important;
    padding-bottom: 30px !important;
}

.founder-message-section p {
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 413 !important;
    line-height: 140% !important;
}

.founder-message-section h2 {
    font-size: 32px !important;
    font-style: normal !important;
    font-weight: 450 !important;
    line-height: 120% !important;
    letter-spacing: 4.8px !important;
    margin-bottom: 50px !important;
}

.founder-message-section .in_founder {
    padding: 65px 30px 30px 30px !important;
}

.founder-message-wrapper > div {
    width: 100% !important;
}

#shopify-section-template--18667038605560__multirow_EPrLik    .image-with-text, #shopify-section-template--18667038605560__multirow_EPrLik .image-with-text__text-item,
#shopify-section-template--18667038605560__multirow_EPrLik .color-background-1  {

    background: #f7f6f5 !important;
    background-color: #f7f6f5 !important;

    }
}
</style>

{% schema %}
{
  "name": "Founder Message Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "founder_image",
      "label": "Founder Image"
    },
    {
      "type": "text",
      "id": "founder_name",
      "label": "Founder Name",
      "default": "Hazel Guo"
    },
    {
      "type": "richtext",
      "id": "founder_message",
      "label": "Founder Message 01"
    },
{
      "type": "richtext",
      "id": "founder_message_02",
      "label": "Founder Message 02"
    },
    {
      "type": "text",
      "id": "signature",
      "label": "Signature",
      "default": "Founder, Yoé"
    }

  ],
  "presets": [
    {
      "name": "Founder Message",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
