


{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


   
<div class="color-{{ section.settings.color_scheme }} gradient">
 <div class="split-section__contact">

    {{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

    <div class="color-{{ section.settings.color_scheme }} gradient">
      <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">

           <div class="klaviyo-form-X4EkFM"></div>

      </div>
    </div>
  </div>
</div>

<style>


@media (min-width: 768px){
.contact__button {
        margin-top: 2.9rem;
}
 
}

 

#Order_ID_01JJSE14TQXM1KKNHB2F98Q3V7 , #label-Order_ID_01JJSE14TQXM1KKNHB2F98Q3V7 {
  display: none!important;
}

  .klaviyo-form .kl-private-reset-css-Xuajs1 label {
    margin-bottom: 0 !important;
    pointer-events: none !important;
    opacity: 1 !important;
    font-weight: 400 !important;
    color: #666460 !important;
    font-variation-settings: 'wdth' 85 !important;
    color: rgba(var(--color-foreground), .75) !important;
    letter-spacing: .1rem !important;
    line-height: 1.5 !important;
    font-size: 0.9rem !important;
}

.klaviyo-form input {
    border-radius: 0px !important;
    border-right: none !important;
    border-left: none !important;
      border-color: #333 !important;
    border-top: none !important;

}
.klaviyo-form input:hover{
       border-bottom: 1px solid #333 !important;
}

.klaviyo-form * {
    font-variation-settings: 'wdth' 78 !important;
    font-family: "Open Sans" !important;
}

  .klaviyo-form h1 span{
      font-size: 32px !important;
    line-height: 1 !important;
  }


  [data-testid="form-component"]  input{
        border-bottom: none !important;
  }

.klaviyo-form input {
    box-shadow: inset 0 -1px 0 #333 !important;
    background: transparent;
}

.klaviyo-form input:hover,
.klaviyo-form input:focus,
.klaviyo-form input:active {
    box-shadow: inset 0 -1px 0 #333 !important;
}


  [data-testid="form-component"]  input:hover,
  [data-testid="form-component"]  input:active,
  [data-testid="form-component"]  input:focus {
    border-bottom: none !important;
}
  
  [role="option"] {
    color: rgba(102,100,96,0.75)!important;
      font-variation-settings: 'wdth' 78 !important;
    font-family: "Open Sans" !important;
font-size: 0.9rem!important;
line-height: 1.5;
  }

  [aria-owns="downshift-0-menu"] {
    margin-top: 10px!important;
  }

  #downshift-0-toggle-button {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    left: auto !important;
    text-align: right;
}

  .go2911424518  {
    border: none!important;
  }
.klaviyo-form button.go2534619395 {
    border: none !important;
  height: auto!important;
      min-width: 0px !important;
    min-height: 0px !important;
    font-family: "Open Sans" !important;
    font-size: 1.0727rem !important;
    font-weight: 700 !important;
    line-height: 1.502rem !important;
    letter-spacing: 0.0966rem !important;
    text-align: left !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-variation-settings: 'wdth' 78 !important;
    color: #FFF !important;
    text-transform: uppercase !important;
    display: flex !important;
    border-radius: 0px !important;
      MAX-HEIGHT: 4rem;

    padding: 1.25rem 3.45rem !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 1rem !important;
    background: #BD1E18 !important;
}

  .go2911424518 {
    padding: 0px!important;
  }
.needsclick {
    display: block !important;
    min-width: 100% !important;
}

  
   .header:not(.drawer-menu).page-width {
        background: #fff !important;

}

@media (min-width: 768px){
  .klaviyo-form button.go2534619395 {

    max-width: 15.6rem !important;
  }
}
@media (max-width: 768px){
  .klaviyo-form button.go2534619395 {
    max-width: 100%!important;
        width: auto !important;
  }

  .klaviyo-form {
    padding: 0px!important;
  }

.split_text_section{
    padding-left: 25px !important;
    padding-right: 25px !important;
    max-width: 100%;
    order: -1;
    padding-bottom: 25px!important;
}


.contact__button {
    margin-top: 25px!important;
}

.contact h2 {
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 25px !important;
}
.split-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.split-section__text {
    margin-bottom: 15px !important;
}
}


    .split-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.text-heading {
    font-weight: 350!important;
}

    .contact__fields {
        display: grid;
        grid-template-columns: repeat(1, 1fr)!important;
        grid-column-gap: 2rem;
    }


.split-section__contact,
.split-section__content {
  flex: 1;

}

h3.form-status__message {
    color: #666460;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.8215rem;
    font-style: normal;
    font-weight: 350;
    line-height: 2.1858rem;
    letter-spacing: 0.2732rem;
    text-transform: uppercase;
}

    .form-status__icon {
      
    text-align: center;

    }
    .form-status__icon svg{
      width: 3.8646rem;
height: 6.10935rem;

    }

.split-section__content>div{
    max-width: 29rem;
    margin-left: auto;
    margin-right: auto;
}


    .split-section__icons {
    
    display: flex;
    flex-flow: nowrap;
    gap: 3rem;
    align-items: center;
    }


.split-section__text {
margin-bottom: 3rem;
}

  #Order_ID_01JJSEXVMJ487H9VBZDN30QEQB , #label-Order_ID_01JJSEXVMJ487H9VBZDN30QEQB {
    display: none!important;
  }
.split-section__icons img 
{
    height: 3rem;
}

  #address1_01JJQNHEFH173KGTYSTT7EKVE9 {
    min-height: 16rem!important;
border: 1px solid!important;
  }


  </style>

  <script>



  </script>
    
{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Spread the love"
    }
  ]
}
{% endschema %}
